.color1, .nav__contact a, .slick-dots li.slick-active button:before {
  color: #5F1C21;
}

.color2, .section--style--2 small:nth-child(2), .slick-dots li button:before {
  color: #F4DDBD;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: 1px;
}

div:focus {
  border: 0 !important;
  outline-style: none !important;
  outline-color: #fff !important;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.6;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  background: #F4DDBD;
}

.font1, body {
  font-family: 'neue-haas-grotesk-display';
}

.font2 {
  font-family: 'neue-haas-grotesk-text';
}

.font3, .header__menuMobile, .nav ul li a, .nav__contact a, .section h4, .section h5 {
  font-family: 'bennet-banner';
}

.font4 {
  font-family: 'bennet-banner-condensed';
}

.font5 {
  font-family: 'bennet-banner-extra-condense';
}

.imgfill,
.imgfill > img {
  width: 100%;
  height: 100%;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  -o-object-fit: cover;
  object-fit: cover;
}

.imgfill__top,
.imgfill > img__top {
  -o-object-position: 50% 0;
     object-position: 50% 0;
}

.h100vh {
  height: 100vh !important;
}

.h100 {
  height: 100% !important;
}

@media (max-width: 992px) {
  .h100 {
    height: auto !important;
  }
}

.max-h100 {
  max-height: 100% !important;
}

@media (max-width: 992px) {
  .max-h100 {
    max-height: auto !important;
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.wAuto {
  width: auto !important;
  max-width: none !important;
}

@media (max-width: 992px) {
  .container {
    padding: 0 20px;
    max-width: none;
  }
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 30px 0 0;
  z-index: 11;
}

@media (max-width: 992px) {
  .header {
    padding: 20px 0 0;
  }
}

.header__menuMobile {
  color: #fff;
  position: absolute;
  right: 30px;
  top: 35px;
  font-size: 16px;
  font-weight: bold;
}

@media (max-width: 992px) {
  .header__menuMobile {
    right: 40px;
  }
}

.header__menuMobile.black {
  color: #000;
}

.header__menuMobile.show {
  color: #fff;
}

@media (max-width: 992px) {
  .header__logo {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 90px;
  }
}

.header__logo__img {
  display: block;
}

@media (max-width: 992px) {
  .header__logo__img {
    display: none;
  }
}

.header__logo__imgMobile {
  display: none;
}

@media (max-width: 992px) {
  .header__logo__imgMobile {
    display: block;
  }
}

.header__logo__imgMenu {
  display: none;
}

@media (max-width: 992px) {
  .header__logo__imgMenu {
    display: none;
  }
}

.nav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

.nav ul {
  padding-bottom: 30px;
}

@media (max-width: 992px) {
  .nav ul {
    padding-bottom: 30px;
    display: list-item !important;
    text-align: center;
    width: 100%;
    font-size: 40px;
  }
}

.nav ul li a {
  color: #fff;
  font-weight: bold;
  padding: 10px 20px 10px 0;
}

@media (max-width: 992px) {
  .nav ul li a {
    padding: 0;
  }
}

.nav__contact {
  position: absolute;
  right: 0;
  bottom: 0;
  background: #fff;
  width: 145px;
  height: 50px;
  padding: 15px;
}

@media (max-width: 992px) {
  .nav__contact {
    width: 120px;
    padding: 16px;
  }
}

.nav__contact a {
  font-weight: bold;
  letter-spacing: 0px;
}

@media (max-width: 992px) {
  .nav__contact a {
    font-size: 12px;
  }
}

.nav__contact a img {
  width: 25px;
  position: absolute;
  right: 10px;
  margin: auto;
  top: 0;
  bottom: 0;
}

.nav__contact.black {
  background: #5F1C21;
}

.nav__contact.black a {
  color: #fff;
}

.nav__logo {
  position: absolute;
  left: 30px;
  bottom: 30px;
  width: 80px;
}

@media (max-width: 992px) {
  .nav__inner {
    height: 100%;
    background: #5F1C21;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav__inner.show {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.nav__inner.black ul li a {
  color: #000;
}

.nav__inner.show ul li a {
  color: #fff;
}

.nav__logoMobile {
  display: none;
}

.section {
  color: #fff;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.section h4, .section h5 {
  font-weight: 700;
  font-size: 50px;
  margin: 0 0 30px 0;
}

@media (max-width: 992px) {
  .section h4, .section h5 {
    font-size: 45px;
  }
}

@media (max-width: 992px) {
  .section h4 {
    margin-bottom: 50px;
  }
}

.section h5 {
  font-size: 30px;
}

.section p {
  margin: 3px 0 20px;
  letter-spacing: 1px;
  font-size: 16px;
}

@media (max-width: 992px) {
  .section p {
    font-size: 16px;
  }
}

.section ul {
  list-style-type: disc;
}

.section ul li {
  list-style: disc;
  margin-left: 20px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #000;
  margin: 2px 0 2px 20px;
}

.section .container {
  padding: 100px 0;
}

@media (max-width: 1100px) {
  .section .container {
    padding: 100px 20px;
    max-width: none;
  }
}

.section .scrollDown {
  position: fixed;
  right: 0;
  top: 50%;
  padding-right: 50px;
  margin-top: -65px;
}

@media (max-width: 992px) {
  .section .scrollDown {
    position: relative;
    right: auto;
    top: 0;
    margin-top: 0;
    padding: 0;
  }
}

.section .scrollDown span {
  display: block;
  width: 5px;
  margin: 10px 0 10px auto;
}

@media (max-width: 992px) {
  .section .scrollDown span {
    margin: 10px 0 10px 0;
    width: 4px;
  }
}

.section .scrollDown small {
  display: block;
  font-size: 20px;
}

@media (max-width: 992px) {
  .section .scrollDown small {
    font-size: 16px;
  }
}

.section--style--1 h4 {
  color: #5F1C21;
}

.section--style--1 h5 {
  color: #000;
}

.section--style--1 p {
  color: #000;
}

.section--style--1 .item > div {
  border-right: 1px solid #ACACAC;
}

.section--style--1 .item > div:last-child {
  border: none;
}

.section--style--2 {
  background: #5F1C21;
  color: #fff;
}

.section--style--2 h4 {
  color: #F4DDBD;
  margin-bottom: 5px;
}

.section--style--2 p {
  font-size: 16px;
}

.section--style--2 ul li {
  color: #fff;
}

.section--style--2 small {
  font-weight: bold;
  display: block;
}

.section--style--2 small:nth-child(2) {
  margin-bottom: 30px;
}

.section--style--3 {
  background: #fff;
  color: #000;
}

.section--style--3 h4 {
  color: #5F1C21;
  margin-bottom: 60px;
}

.section__1 {
  background-image: url(../images/bg_1.jpg);
}

@media (max-width: 992px) {
  .section__1 {
    background-size: 100%;
    background-position: center bottom;
    background-color: #E0CCB0;
  }
}

.section__1 h4 {
  margin: 0;
  font-family: 'neue-haas-grotesk-display' !important;
  font-weight: 500;
}

.section__2 {
  background-image: url(../images/bg_2.jpg);
  background-size: contain;
  background-position: right;
}

@media (max-width: 1100px) {
  .section__2 {
    background-image: none;
    display: block !important;
  }
}

@media (max-width: 1100px) {
  .section__2 .container {
    padding: 0 0 100px 0;
  }
}

@media (max-width: 1100px) {
  .section__2 .container .row div {
    padding: 100px 40px 0 40px;
  }
}

.section__2 p {
  font-size: 20px;
}

.section__2 img {
  display: none;
  width: 100%;
}

@media (max-width: 1100px) {
  .section__2 img {
    display: block;
  }
}

.section__3 {
  background-image: url(../images/bg_3.jpg);
  position: relative;
}

@media (max-width: 1100px) {
  .section__3 {
    background-image: none;
    background-size: 100%;
    background-position: center top;
    background-color: #5F1C21;
    min-height: auto;
  }
}

.section__3 hr {
  display: none;
  position: absolute;
  bottom: 0;
}

@media (max-width: 992px) {
  .section__3 hr {
    display: block;
  }
}

.section__3 img {
  display: none;
  width: 100%;
}

@media (max-width: 1100px) {
  .section__3 img {
    display: block;
  }
}

@media (max-width: 1100px) {
  .section__3 .container {
    padding: 0 0 100px 0;
  }
}

@media (max-width: 1100px) {
  .section__3 .container .row div {
    padding: 100px 40px 0 40px;
  }
}

@media (max-width: 992px) {
  .section__4 .row {
    margin-bottom: 100px;
  }
}

.section__4 .row:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

.section__4 img {
  margin-bottom: 20px;
  display: none !important;
}

@media (max-width: 992px) {
  .section__4 img {
    display: block !important;
  }
}

.section__4__foto {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.section__4__foto img {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

@media (max-width: 992px) {
  .section__4__foto {
    display: none !important;
  }
}

.section__5 br {
  display: none;
}

@media (max-width: 992px) {
  .section__7 .text-center {
    text-align: left;
  }
}

@media (max-width: 992px) {
  .section__7 h4 {
    margin-bottom: 0;
  }
}

.footer {
  background: #5F1C21;
  height: 300px;
  min-height: auto;
  padding-top: 50px;
  color: #fff;
}

.footer .container {
  padding: 0 20px;
}

@media (max-width: 992px) {
  .footer .text-right {
    text-align: left;
  }
}

.footer p {
  font-size: 12px;
  font-weight: 300;
}

@media (max-width: 992px) {
  .footer p {
    margin-bottom: 0;
  }
}

.slick-dots li button:before {
  opacity: 1;
  font-size: 20px;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
}

.slick-dots {
  bottom: 0;
  position: relative;
  padding: 40px 0 0;
}

.btn {
  background: #fff;
  padding: 20px 40px;
  font-size: 20px;
  color: #000;
  letter-spacing: 1px;
  border-radius: 50px;
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 992px) {
  .btn {
    max-width: 100%;
  }
}

.btn img {
  width: 20px;
  position: absolute;
  right: 40px;
  top: 0;
  bottom: 0;
  margin: auto;
}
