//-------------------------------------------------------------------------------
  @name: Config
  @description: Config wesbite
  -------------------------------------------------------------------------------//

-
  // Suffix Title
  suffixSiteTitle = '- Legion Pro 7i';
  suffixSiteDescription = '- Legion Pro 7i';
  suffixSiteKeywords = 'Legion Pro 7i, lenovo';

  // Time Refresh
  timeRefresh = 900;

  // Site App Name
  siteAppName = 'Legion Pro 7i';

  // Site Domain
  siteDomain = 'lenovo.com';

  // Site URL
  siteURL = 'https://www.lenovo.com';

  // Site Theme
  siteTheme = '#000';

  // Author
  author = 'Lenovo';
  copyright = '2022 Legion Pro 7i. All Right Reserved';

  // SEO Frienldy
  seoFriendly = false;
  cannonical = 'https://www.lenovo.com';

  // OG Facebook
  ogFacebook = {
    enable: true,
    url: 'https://www.facebook.com/lenovo.com',
    type: 'website',
    section: 'home',
    published_time: '2019-04-26 17:35:30T+07:00',
    modified_time: '2019-04-26 17:35:30T+07:00',
    expiration_time: '2019-04-26 17:35:30T+07:00',
    image: 'assets/images/default/og-facebook.jpg',
    imageType: 'image/jpeg'
  };

  // Twitter Card
  twitterCard = {
    enable: true,
    twitterId: '@lenovo',
    sizeCard: 'summary_large_image',
    image: 'assets/images/default/twitter-card.jpg'
  };

  // Manifest
  manifest = 'assets/js/data/manifest.json';

  // Icons
  icons = {

    // Web Favicon
    webFavicon: 'assets/images/homescreen/favicon.ico',

    // Add to Home Screen
    homescreen: {

      // Android
      android: {
        s16: 'assets/images/homescreen/favicon-16x16.png',
        s32: 'assets/images/homescreen/favicon-32x32.png',
        s96: 'assets/images/homescreen/favicon-96x96.png',
        s144: 'assets/images/homescreen/android-icon-144x144.png',
        s192: 'assets/images/homescreen/android-icon-192x192.png'
      },

      // Microsoft
      microsoft: {
        s144: 'assets/images/homescreen/ms-icon-144x144.png'
      },

      // iOS
      iOS: {
        default: 'assets/images/homescreen/apple-icon.png',
        s57: 'assets/images/homescreen/apple-icon-57x57.png',
        s60: 'assets/images/homescreen/apple-icon-60x60.png',
        s72: 'assets/images/homescreen/apple-icon-72x72.png',
        s76: 'assets/images/homescreen/apple-icon-76x76.png',
        s114: 'assets/images/homescreen/apple-icon-114x114.png',
        s120: 'assets/images/homescreen/apple-icon-120x120.png',
        s144: 'assets/images/homescreen/apple-icon-144x144.png',
        s152: 'assets/images/homescreen/apple-icon-152x152.png',
        s180: 'assets/images/homescreen/apple-icon-180x180.png'
      }
    }
  };

  //- Social Media
  socialMedia = [
    {
      network: 'youtube',
      url: 'https://www.youtube.com/lenovo.com',
      logo: 'youtube'
    },
    {
      network: 'facebook',
      url: 'https://www.facebook.com/lenovo.com',
      logo: 'facebook'
    },
    {
      network: 'instagram',
      url: 'https://www.instagram.com/lenovo',
      logo: 'instagram-circle'
    },
    {
      network: 'twitter',
      url: 'https://twitter.com/lenovo',
      logo: 'twitter-circle'
    }
  ];

  // schema
  schema = {
    enable: false,
    url: siteURL,
    name: siteAppName,
    logo: siteURL + '/assets/images/logo/bilik-id.png',
    contactPoint: [
      {
        telephone: '+62-818-068-18424',
        contactType: 'sales',
        areaServed: 'ID'
      }
    ],
    sameAs: [
      socialMedia[0].url,
      socialMedia[1].url,
      socialMedia[2].url,
      socialMedia[3].url
    ],
    search: {
      enable: false,
      url: 'https://www.lenovo.com/search/{search_term_string}?src=mc_google'
    }
  };

  //- holdTransitionClass
  holdTransitionClass = 'hold-transition';


  //=======================================================
  //--------------------- ASSETS --------------------------
  //=======================================================

  // CSS
  //--- CSS: Main
  cssMain = 'assets/css/app.min.css?40';
  cssTailwind = 'assets/css/tailwind.css';

  //--- JS
  //--- JS: Vendor
  jsVendor = 'assets/js/vendor.min.js';

  //--- JS: Main
  jsMain = 'assets/js/app.min.js?40';
