/*header*/
.menu{
  position: fixed;
  left: -325px;
  top: 0;
  width: 300px;
  height: 100vh;
  background: $cl_2;
  z-index: 9999;
  text-align: center;
  -webkit-box-shadow: 9px 0px 19px -9px rgba(0,0,0,0.6);
  -moz-box-shadow: 9px 0px 19px -9px rgba(0,0,0,0.6);
  box-shadow: 9px 0px 19px -9px rgba(0,0,0,0.6);

  &.show{
    left: 0;
    @include base_transition(all);
  }

  h2{
    padding: 20px 0;
    color: #fff;
    color: #47003a;
    span{
      font-size: 15px;
      position: absolute;
      right: 10px;
      top: 15px;
      cursor: pointer;
      padding: 10px;
    }
  }
  ul li{
    display: list-item;
    text-align: center;
    border-top: 1px solid #620051;
    a{
      font-size: 25px;
      color: #fff;
      padding: 10px 0;
      width: 100%;
    }
  }
}
.header{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 999;

  @include max-responsive($ssm){
    padding: 0 10px;
  }

  &.fix{
    height: 60px;
    position: fixed;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.44);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.44);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.44);
  }

  &__home{

    &.fix{
      background: url(../images/head.jpg) no-repeat;
      background-attachment: fixed;
      width: 100%;
      //background-size: 115%;

      @include min-responsive($xxs){
        padding: 0 10px;
      }
      @include min-responsive($sm){
        background-size: 150%;
        padding: 0;
      }
      @include min-responsive($lg){
        background-size: 115%;
      }

      & h1{
        display: block;;
      }
      & .oppokompas{
        display: block;
      }
    }
    & h1{
      display: none;
    }
    & .oppokompas{
      display: none;

      &.fix{
        display: block;
        position: relative;
        top: -3px;
        display: block;
        @include max-responsive($ssm){
          display: none;
        }
        & img{
          width: 50%;
        }
      }
    }
  }
  &__read{
    background: url(../images/head.jpg) no-repeat;
    background-attachment: fixed;


    @include min-responsive($xxs){
      padding: 0 10px;
      height: 200px;
    }
    @include min-responsive($sm){
      background-size: 150%;
      padding: 0;
      height: 210px;
    }
    @include min-responsive($lg){
      background-size: 115%;
    }

    &__panel{
      padding-top: 15px;

      & .m_menu{
        float: left;
        margin-right: 10px;
        cursor: pointer;
        z-index: 999;
      }
      & h1{
        font-size: 20px;
        font-weight: normal;
        line-height: 0.9;
        letter-spacing: -0.4px;
        color: #fff;
        overflow: hidden;
        position: relative;
        top: 5px;
        left: 5px;
      }
      & .oppokompas{
        @include max-responsive($ssm){
          margin-top: 15px;
        }
        img{
          width: 70%;

          @include min-responsive($xxs){
            float: none;
          }
          @include min-responsive($sm){
            float: right;
          }
        }
        &.fix{
          position: relative;
          top: -3px;
          @include max-responsive($ssm){
            display: none;
          }
          & img{
            width: 50%;
          }
        }
      }
    //panel
    }

    &__feature{
      @include min-responsive ($xxs){
        margin-top: 40px;
      }
      @include min-responsive ($ssm){
        margin-top: 20px;
      }
      @include min-responsive ($sm){
        margin-top: 70px;
      }

      & h2{
        font-size: 48px;
        font-weight: 300;
        color: #e28cb3;
      }
    //feature
    }

  //read
  }
//header
}
