.main{

  &__read{
    padding-top: 200px;

    &__inner{
      padding: 20px 0;
      @include max-responsive($ssm){
        padding: 0 10px;
      }
    }
    &__title{
      padding: 10px 0;

      h3{
        font-size: 48px;
        font-weight: 300;
        letter-spacing: 0.2px;
        color: #4a4a4a;
        @include max-responsive($ssm){
          font-size: 26px;
        }
      }
    }
    & .kcm-date{
      font-weight: 300;
      span{
        font-size: 16px;
        font-weight: normal;
        line-height: 1.5;
        letter-spacing: 0.1px;
        color: #c21945;
      }
    }

    & .kcm-social-share {
      @include max-responsive($ssm){
        padding: 10px 0px 10px;
        float: left;
        clear: both;
      }

    }
    & .sidemain{
      font-family: $font_2;
      @include min-responsive($lg){
        width: 750px;
      }

      & .kcm-read-text,
      & p{
        font-size: 18px;
        font-weight: 300;
        line-height: 1.56;
        letter-spacing: 0.1px;
        color: #1e1e1e;
        font-family: $font_2;
      }

    //sidemain
    }

    //page foto, video
    & .post_popup,
    & .post_index{

        & .post{
          margin-bottom: 25px;
          margin-top: 25px;

          @include max-responsive($ssm){
            margin-bottom: 10px;
            margin-top: 10px;
            padding: 0;
          }

          &__img{
            display: block;
            position: relative;
          }
        }
        &--video{
          & .post__img{

            &:hover{
              &:before{
                opacity: 1;
              }
            }
            &:before{
              @include base_transition(all);
              background: url(../images/play-copy-2.png) no-repeat center center;
              content: "";
              height: 100%;
              position: absolute;
              text-align: center;
              width: 100%;
              z-index: 9;
              opacity: 0.5;
            }
          }
        }
    }

    & .sidebar{
      @include min-responsive($lg){
        width: 360px;
      }
      float: right;

      & > div{
        margin-bottom: 30px;
      }

      &__banner{
        background-color: #f1f1f1;
        border: solid 1px #dfdede;
        padding: 29px;
        text-align: center;
        @include max-responsive($xs){
          padding: 0;
        }
      }

      &__artikel_pilihan{
        h3{
          font-size: 24px;
          font-weight: 300;
          color: #750f63;
          margin: 10px 0;
        }
        ul li{
          margin-bottom: 30px;

          & .post_item{
            margin-bottom: 10px;
          }
          a{
            font-size: 20px;
            font-weight: 500;
          }
        //li
        }
      //pilihan
      }

    //sidebar
    }

    & .topik_pilihan{
      margin-bottom: 0;
      overflow: hidden;
    }
  //read
  }

//main
}
