@font-face {
	font-family: 'OceanSansForAventis';
	src: url('../fonts/OceanSansForAventis-Book.eot');
	src: url('../fonts/OceanSansForAventis-Book.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OceanSansForAventis-Book.woff') format('woff'),
		url('../fonts/OceanSansForAventis-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Nokia Standard Rom';
	src: url('../fonts/NokiaStandardRom-Regular.eot');
	src: url('../fonts/NokiaStandardRom-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NokiaStandardRom-Regular.woff') format('woff'),
		url('../fonts/NokiaStandardRom-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
