/*–––––––––––––LAYOUT–––––––––––––*/
[class*=col]{
	float:left;
	position:relative;
	//padding-left:20px;
	@include min-responsive($md){
		//margin-left:0;
	}
	@include min-responsive($lg){
		//margin-left:20px;
	}
}
[class*=col]:first-child{margin-left:0}
.col-x{width: auto;}
.w100{width:100%}
.w75{width:75%}
.w50{width:50%}
.w25{width:25%}


.container {
	height: 100%;
	margin: 0 auto;	
	*zoom: 1;
	position: relative;

	&.diagram{
		@include max-responsive(360px){
			padding: 0;
		}
		
	}

	@include min-responsive(320px){
		padding: 0 1%;
	}
	
	@include min-responsive($ssm){
		padding: 0;
	}



}

/*–––––––––––––Clearing–––––––––––––*/
.clearfix,
.row{
	&:after,
	&:before {
		display: table;
		content: "";
		line-height: 0;
	}
	&:after {
		clear: both;
	}
}

.clearfix{
	clear: both;
}