#fullpage {
    z-index: 1000;
}
//--background
.section__bg,
.static__bg{
	height: 100%;
    position: absolute;
    width: 100%;

    & img{
    	bottom: 0;
		width: 100%;
		position: absolute;
		left: 0;
    }

   
}
.section__bg{
    z-index: 300;
 	&__awan{
 		img{
 			top: 10%;
 		}
    }
}
//text	
.text{
	&.center{
		p{
			text-align: center;
			@include min-responsive(320px){
				font-size: 16px;
				text-align: center;
			}
			@include min-responsive($ssm){
				font-size: 22px;
			}
		}
	}
	&.top1{
		

		@include min-responsive(320px){
		    margin: 0 auto;
			float: none;
			top: auto;
			left: auto;
		}
		@include min-responsive($ssm){
			top: -145px;
			left: 110px;
			float: left;
		}
	}
	p{
		font-family: $font_body;
		font-weight: 300;
		color: #fff;

		@include min-responsive(320px){
			font-size: 16px;
			text-align: center;
		}

		@include min-responsive($ssm){
			font-size: 22px;
			text-align: left;
		}

	}

	h2{
		color: #fff;
		font-weight: normal;
		text-align: center;
		@include min-responsive(320px){
			font-size: 18px;
		}
		@include min-responsive($ssm){
			font-size: 28px;
		}
	}
}
//content
.static{

	&__bg{
	    bottom:0;
	    position: fixed;
		left: 0;
		opacity: 1;
	    @include base_transition(all);

	    &--image{
	    	top:100%;
			background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			-webkit-background-size: cover;
	    }
	    &__2{
	    	background: url(../images/scane/bg_2.jpg) no-repeat 50% 50% fixed;
	    }
	    &__3{
	    	background: url(../images/scane/bg_3.jpg) no-repeat 50% 50% fixed;
	    }
	    &__4{
	    	background: url(../images/scane/bg_4.jpg) no-repeat 50% 50% fixed;
	    }
	    &__5{
	    	top:100%;
	    	background: #353535;
	    }
	    &__5b{
	    	top:100%;
	    	background: #353535;
	    }
	    &__6{
	    	left:100%;
	    	background: #F3DB03;
	    }	    
	    &__7{
	    	background: url(../images/scane/bg_5.jpg) no-repeat 50% 50% fixed;
	    }	    
	    &__8{
	    	top:100%;
	    	background: #191919;
	    }

	}

	&__img{
	    display: block;
	    height: 100%;
	    left: 0;
	    position: fixed;
	    top: 0;
	    width: 100%;
	    z-index: 1;
	    @include base_transition(all);

	    & img{
	    	position: absolute;
	    }

	    &__cover{
	    	background: url(../images/cover/cover.jpg);
	    	background-position: center center;
			background-repeat:  no-repeat;
			background-size:  cover;

			&__inner{
				height: 100%;
			    left: 0;
			    position: absolute;
			    top: 0;
			    width: 100%;
				
		    	

				@include min-responsive(320px){
					background: url(../images/cover/cover_inner_mobile.png);
					background-position: center center;
					background-repeat:  no-repeat;
					background-size:  100%;
				}
				@include min-responsive(481px){
					background: url(../images/cover/cover_inner.png);
					background-position: center center;
					background-repeat:  no-repeat;
					background-size:  cover;
				}


			}
	    }
	    &__vector{
	    	left: 100%;

	    	img{
	    		bottom: 0;
	    	}

	    	&--1{
	    		top: 200% !important;
	    		left: 0;
	    	}
	    	&--2{

	    		& .car{
	    			left: 0;
	    			@include base_transition2(all, 2s);

	    			&.showed{
	    				left: 45%;
	    			}
    				
	    		}
	    		
	    	}
	    }
	    &__moon{
	    	top:-200%;

	    	img{
	    		top: 0;
	    	}
	    }
	    &__circle{

	    	&--a,
	    	&--b,
	    	&--c,{
	    		top: -100%;
	    		@include base_transition(all);
	    	}

	    	&--1,
	    	&--2,
	    	&--3{	
	    		right: 0;
	    		top: 0;
	    		@include base_transition(all);

	    		&.showed{
					right: 65%;

					@include min-responsive(320px){
						top: 90%;
					}
					@include min-responsive(481px){
						top: 60%;
					}

	    		}
	    	}
	    }
	    &__content__bg{
	    	left: 100%;
	    }
	    &__content{
	    	position: absolute;
	    }

	}
}

//fullpage content
.fullpage{
	
	&__cover{
		display: none;

		& .full-height{
			position: relative;

			@include min-responsive(320px){
				top: -20px;
			}
			@include range-responsive(480px, 640px){
				top: 0;
			}
			@include min-responsive(641px){
				top: -45px;				
			}
		}
		&__title{
			margin: 0 auto !important;
			float: none !important;

			img{
				position: absolute;
			}
			@include min-responsive(320px){
				top: -15px
			}
			@include min-responsive(481px){
				top: 0;	
			}
		}
		& #view-initiatives-button{
			
			background: #edd81a;
			padding: 15px 25px;
			border-radius: 30px;
			position: relative;
			display: table;
			margin: 0 auto;

			&:hover{
				transform: scale(1);
			}

			@include min-responsive(320px){
				top: 25px;
				font-size: 14px;
			}			
			@include range-responsive(480px, 640px){
				top: 0;
			}
			@include min-responsive(641px){
				top: 45px;
				font-size: 22px;
			}

			
			
		}
	}

	&__map{
		h2{
			display: none;
		}
		&__maps{
			position: relative;
			margin: 15px auto;

			@include range-responsive(480px, 640px){
				width: 60%;
			}

			& .map_index{
				position: relative;
				display: none;
			}
			& .map{				
				position: absolute;
				top: 0;
				left: 0;
				display: none;
			}
		}
		&__nav{
			text-align:  center;
			display: none;

			@include min-responsive(320px){			
		        margin-top: 55px;
			}
			@include min-responsive($ssm){
				margin-top: 20px;
			}


			ul li{
				font-weight: bold;
				cursor: pointer;
				background: #F5E201;

				@include min-responsive(320px){			
				    padding: 6px 10px;
				    border-radius: 20px;
				    font-size: 16px;   
				    margin: 0;
				}
				@include min-responsive($ssm){
					background: #F5E201;
					padding: 8px 22px;
					border-radius: 20px;
					font-size: 20px;
					margin: 0 5px;
				}

				&:hover{
					background: #e29a24;
				}
				&.active{
					background: #e29a24;
				}
			}
		}
		&__ket{
			position: absolute;
			display: none;
			color: #fff;
			margin: 0 auto;

			@include min-responsive(320px){			
			    bottom: -31%;
			    left: 0;			    
			    right: 0;			    
			    text-align: center;
			}
			@include min-responsive($ssm){
				bottom: 0;
				left: 10%;
				text-align: left;
				right: auto;
			}
		}
	}

	&__graphic{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;


		& .center1{

			@include max-responsive(360px){
				display: table;
				height: 100%;
				width: 100%;
				position: relative;
			}	

		}

		& .center2{
			@include max-responsive(360px){
				height: 100%;
				width: 100%;
				display: table-cell;
				vertical-align: middle;
			}
			@include min-responsive($ssm){
				position: absolute;
				height: 100%;
				width: 100%;
				left: 0;
				top:0;
			
			}
			
		}

		&__a,
		&__b{
			@include min-responsive(320px){
		        height: auto;
			}
			@include min-responsive($ssm){
				height: 100%;
			}
		}
		&__b{
			
			& .text p {

				@include min-responsive(320px){
			        color: #fff; 
			        font-size: 13px;
				}
				@include min-responsive($ssm){
					color: #353535; 
					font-size: 22px;
					font-weight: 400;
				}	

				@include range-responsive(480px, 640px){
					font-size: 12px;
				}
			}
			@include min-responsive(320px){
		        margin-top: 10px;
		        background: none;
			}
			@include min-responsive($ssm){
				margin-top: 0;
				background: #F3DB03;
			}			
		}
		&__none{
			background: none !important;
	
		}

		& .graphic_wrap{

			h2{

				font-weight: bold;				

				@include min-responsive(320px){
					margin-bottom: 5px;
					font-size: 26px;
				}
				@include min-responsive($ssm){
					margin-bottom: 20px;
					font-size: 35px;
				}
			}
			&__inner{

				@include min-responsive(320px){
					width: 40%;
	    			margin: 0 auto;
				}
				@include min-responsive($ssm){
					width: 100%;
				}

				img{
					display: none;
					position: relative;
					margin: 0 auto;
					width: 50%;
				}
				& img.showed{
						display: block;
					}
			}	
			&__nav{
				text-align:  center;
				

				@include min-responsive(320px){
				    margin-top: 5px;
				}
				@include min-responsive($ssm){
					margin-top: 20px;
				}



				ul li{
					background: #F5E201;					
					border-radius: 20px;					
					font-weight: bold;
					margin: 0 5px;
					cursor: pointer;

					@include min-responsive(320px){
					    padding: 8px 15px;
					    font-size: 12px;
					}
					@include min-responsive($ssm){
						padding: 8px 22px;
						font-size: 20px;
					}

					&:hover{
						background: #e29a24;
					}
					&.active{
						background: #e29a24;
					}
				}
			}
			&__ket{
				position: absolute;
				
				left: 5%;
				width: 20%;
				height: 11%;

				@include min-responsive(320px){
					bottom: 35%;
				}
				@include min-responsive($ssm){
					bottom: 10%;
				}

				
			}
		}
	}

	&__galeri{
		@include range-responsive(480px, 640px){
			width: 50%;
		}

		&__tab{
			
			overflow: hidden;

			@include min-responsive(320px){
				padding: 10px 0;
			}
			
			@include min-responsive($ssm){
				padding: 15px 0;
			}


			ul li{
				background: #8C7C03;
				
				font-size: 20px;
				padding: 10px 0;
				cursor: pointer;

				&.active{
					background: #F3DB03;
				}

				&:hover{
					background: #D6AD00;
				}
			}

			ul li:first-child{
				border-right: 5px solid #E6B520;
			}

			&__foto{
				ul {
					overflow: hidden;
				}
				& .line{
					position: absolute;
					left: 0;
					width: 10px;
					top: -6px;
				}
			}
			&__video{

				& .line{
					position: absolute;
					right: 0;
					width: 10px;
					top: -6px;
				}
			}
			& .keran{
				position: absolute;
				top: -17px;
				left: 0;
				right: 0;
				margin: 0 auto;
				width: 10%;
				z-index: -1;
				display: none;

				@include min-responsive(320px){
					top: -7px;
				}
				@include min-responsive($ssm){
					top: -17px;
				}

				&.active{
					display: block;
				}
			}
		}

		&__content{

			&__foto,
			&__video{
				
				/* @include min-responsive(320px){
				    height: auto;
				}
				@include min-responsive($ssm){
					height: 630px;			
				} */
			}

			&__foto{

				ul{
					max-height: 450px;
					//overflow-y: scroll;
					overflow-y: hidden;

					li{
					
						@include min-responsive(320px){
						    opacity: 1;	
						}
						@include min-responsive($ssm){
							opacity: 0.5;		
						}

						@include base_transition(all);

						&:hover{
							opacity: 1;
						}
					}
				}
			}
			& .btn_more{
				font-weight: bold;
				cursor: pointer;
				background: #F5E201;
				font-size: 16px;
				display: table;
				margin: 10px auto;

				@include min-responsive(320px){
				    padding: 6px 10px;
				    border-radius: 20px;
				}
				@include min-responsive($ssm){
					padding: 8px 22px;
					border-radius: 20px;			
				}
			}
			&__video{
				display: none;

				& .wrap_video-placeholder{

					@include min-responsive(320px){
					    padding-bottom: 52%;
					}
					@include min-responsive($ssm){
						padding-bottom: 33%;			
					}

					& .video_play{
						display: none;
/* 
						@include min-responsive(320px){
							height: 200px;
						}
						@include min-responsive($ssm){
							height: auto;
						} */

						&.showed{
							display: block;
						}
					}
				}
				ul{
					overflow: hidden;

					li{
						cursor: pointer;
						
						@include base_transition(all);

						&:hover{
							opacity: 1;
						}

						@include min-responsive(320px){
							margin: 10px 5px !important;
							opacity: 1;
						}
						@include min-responsive($ssm){
							margin:10px 15px !important;
							opacity: 0.5;
						}
					}
				}
			}
		}
	}
	&__sponsor{
		
		& .logo_pgn{			
			margin: 0 auto;

			@include min-responsive(320px){
				width: 20%;
			}
			@include min-responsive($ssm){
				width: 100%;
			}
		}
		&__link,
		& .sponsor__link{
			
			@include min-responsive(320px){
				margin-bottom: 15px;
			}
			@include min-responsive($ssm){
				margin-bottom: 20%;
			}
			p{
				font-size: 16px;
				
				a {
					text-decoration: underline;
				}
				strong{
					font-weight: bold;
				}

				&:hover{
					text-decoration: underline;
				}
			}
		}
	}

	&__credit{
		@include min-responsive(320px){
			padding: 0 3px;
			margin:5px 0;
		}
		@include min-responsive($ssm){
			padding: 0 15px;
			margin: 20px 0;
		}

		&__inner{
			
			@include min-responsive(320px){
				margin-bottom: 15px;
			}
			@include min-responsive($ssm){
				margin-bottom: 0;
			}
		}

		h2{
			color: #fff;
			text-align: left !important;
			border-bottom: 1px solid rgba(255,255,255,.4);
			
			font-weight: bold;
			margin: 0 10px;
		}
		ul{
			list-style: none;
			margin: 0;
			padding: 0;
			color: #fff;
			li{	
				display: list-item;
				
				@include max-responsive(360px){
					margin: 1px 10px;
					font-size: 13px;
				}
				@include min-responsive($ssm){
					margin: 5px 10px;
					font-size: 16px;
				}
			}
		}
	}

	& .section{

		&__video{
			margin: 0 auto;
			float: none;

			h2{
				

				@include max-responsive(360px){
					margin: 10px 0;
					font-size: 20px;
				}
				@include min-responsive($ssm){
					margin: 20px 0;
					font-size: 34px;
				}

				
			}
		}
	}
}


.socmed{
	margin: 20px 0;
	overflow: hidden;
	a {
		font-size: 14px;
		color: #fff;		
		&:hover{
			text-decoration: underline;
		}
		@include min-responsive(320px){
			display: block;
			padding: 3px;
		}
		@include min-responsive($ssm){
			display: inline;
			padding: 20px;
		}
	}
}

.scrollup {
    position: fixed;
    bottom: 14px;
    display: none;
    right: 20px;
    text-indent: -9999px;
    background: url(../images/ontop.png) no-repeat center center ;
    z-index: 9999;
    background-size: 100%;

    @include min-responsive(320px){
        width: 25px;
        height: 25px;
    }
    @include min-responsive($ssm){
        width: 40px;
        height: 40px;
    }

}