/*–––––––––––––Utilities–––––––––––––*/
.display-table {
	display: table;
	@include display_full();
	position: relative;
	z-index: 1;
}
.display-center {
	display: table-cell;
	vertical-align: middle;
	//text-align: center;
	@include display_full();
}
.center{
	float: none !important;
	margin: 0 auto !important;
	text-align: center;
}
.middle{
	display: table-cell;
	vertical-align:middle
}
.top{
	display: table-cell;
	vertical-align:top
}
.bottom{
	display: table-cell;
	vertical-align:bottom
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.affix {
  position: fixed;
}

.d_table{display: table;}
.d_block{display: block;}

//float
.right{float:right!important}
.left{float:left!important}

//text position
.text-left {text-align: left !important}
.text-right {text-align: right !important}
.text-center {text-align: center !important}

//margin padding
.mt1{margin-top:10px!important}
.mb1{margin-bottom:10px!important}
.mr1{margin-right:10px!important}
.ml1{margin-left:10px!important}
.pt1{padding-top:10px!important}
.pb1{padding-bottom:10px!important}
.pr1{padding-right:10px!important}
.pl1{padding-left:10px!important}
.mt2{margin-top:20px!important}
.mb2{margin-bottom:20px!important}
.mr2{margin-right:20px!important}
.ml2{margin-left:20px!important}
.pt2{padding-top:20px!important}
.pb2{padding-bottom:20px!important}
.pr2{padding-right:20px!important}
.pl2{padding-left:20px!important}
.bolt{font-weight: bold;}

//offset
.offset{
	padding:0 !important;
}
.offset-10{
	padding:0 10px !important;
}
.offset-25{
	padding:0 25 !important;
}

//img 100%
.img_100{
	& img{
		width: 100%;
	}
}
//parallax
.parallax{
	width: 100%;
	position: absolute;
	background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
	top: 0;
	background-attachment: fixed;
}
