//-------------------------------------------------------------------------------
  @name: Config
  @description: Config wesbite
  -------------------------------------------------------------------------------//

-
  // Suffix Title
  suffixSiteTitle = ' UMKM BNI Festival 2023';
  suffixSiteDescription = ' UMKM BNI Festival 2023';
  suffixSiteKeywords = 'UMKM BNI Festival 2023, UMKM, BNI, Festifal, 2023';

  // Time Refresh
  timeRefresh = 900;

  // Site App Name
  siteAppName = 'Bisnis.com';

  //- holdTransitionClass
  holdTransitionClass = 'hold-transition';


  //=======================================================
  //--------------------- ASSETS --------------------------
  //=======================================================

  // CSS
  //--- CSS: Main
  cssTailwind = 'assets/css/tailwind.css';
  //- cssCustom = 'assets/css/custom.css';

  //--- JS
  //--- JS: Vendor
  jsVendor = 'assets/js/vendor.min.js';

  //--- JS: Main
  jsMain = 'assets/js/app.min.js?40';
