/* ==========================================================================
 Init: Fonts
 ========================================================================== */

@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Bold.eot");
  src: url("../fonts/Gotham-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gotham-Bold.woff2") format("woff2"),
    url("../fonts/Gotham-Bold.woff") format("woff"),
    url("../fonts/Gotham-Bold.ttf") format("truetype"),
    url("../fonts/Gotham-Bold.svg#Gotham-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src: url("../fonts/GothamBold-Italic.eot");
  src: url("../fonts/GothamBold-Italic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GothamBold-Italic.woff2") format("woff2"),
    url("../fonts/GothamBold-Italic.woff") format("woff"),
    url("../fonts/GothamBold-Italic.ttf") format("truetype"),
    url("../fonts/GothamBold-Italic.svg#GothamBold-Italic") format("svg");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Medium.eot");
  src: url("../fonts/Gotham-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gotham-Medium.woff2") format("woff2"),
    url("../fonts/Gotham-Medium.woff") format("woff"),
    url("../fonts/Gotham-Medium.ttf") format("truetype"),
    url("../fonts/Gotham-Medium.svg#Gotham-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src: url("../fonts/GothamMedium-Italic.eot");
  src: url("../fonts/GothamMedium-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/GothamMedium-Italic.woff2") format("woff2"),
    url("../fonts/GothamMedium-Italic.woff") format("woff"),
    url("../fonts/GothamMedium-Italic.ttf") format("truetype"),
    url("../fonts/GothamMedium-Italic.svg#GothamMedium-Italic") format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Book.eot");
  src: url("../fonts/Gotham-Book.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gotham-Book.woff2") format("woff2"),
    url("../fonts/Gotham-Book.woff") format("woff"),
    url("../fonts/Gotham-Book.ttf") format("truetype"),
    url("../fonts/Gotham-Book.svg#Gotham-Book") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-BookItalic.eot");
  src: url("../fonts/Gotham-BookItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gotham-BookItalic.woff2") format("woff2"),
    url("../fonts/Gotham-BookItalic.woff") format("woff"),
    url("../fonts/Gotham-BookItalic.ttf") format("truetype"),
    url("../fonts/Gotham-BookItalic.svg#Gotham-BookItalic") format("svg");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Legion";
  src: url("../fonts/Legion.eot?rvbkpe");
  src: url("../fonts/Legion.eot?rvbkpe#iefix") format("embedded-opentype"),
    url("../fonts/Legion.ttf?rvbkpe") format("truetype"),
    url("../fonts/Legion.woff?rvbkpe") format("woff"),
    url("../fonts/Legion.svg?rvbkpe#Legion") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
