@charset "UTF-8";
/* --------------------------------------------------------
Kompas.com - 2016

author	: Ragil Hadianto
email	: ragil.hadianto@kompas.com
website	: http://www.kompas.com/

----------------------------------------------------------*/
/* line 2, ../scss/sass/main/_preload.scss */
#preloader {
  background: #1A2133;
  height: 100%;
  width: 100%;
  z-index: 999999;
  position: fixed;
}
/* line 9, ../scss/sass/main/_preload.scss */
#preloader .container {
  height: auto;
}

/* line 14, ../scss/sass/main/_preload.scss */
.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 0 auto;
}

/* line 22, ../scss/sass/main/_preload.scss */
.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #EDD81A;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

/* line 36, ../scss/sass/main/_preload.scss */
.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
/* line 2, ../scss/sass/main/_global.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../scss/sass/main/_global.scss */
html {
  margin: 0;
  padding: 0;
}

/* line 11, ../scss/sass/main/_global.scss */
body {
  cursor: url(../images/my-cursor.png), auto;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  line-height: 1.3;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  min-height: 100%;
  overflow: hidden !important;
  position: relative;
}

/* line 32, ../scss/sass/main/_global.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

/* line 44, ../scss/sass/main/_global.scss */
a {
  color: inherit;
  text-decoration: none;
  vertical-align: top;
  outline: 0;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
/* line 50, ../scss/sass/main/_global.scss */
a:hover {
  text-decoration: none;
}

/* line 55, ../scss/sass/main/_global.scss */
a:focus,
button:focus {
  outline: 0;
  outline: -webkit-focus-ring-color auto 0;
  outline-offset: 0;
}

/* line 61, ../scss/sass/main/_global.scss */
img {
  max-width: 100%;
  width: auto;
  height: auto;
  vertical-align: top;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 69, ../scss/sass/main/_global.scss */
table {
  border-collapse: collapse;
}

/* line 72, ../scss/sass/main/_global.scss */
iframe {
  border: none;
  vertical-align: top;
}

/* line 76, ../scss/sass/main/_global.scss */
li, ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 81, ../scss/sass/main/_global.scss */
ul li,
ul li a {
  display: inline-block;
  list-style: none;
  vertical-align: top;
}

/* line 88, ../scss/sass/main/_global.scss */
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* line 97, ../scss/sass/main/_global.scss */
input:focus::-webkit-input-placeholder,
input:focus:-moz-placeholder,
input:focus::-moz-placeholder,
input:focus:-ms-input-placeholder {
  color: transparent;
}

/* line 104, ../scss/sass/main/_global.scss */
input[type=button],
input[type=checkbox],
input[type=radio],
input[type=reset],
input[type=submit],
label, select {
  cursor: pointer;
}

/* line 113, ../scss/sass/main/_global.scss */
input[type=search] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

/* line 120, ../scss/sass/main/_global.scss */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 125, ../scss/sass/main/_global.scss */
button, input[type="button"],
input[type="checkbox"],
input[type="radio"],
input[type="reset"],
input[type="submit"],
label,
select {
  cursor: pointer;
}

/* line 135, ../scss/sass/main/_global.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 140, ../scss/sass/main/_global.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1.2;
  color: inherit;
  text-rendering: optimizelegibility;
}

/* line 147, ../scss/sass/main/_global.scss */
h1, h2, h3 {
  line-height: 1.3;
}

/* line 151, ../scss/sass/main/_global.scss */
h1 {
  font-size: 2.5em;
}

/* line 152, ../scss/sass/main/_global.scss */
h2 {
  font-size: 2em;
}

/* line 153, ../scss/sass/main/_global.scss */
h3 {
  font-size: 1.2857em;
}

/* line 154, ../scss/sass/main/_global.scss */
h4 {
  font-size: 1em;
}

/* line 155, ../scss/sass/main/_global.scss */
h5 {
  font-size: .9375em;
}

/* line 156, ../scss/sass/main/_global.scss */
h6 {
  font-size: .786em;
}

/* line 157, ../scss/sass/main/_global.scss */
p {
  line-height: 1.3;
  margin: 3px 0 15px;
}

/* line 159, ../scss/sass/main/_global.scss */
blockquote {
  position: relative;
  font-size: 20px;
  font-weight: 400;
  margin: 25px 40px;
}
/* line 164, ../scss/sass/main/_global.scss */
blockquote:before, blockquote:after {
  font-family: "icomoon";
  font-size: 30px;
  line-height: 1;
  position: absolute;
}
/* line 171, ../scss/sass/main/_global.scss */
blockquote:before {
  content: "\e901";
  left: -40px;
}
/* line 175, ../scss/sass/main/_global.scss */
blockquote:after {
  content: "\e900";
  padding-left: 10px;
}

/*–––––––––––––LAYOUT–––––––––––––*/
/* line 2, ../scss/sass/main/_grid.scss */
[class*=col] {
  float: left;
  position: relative;
}

/* line 13, ../scss/sass/main/_grid.scss */
[class*=col]:first-child {
  margin-left: 0;
}

/* line 14, ../scss/sass/main/_grid.scss */
.col-x {
  width: auto;
}

/* line 15, ../scss/sass/main/_grid.scss */
.w100 {
  width: 100%;
}

/* line 16, ../scss/sass/main/_grid.scss */
.w75 {
  width: 75%;
}

/* line 17, ../scss/sass/main/_grid.scss */
.w50 {
  width: 50%;
}

/* line 18, ../scss/sass/main/_grid.scss */
.w25 {
  width: 25%;
}

/* line 21, ../scss/sass/main/_grid.scss */
.container {
  height: 100%;
  margin: 0 auto;
  *zoom: 1;
  position: relative;
}
@media (max-width: 360px) {
  /* line 27, ../scss/sass/main/_grid.scss */
  .container.diagram {
    padding: 0;
  }
}
@media (min-width: 320px) {
  /* line 21, ../scss/sass/main/_grid.scss */
  .container {
    padding: 0 1%;
  }
}
@media (min-width: 641px) {
  /* line 21, ../scss/sass/main/_grid.scss */
  .container {
    padding: 0;
  }
}

/*–––––––––––––Clearing–––––––––––––*/
/* line 49, ../scss/sass/main/_grid.scss */
.clearfix:after, .clearfix:before,
.row:after,
.row:before {
  display: table;
  content: "";
  line-height: 0;
}
/* line 55, ../scss/sass/main/_grid.scss */
.clearfix:after,
.row:after {
  clear: both;
}

/* line 60, ../scss/sass/main/_grid.scss */
.clearfix {
  clear: both;
}

@font-face {
  font-family: 'OceanSansForAventis';
  src: url("../fonts/OceanSansForAventis-Book.eot");
  src: url("../fonts/OceanSansForAventis-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/OceanSansForAventis-Book.woff") format("woff"), url("../fonts/OceanSansForAventis-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Nokia Standard Rom';
  src: url("../fonts/NokiaStandardRom-Regular.eot");
  src: url("../fonts/NokiaStandardRom-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/NokiaStandardRom-Regular.woff") format("woff"), url("../fonts/NokiaStandardRom-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/*–––––––––––––Utilities–––––––––––––*/
/* line 2, ../scss/sass/main/_utilities.scss */
.display-table {
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

/* line 8, ../scss/sass/main/_utilities.scss */
.display-center {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

/* line 14, ../scss/sass/main/_utilities.scss */
.center {
  float: none !important;
  margin: 0 auto !important;
  text-align: center;
}

/* line 19, ../scss/sass/main/_utilities.scss */
.middle {
  display: table-cell;
  vertical-align: middle;
}

/* line 23, ../scss/sass/main/_utilities.scss */
.top {
  display: table-cell;
  vertical-align: top;
}

/* line 27, ../scss/sass/main/_utilities.scss */
.bottom {
  display: table-cell;
  vertical-align: bottom;
}

/* line 32, ../scss/sass/main/_utilities.scss */
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 37, ../scss/sass/main/_utilities.scss */
.hide {
  display: none !important;
}

/* line 40, ../scss/sass/main/_utilities.scss */
.show {
  display: block !important;
}

/* line 43, ../scss/sass/main/_utilities.scss */
.invisible {
  visibility: hidden;
}

/* line 46, ../scss/sass/main/_utilities.scss */
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

/* line 53, ../scss/sass/main/_utilities.scss */
.affix {
  position: fixed;
}

/* line 57, ../scss/sass/main/_utilities.scss */
.d_table {
  display: table;
}

/* line 58, ../scss/sass/main/_utilities.scss */
.d_block {
  display: block;
}

/* line 61, ../scss/sass/main/_utilities.scss */
.right {
  float: right !important;
}

/* line 62, ../scss/sass/main/_utilities.scss */
.left {
  float: left !important;
}

/* line 65, ../scss/sass/main/_utilities.scss */
.text-left {
  text-align: left !important;
}

/* line 66, ../scss/sass/main/_utilities.scss */
.text-right {
  text-align: right !important;
}

/* line 67, ../scss/sass/main/_utilities.scss */
.text-center {
  text-align: center !important;
}

/* line 70, ../scss/sass/main/_utilities.scss */
.mt1 {
  margin-top: 10px !important;
}

/* line 71, ../scss/sass/main/_utilities.scss */
.mb1 {
  margin-bottom: 10px !important;
}

/* line 72, ../scss/sass/main/_utilities.scss */
.mr1 {
  margin-right: 10px !important;
}

/* line 73, ../scss/sass/main/_utilities.scss */
.ml1 {
  margin-left: 10px !important;
}

/* line 74, ../scss/sass/main/_utilities.scss */
.pt1 {
  padding-top: 10px !important;
}

/* line 75, ../scss/sass/main/_utilities.scss */
.pb1 {
  padding-bottom: 10px !important;
}

/* line 76, ../scss/sass/main/_utilities.scss */
.pr1 {
  padding-right: 10px !important;
}

/* line 77, ../scss/sass/main/_utilities.scss */
.pl1 {
  padding-left: 10px !important;
}

/* line 78, ../scss/sass/main/_utilities.scss */
.mt2 {
  margin-top: 20px !important;
}

/* line 79, ../scss/sass/main/_utilities.scss */
.mb2 {
  margin-bottom: 20px !important;
}

/* line 80, ../scss/sass/main/_utilities.scss */
.mr2 {
  margin-right: 20px !important;
}

/* line 81, ../scss/sass/main/_utilities.scss */
.ml2 {
  margin-left: 20px !important;
}

/* line 82, ../scss/sass/main/_utilities.scss */
.pt2 {
  padding-top: 20px !important;
}

/* line 83, ../scss/sass/main/_utilities.scss */
.pb2 {
  padding-bottom: 20px !important;
}

/* line 84, ../scss/sass/main/_utilities.scss */
.pr2 {
  padding-right: 20px !important;
}

/* line 85, ../scss/sass/main/_utilities.scss */
.pl2 {
  padding-left: 20px !important;
}

/* line 86, ../scss/sass/main/_utilities.scss */
.bolt {
  font-weight: bold;
}

/* line 89, ../scss/sass/main/_utilities.scss */
.offset {
  padding: 0 !important;
}

/* line 92, ../scss/sass/main/_utilities.scss */
.offset-10 {
  padding: 0 10px !important;
}

/* line 95, ../scss/sass/main/_utilities.scss */
.offset-25 {
  padding: 0 25 !important;
}

/* line 101, ../scss/sass/main/_utilities.scss */
.img_100 img {
  width: 100%;
}

/* line 106, ../scss/sass/main/_utilities.scss */
.parallax {
  width: 100%;
  position: absolute;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  background-attachment: fixed;
}

/* line 1, ../scss/sass/main/_main.scss */
#fullpage {
  z-index: 1000;
}

/* line 5, ../scss/sass/main/_main.scss */
.section__bg,
.static__bg {
  height: 100%;
  position: absolute;
  width: 100%;
}
/* line 11, ../scss/sass/main/_main.scss */
.section__bg img,
.static__bg img {
  bottom: 0;
  width: 100%;
  position: absolute;
  left: 0;
}

/* line 20, ../scss/sass/main/_main.scss */
.section__bg {
  z-index: 300;
}
/* line 23, ../scss/sass/main/_main.scss */
.section__bg__awan img {
  top: 10%;
}

/* line 31, ../scss/sass/main/_main.scss */
.text.center p {
  text-align: center;
}
@media (min-width: 320px) {
  /* line 31, ../scss/sass/main/_main.scss */
  .text.center p {
    font-size: 16px;
    text-align: center;
  }
}
@media (min-width: 641px) {
  /* line 31, ../scss/sass/main/_main.scss */
  .text.center p {
    font-size: 22px;
  }
}
@media (min-width: 320px) {
  /* line 42, ../scss/sass/main/_main.scss */
  .text.top1 {
    margin: 0 auto;
    float: none;
    top: auto;
    left: auto;
  }
}
@media (min-width: 641px) {
  /* line 42, ../scss/sass/main/_main.scss */
  .text.top1 {
    top: -145px;
    left: 110px;
    float: left;
  }
}
/* line 57, ../scss/sass/main/_main.scss */
.text p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #fff;
}
@media (min-width: 320px) {
  /* line 57, ../scss/sass/main/_main.scss */
  .text p {
    font-size: 16px;
    text-align: center;
  }
}
@media (min-width: 641px) {
  /* line 57, ../scss/sass/main/_main.scss */
  .text p {
    font-size: 22px;
    text-align: left;
  }
}
/* line 74, ../scss/sass/main/_main.scss */
.text h2 {
  color: #fff;
  font-weight: normal;
  text-align: center;
}
@media (min-width: 320px) {
  /* line 74, ../scss/sass/main/_main.scss */
  .text h2 {
    font-size: 18px;
  }
}
@media (min-width: 641px) {
  /* line 74, ../scss/sass/main/_main.scss */
  .text h2 {
    font-size: 28px;
  }
}

/* line 89, ../scss/sass/main/_main.scss */
.static__bg {
  bottom: 0;
  position: fixed;
  left: 0;
  opacity: 1;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
/* line 96, ../scss/sass/main/_main.scss */
.static__bg--image {
  top: 100%;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}
/* line 103, ../scss/sass/main/_main.scss */
.static__bg__2 {
  background: url(../images/scane/bg_2.jpg) no-repeat 50% 50% fixed;
}
/* line 106, ../scss/sass/main/_main.scss */
.static__bg__3 {
  background: url(../images/scane/bg_3.jpg) no-repeat 50% 50% fixed;
}
/* line 109, ../scss/sass/main/_main.scss */
.static__bg__4 {
  background: url(../images/scane/bg_4.jpg) no-repeat 50% 50% fixed;
}
/* line 112, ../scss/sass/main/_main.scss */
.static__bg__5 {
  top: 100%;
  background: #353535;
}
/* line 116, ../scss/sass/main/_main.scss */
.static__bg__5b {
  top: 100%;
  background: #353535;
}
/* line 120, ../scss/sass/main/_main.scss */
.static__bg__6 {
  left: 100%;
  background: #F3DB03;
}
/* line 124, ../scss/sass/main/_main.scss */
.static__bg__7 {
  background: url(../images/scane/bg_5.jpg) no-repeat 50% 50% fixed;
}
/* line 127, ../scss/sass/main/_main.scss */
.static__bg__8 {
  top: 100%;
  background: #191919;
}
/* line 134, ../scss/sass/main/_main.scss */
.static__img {
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
/* line 144, ../scss/sass/main/_main.scss */
.static__img img {
  position: absolute;
}
/* line 148, ../scss/sass/main/_main.scss */
.static__img__cover {
  background: url(../images/cover/cover.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 154, ../scss/sass/main/_main.scss */
.static__img__cover__inner {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
@media (min-width: 320px) {
  /* line 154, ../scss/sass/main/_main.scss */
  .static__img__cover__inner {
    background: url(../images/cover/cover_inner_mobile.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
@media (min-width: 481px) {
  /* line 154, ../scss/sass/main/_main.scss */
  .static__img__cover__inner {
    background: url(../images/cover/cover_inner.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
/* line 179, ../scss/sass/main/_main.scss */
.static__img__vector {
  left: 100%;
}
/* line 182, ../scss/sass/main/_main.scss */
.static__img__vector img {
  bottom: 0;
}
/* line 186, ../scss/sass/main/_main.scss */
.static__img__vector--1 {
  top: 200% !important;
  left: 0;
}
/* line 192, ../scss/sass/main/_main.scss */
.static__img__vector--2 .car {
  left: 0;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
}
/* line 196, ../scss/sass/main/_main.scss */
.static__img__vector--2 .car.showed {
  left: 45%;
}
/* line 204, ../scss/sass/main/_main.scss */
.static__img__moon {
  top: -200%;
}
/* line 207, ../scss/sass/main/_main.scss */
.static__img__moon img {
  top: 0;
}
/* line 213, ../scss/sass/main/_main.scss */
.static__img__circle--a, .static__img__circle--b, .static__img__circle--c {
  top: -100%;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
/* line 220, ../scss/sass/main/_main.scss */
.static__img__circle--1, .static__img__circle--2, .static__img__circle--3 {
  right: 0;
  top: 0;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
/* line 227, ../scss/sass/main/_main.scss */
.static__img__circle--1.showed, .static__img__circle--2.showed, .static__img__circle--3.showed {
  right: 65%;
}
@media (min-width: 320px) {
  /* line 227, ../scss/sass/main/_main.scss */
  .static__img__circle--1.showed, .static__img__circle--2.showed, .static__img__circle--3.showed {
    top: 90%;
  }
}
@media (min-width: 481px) {
  /* line 227, ../scss/sass/main/_main.scss */
  .static__img__circle--1.showed, .static__img__circle--2.showed, .static__img__circle--3.showed {
    top: 60%;
  }
}
/* line 240, ../scss/sass/main/_main.scss */
.static__img__content__bg {
  left: 100%;
}
/* line 243, ../scss/sass/main/_main.scss */
.static__img__content {
  position: absolute;
}

/* line 253, ../scss/sass/main/_main.scss */
.fullpage__cover {
  display: none;
}
/* line 256, ../scss/sass/main/_main.scss */
.fullpage__cover .full-height {
  position: relative;
}
@media (min-width: 320px) {
  /* line 256, ../scss/sass/main/_main.scss */
  .fullpage__cover .full-height {
    top: -20px;
  }
}
@media (min-width: 481px) {
  /* line 256, ../scss/sass/main/_main.scss */
  .fullpage__cover .full-height {
    top: -45px;
  }
}
/* line 266, ../scss/sass/main/_main.scss */
.fullpage__cover__title {
  margin: 0 auto !important;
  float: none !important;
}
/* line 270, ../scss/sass/main/_main.scss */
.fullpage__cover__title img {
  position: absolute;
}
@media (min-width: 320px) {
  /* line 266, ../scss/sass/main/_main.scss */
  .fullpage__cover__title {
    top: -15px;
  }
}
@media (min-width: 481px) {
  /* line 266, ../scss/sass/main/_main.scss */
  .fullpage__cover__title {
    top: 0;
  }
}
/* line 280, ../scss/sass/main/_main.scss */
.fullpage__cover #view-initiatives-button {
  background: #edd81a;
  padding: 15px 25px;
  border-radius: 30px;
  position: relative;
  display: table;
  margin: 0 auto;
}
/* line 289, ../scss/sass/main/_main.scss */
.fullpage__cover #view-initiatives-button:hover {
  transform: scale(1);
}
@media (min-width: 320px) {
  /* line 280, ../scss/sass/main/_main.scss */
  .fullpage__cover #view-initiatives-button {
    top: 25px;
    font-size: 14px;
  }
}
@media (min-width: 481px) {
  /* line 280, ../scss/sass/main/_main.scss */
  .fullpage__cover #view-initiatives-button {
    top: 45px;
    font-size: 22px;
  }
}
/* line 308, ../scss/sass/main/_main.scss */
.fullpage__map h2 {
  display: none;
}
/* line 311, ../scss/sass/main/_main.scss */
.fullpage__map__maps {
  position: relative;
  margin: 15px 0px;
}
/* line 315, ../scss/sass/main/_main.scss */
.fullpage__map__maps .map_index {
  position: relative;
  display: none;
}
/* line 319, ../scss/sass/main/_main.scss */
.fullpage__map__maps .map {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
/* line 326, ../scss/sass/main/_main.scss */
.fullpage__map__nav {
  text-align: center;
  display: none;
}
@media (min-width: 320px) {
  /* line 326, ../scss/sass/main/_main.scss */
  .fullpage__map__nav {
    margin-top: 55px;
  }
}
@media (min-width: 641px) {
  /* line 326, ../scss/sass/main/_main.scss */
  .fullpage__map__nav {
    margin-top: 20px;
  }
}
/* line 338, ../scss/sass/main/_main.scss */
.fullpage__map__nav ul li {
  font-weight: bold;
  cursor: pointer;
  background: #F5E201;
}
@media (min-width: 320px) {
  /* line 338, ../scss/sass/main/_main.scss */
  .fullpage__map__nav ul li {
    padding: 6px 10px;
    border-radius: 20px;
    font-size: 16px;
    margin: 0;
  }
}
@media (min-width: 641px) {
  /* line 338, ../scss/sass/main/_main.scss */
  .fullpage__map__nav ul li {
    background: #F5E201;
    padding: 8px 22px;
    border-radius: 20px;
    font-size: 20px;
    margin: 0 5px;
  }
}
/* line 357, ../scss/sass/main/_main.scss */
.fullpage__map__nav ul li:hover {
  background: #e29a24;
}
/* line 360, ../scss/sass/main/_main.scss */
.fullpage__map__nav ul li.active {
  background: #e29a24;
}
/* line 365, ../scss/sass/main/_main.scss */
.fullpage__map__ket {
  position: absolute;
  display: none;
  color: #fff;
  margin: 0 auto;
}
@media (min-width: 320px) {
  /* line 365, ../scss/sass/main/_main.scss */
  .fullpage__map__ket {
    bottom: -31%;
    left: 0;
    right: 0;
    text-align: center;
  }
}
@media (min-width: 641px) {
  /* line 365, ../scss/sass/main/_main.scss */
  .fullpage__map__ket {
    bottom: 0;
    left: 10%;
    text-align: left;
    right: auto;
  }
}
/* line 386, ../scss/sass/main/_main.scss */
.fullpage__graphic {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 360px) {
  /* line 394, ../scss/sass/main/_main.scss */
  .fullpage__graphic .center1 {
    display: table;
    height: 100%;
    width: 100%;
    position: relative;
  }
}
@media (max-width: 360px) {
  /* line 405, ../scss/sass/main/_main.scss */
  .fullpage__graphic .center2 {
    height: 100%;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
  }
}
@media (min-width: 641px) {
  /* line 405, ../scss/sass/main/_main.scss */
  .fullpage__graphic .center2 {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }
}
@media (min-width: 320px) {
  /* line 423, ../scss/sass/main/_main.scss */
  .fullpage__graphic__a, .fullpage__graphic__b {
    height: auto;
  }
}
@media (min-width: 641px) {
  /* line 423, ../scss/sass/main/_main.scss */
  .fullpage__graphic__a, .fullpage__graphic__b {
    height: 100%;
  }
}
@media (min-width: 320px) {
  /* line 434, ../scss/sass/main/_main.scss */
  .fullpage__graphic__b p {
    color: #fff;
    font-size: 13px;
  }
}
@media (min-width: 641px) {
  /* line 434, ../scss/sass/main/_main.scss */
  .fullpage__graphic__b p {
    color: #353535;
    font-size: 16px;
  }
}
@media (min-width: 320px) {
  /* line 432, ../scss/sass/main/_main.scss */
  .fullpage__graphic__b {
    margin-top: 10px;
    background: none;
  }
}
@media (min-width: 641px) {
  /* line 432, ../scss/sass/main/_main.scss */
  .fullpage__graphic__b {
    margin-top: 0;
    background: #F3DB03;
  }
}
/* line 454, ../scss/sass/main/_main.scss */
.fullpage__graphic__none {
  background: none !important;
}
/* line 464, ../scss/sass/main/_main.scss */
.fullpage__graphic .graphic_wrap h2 {
  font-weight: bold;
}
@media (min-width: 320px) {
  /* line 464, ../scss/sass/main/_main.scss */
  .fullpage__graphic .graphic_wrap h2 {
    margin-bottom: 5px;
    font-size: 26px;
  }
}
@media (min-width: 641px) {
  /* line 464, ../scss/sass/main/_main.scss */
  .fullpage__graphic .graphic_wrap h2 {
    margin-bottom: 20px;
    font-size: 35px;
  }
}
@media (min-width: 320px) {
  /* line 477, ../scss/sass/main/_main.scss */
  .fullpage__graphic .graphic_wrap__inner {
    width: 40%;
    margin: 0 auto;
  }
}
@media (min-width: 641px) {
  /* line 477, ../scss/sass/main/_main.scss */
  .fullpage__graphic .graphic_wrap__inner {
    width: 100%;
  }
}
/* line 487, ../scss/sass/main/_main.scss */
.fullpage__graphic .graphic_wrap__inner img {
  display: none;
  position: relative;
  margin: 0 auto;
  width: 50%;
}
/* line 493, ../scss/sass/main/_main.scss */
.fullpage__graphic .graphic_wrap__inner img.showed {
  display: block;
}
/* line 497, ../scss/sass/main/_main.scss */
.fullpage__graphic .graphic_wrap__nav {
  text-align: center;
}
@media (min-width: 320px) {
  /* line 497, ../scss/sass/main/_main.scss */
  .fullpage__graphic .graphic_wrap__nav {
    margin-top: 5px;
  }
}
@media (min-width: 641px) {
  /* line 497, ../scss/sass/main/_main.scss */
  .fullpage__graphic .graphic_wrap__nav {
    margin-top: 20px;
  }
}
/* line 510, ../scss/sass/main/_main.scss */
.fullpage__graphic .graphic_wrap__nav ul li {
  background: #F5E201;
  border-radius: 20px;
  font-weight: bold;
  margin: 0 5px;
  cursor: pointer;
}
@media (min-width: 320px) {
  /* line 510, ../scss/sass/main/_main.scss */
  .fullpage__graphic .graphic_wrap__nav ul li {
    padding: 8px 15px;
    font-size: 12px;
  }
}
@media (min-width: 641px) {
  /* line 510, ../scss/sass/main/_main.scss */
  .fullpage__graphic .graphic_wrap__nav ul li {
    padding: 8px 22px;
    font-size: 20px;
  }
}
/* line 526, ../scss/sass/main/_main.scss */
.fullpage__graphic .graphic_wrap__nav ul li:hover {
  background: #e29a24;
}
/* line 529, ../scss/sass/main/_main.scss */
.fullpage__graphic .graphic_wrap__nav ul li.active {
  background: #e29a24;
}
/* line 534, ../scss/sass/main/_main.scss */
.fullpage__graphic .graphic_wrap__ket {
  position: absolute;
  left: 5%;
  width: 20%;
  height: 11%;
}
@media (min-width: 320px) {
  /* line 534, ../scss/sass/main/_main.scss */
  .fullpage__graphic .graphic_wrap__ket {
    bottom: 35%;
  }
}
@media (min-width: 641px) {
  /* line 534, ../scss/sass/main/_main.scss */
  .fullpage__graphic .graphic_wrap__ket {
    bottom: 10%;
  }
}
/* line 555, ../scss/sass/main/_main.scss */
.fullpage__galeri__tab {
  overflow: hidden;
}
@media (min-width: 320px) {
  /* line 555, ../scss/sass/main/_main.scss */
  .fullpage__galeri__tab {
    padding: 10px 0;
  }
}
@media (min-width: 641px) {
  /* line 555, ../scss/sass/main/_main.scss */
  .fullpage__galeri__tab {
    padding: 15px 0;
  }
}
/* line 567, ../scss/sass/main/_main.scss */
.fullpage__galeri__tab ul li {
  background: #8C7C03;
  font-size: 20px;
  padding: 10px 0;
  cursor: pointer;
}
/* line 574, ../scss/sass/main/_main.scss */
.fullpage__galeri__tab ul li.active {
  background: #F3DB03;
}
/* line 578, ../scss/sass/main/_main.scss */
.fullpage__galeri__tab ul li:hover {
  background: #D6AD00;
}
/* line 583, ../scss/sass/main/_main.scss */
.fullpage__galeri__tab ul li:first-child {
  border-right: 5px solid #E6B520;
}
/* line 588, ../scss/sass/main/_main.scss */
.fullpage__galeri__tab__foto ul {
  overflow: hidden;
}
/* line 591, ../scss/sass/main/_main.scss */
.fullpage__galeri__tab__foto .line {
  position: absolute;
  left: 0;
  width: 10px;
  top: -6px;
}
/* line 600, ../scss/sass/main/_main.scss */
.fullpage__galeri__tab__video .line {
  position: absolute;
  right: 0;
  width: 10px;
  top: -6px;
}
/* line 607, ../scss/sass/main/_main.scss */
.fullpage__galeri__tab .keran {
  position: absolute;
  top: -17px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 10%;
  z-index: -1;
  display: none;
}
@media (min-width: 320px) {
  /* line 607, ../scss/sass/main/_main.scss */
  .fullpage__galeri__tab .keran {
    top: -7px;
  }
}
@media (min-width: 641px) {
  /* line 607, ../scss/sass/main/_main.scss */
  .fullpage__galeri__tab .keran {
    top: -17px;
  }
}
/* line 624, ../scss/sass/main/_main.scss */
.fullpage__galeri__tab .keran.active {
  display: block;
}
/* line 632, ../scss/sass/main/_main.scss */
.fullpage__galeri__content__foto, .fullpage__galeri__content__video {
  /* @include min-responsive(320px){
      height: auto;
  }
  @include min-responsive($ssm){
  	height: 630px;			
  } */
}
/* line 645, ../scss/sass/main/_main.scss */
.fullpage__galeri__content__foto ul {
  max-height: 450px;
  overflow-y: hidden;
}
/* line 650, ../scss/sass/main/_main.scss */
.fullpage__galeri__content__foto ul li {
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
@media (min-width: 320px) {
  /* line 650, ../scss/sass/main/_main.scss */
  .fullpage__galeri__content__foto ul li {
    opacity: 1;
  }
}
@media (min-width: 641px) {
  /* line 650, ../scss/sass/main/_main.scss */
  .fullpage__galeri__content__foto ul li {
    opacity: 0.5;
  }
}
/* line 661, ../scss/sass/main/_main.scss */
.fullpage__galeri__content__foto ul li:hover {
  opacity: 1;
}
/* line 667, ../scss/sass/main/_main.scss */
.fullpage__galeri__content .btn_more {
  font-weight: bold;
  cursor: pointer;
  background: #F5E201;
  font-size: 16px;
  display: table;
  margin: 10px auto;
}
@media (min-width: 320px) {
  /* line 667, ../scss/sass/main/_main.scss */
  .fullpage__galeri__content .btn_more {
    padding: 6px 10px;
    border-radius: 20px;
  }
}
@media (min-width: 641px) {
  /* line 667, ../scss/sass/main/_main.scss */
  .fullpage__galeri__content .btn_more {
    padding: 8px 22px;
    border-radius: 20px;
  }
}
/* line 684, ../scss/sass/main/_main.scss */
.fullpage__galeri__content__video {
  display: none;
}
@media (min-width: 320px) {
  /* line 687, ../scss/sass/main/_main.scss */
  .fullpage__galeri__content__video .wrap_video-placeholder {
    padding-bottom: 52%;
  }
}
@media (min-width: 641px) {
  /* line 687, ../scss/sass/main/_main.scss */
  .fullpage__galeri__content__video .wrap_video-placeholder {
    padding-bottom: 33%;
  }
}
/* line 696, ../scss/sass/main/_main.scss */
.fullpage__galeri__content__video .wrap_video-placeholder .video_play {
  display: none;
  /* 
  						@include min-responsive(320px){
  							height: 200px;
  						}
  						@include min-responsive($ssm){
  							height: auto;
  						} */
}
/* line 706, ../scss/sass/main/_main.scss */
.fullpage__galeri__content__video .wrap_video-placeholder .video_play.showed {
  display: block;
}
/* line 711, ../scss/sass/main/_main.scss */
.fullpage__galeri__content__video ul {
  overflow: hidden;
}
/* line 714, ../scss/sass/main/_main.scss */
.fullpage__galeri__content__video ul li {
  cursor: pointer;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
/* line 719, ../scss/sass/main/_main.scss */
.fullpage__galeri__content__video ul li:hover {
  opacity: 1;
}
@media (min-width: 320px) {
  /* line 714, ../scss/sass/main/_main.scss */
  .fullpage__galeri__content__video ul li {
    margin: 10px 5px !important;
    opacity: 1;
  }
}
@media (min-width: 641px) {
  /* line 714, ../scss/sass/main/_main.scss */
  .fullpage__galeri__content__video ul li {
    margin: 10px 15px !important;
    opacity: 0.5;
  }
}
/* line 738, ../scss/sass/main/_main.scss */
.fullpage__sponsor .logo_pgn {
  margin: 0 auto;
}
@media (min-width: 320px) {
  /* line 738, ../scss/sass/main/_main.scss */
  .fullpage__sponsor .logo_pgn {
    width: 20%;
  }
}
@media (min-width: 641px) {
  /* line 738, ../scss/sass/main/_main.scss */
  .fullpage__sponsor .logo_pgn {
    width: 100%;
  }
}
@media (min-width: 320px) {
  /* line 748, ../scss/sass/main/_main.scss */
  .fullpage__sponsor__link, .fullpage__sponsor .sponsor__link {
    margin-bottom: 15px;
  }
}
@media (min-width: 641px) {
  /* line 748, ../scss/sass/main/_main.scss */
  .fullpage__sponsor__link, .fullpage__sponsor .sponsor__link {
    margin-bottom: 20%;
  }
}
/* line 757, ../scss/sass/main/_main.scss */
.fullpage__sponsor__link p, .fullpage__sponsor .sponsor__link p {
  font-size: 16px;
}
/* line 760, ../scss/sass/main/_main.scss */
.fullpage__sponsor__link p a, .fullpage__sponsor .sponsor__link p a {
  text-decoration: underline;
}
/* line 763, ../scss/sass/main/_main.scss */
.fullpage__sponsor__link p strong, .fullpage__sponsor .sponsor__link p strong {
  font-weight: bold;
}
/* line 767, ../scss/sass/main/_main.scss */
.fullpage__sponsor__link p:hover, .fullpage__sponsor .sponsor__link p:hover {
  text-decoration: underline;
}
@media (min-width: 320px) {
  /* line 774, ../scss/sass/main/_main.scss */
  .fullpage__credit {
    padding: 0 3px;
    margin: 5px 0;
  }
}
@media (min-width: 641px) {
  /* line 774, ../scss/sass/main/_main.scss */
  .fullpage__credit {
    padding: 0 15px;
    margin: 20px 0;
  }
}
@media (min-width: 320px) {
  /* line 784, ../scss/sass/main/_main.scss */
  .fullpage__credit__inner {
    margin-bottom: 15px;
  }
}
@media (min-width: 641px) {
  /* line 784, ../scss/sass/main/_main.scss */
  .fullpage__credit__inner {
    margin-bottom: 0;
  }
}
/* line 794, ../scss/sass/main/_main.scss */
.fullpage__credit h2 {
  color: #fff;
  text-align: left !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  font-weight: bold;
  margin: 0 10px;
}
/* line 802, ../scss/sass/main/_main.scss */
.fullpage__credit ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #fff;
}
/* line 807, ../scss/sass/main/_main.scss */
.fullpage__credit ul li {
  display: list-item;
}
@media (max-width: 360px) {
  /* line 807, ../scss/sass/main/_main.scss */
  .fullpage__credit ul li {
    margin: 1px 10px;
    font-size: 13px;
  }
}
@media (min-width: 641px) {
  /* line 807, ../scss/sass/main/_main.scss */
  .fullpage__credit ul li {
    margin: 5px 10px;
    font-size: 16px;
  }
}
/* line 824, ../scss/sass/main/_main.scss */
.fullpage .section__video {
  margin: 0 auto;
  float: none;
}
@media (max-width: 360px) {
  /* line 828, ../scss/sass/main/_main.scss */
  .fullpage .section__video h2 {
    margin: 10px 0;
    font-size: 20px;
  }
}
@media (min-width: 641px) {
  /* line 828, ../scss/sass/main/_main.scss */
  .fullpage .section__video h2 {
    margin: 20px 0;
    font-size: 34px;
  }
}

/* line 847, ../scss/sass/main/_main.scss */
.socmed {
  margin: 20px 0;
  overflow: hidden;
}
/* line 850, ../scss/sass/main/_main.scss */
.socmed a {
  font-size: 14px;
  color: #fff;
}
/* line 853, ../scss/sass/main/_main.scss */
.socmed a:hover {
  text-decoration: underline;
}
@media (min-width: 320px) {
  /* line 850, ../scss/sass/main/_main.scss */
  .socmed a {
    display: block;
    padding: 3px;
  }
}
@media (min-width: 641px) {
  /* line 850, ../scss/sass/main/_main.scss */
  .socmed a {
    display: inline;
    padding: 20px;
  }
}

/* line 867, ../scss/sass/main/_main.scss */
.scrollup {
  position: fixed;
  bottom: 14px;
  display: none;
  right: 20px;
  text-indent: -9999px;
  background: url(../images/ontop.png) no-repeat center center;
  z-index: 9999;
  background-size: 100%;
}
@media (min-width: 320px) {
  /* line 867, ../scss/sass/main/_main.scss */
  .scrollup {
    width: 25px;
    height: 25px;
  }
}
@media (min-width: 641px) {
  /* line 867, ../scss/sass/main/_main.scss */
  .scrollup {
    width: 40px;
    height: 40px;
  }
}

/* line 887, ../scss/sass/main/_main.scss */
.intro {
  min-height: calc(100vh);
  position: relative;
}

/* line 891, ../scss/sass/main/_main.scss */
.intro .energy-bits {
  margin: 5vh 10vw;
  position: relative;
  z-index: 3;
}

/* line 896, ../scss/sass/main/_main.scss */
.intro .energy-bits img {
  position: absolute;
  -webkit-filter: blur(5px) drop-shadow(0px 0px 10px rgba(252, 255, 0, 0.25));
  -moz-filter: blur(5px) drop-shadow(0px 0px 10px rgba(252, 255, 0, 0.25));
  filter: blur(5px) drop-shadow(0px 0px 10px rgba(252, 255, 0, 0.25));
  will-change: transform;
  left: 0;
  top: 0;
}

/* line 1, ../scss/sass/main/_kcmread.scss */
.kcm-read {
  margin-bottom: 20px;
}

/* line 4, ../scss/sass/main/_kcmread.scss */
.kcm-read-top h2 {
  font-family: "OceanSansForAventis", sans-serif;
  margin: 5px 0 10px;
  font-size: 30px;
  font-weight: 700;
  text-align: left;
}
@media (max-width: 768px) {
  /* line 4, ../scss/sass/main/_kcmread.scss */
  .kcm-read-top h2 {
    font-size: 22px;
  }
}

/* line 15, ../scss/sass/main/_kcmread.scss */
.kcm-read .photo,
.kcm-read .video,
.photo-vid {
  margin: 0 0 20px;
  color: #9A9A9A;
  font-size: 12px;
  line-height: 1.3;
  font-weight: 400;
}

/* line 25, ../scss/sass/main/_kcmread.scss */
.kcm-read .photo span,
.kcm-read .photo-vid span,
.kcm-read .video span {
  font-size: .833em;
  text-align: right;
  display: block;
  width: 100%;
  color: #666;
  font-weight: 700;
}

/* line 39, ../scss/sass/main/_kcmread.scss */
.kcm-read-terkait li {
  font-size: .857em;
  line-height: 1.5;
}

/* line 44, ../scss/sass/main/_kcmread.scss */
.kcm-read-topik-bottom {
  border-top: 1px solid #dfdfdf;
  padding-top: 10px;
}

/* line 49, ../scss/sass/main/_kcmread.scss */
.kcm-read-topik-bottom h4 {
  margin: 5px 0;
  font-size: 1.143em;
}

/* line 54, ../scss/sass/main/_kcmread.scss */
.kcm-read-topik-bottom ul {
  margin: 10px 0;
}

/* line 58, ../scss/sass/main/_kcmread.scss */
.kcm-read-topik-bottom li {
  display: block;
  font-weight: 700;
  font-size: 1.071em;
  line-height: 1.4;
  color: #0b8bba;
  padding: 2px 0;
}

/* line 67, ../scss/sass/main/_kcmread.scss */
.kcm-read .kcm-read-text {
  color: #4b4b4b;
  font-size: 16px;
  line-height: 1.5;
  padding-bottom: 10px;
}

/* line 74, ../scss/sass/main/_kcmread.scss */
.kcm-read .kcm-read-text a {
  color: #0b8bba;
}

/* line 78, ../scss/sass/main/_kcmread.scss */
.kcm-read .kcm-read-text strong {
  font-weight: 700;
}

/* line 82, ../scss/sass/main/_kcmread.scss */
.kcm-read .kcm-read-text ul,
.kcm-read .kcm-read-text ol {
  padding: 0px 20px;
  margin: 3px 0 10px;
}

/* line 88, ../scss/sass/main/_kcmread.scss */
.kcm-read .kcm-read-text li {
  list-style: inherit;
  display: list-item;
}

/* line 94, ../scss/sass/main/_kcmread.scss */
.kcm-read-text > iframe {
  width: 100%;
}

/* line 98, ../scss/sass/main/_kcmread.scss */
.kcm-read-copy {
  border-top: 1px solid #dfdfdf;
  padding: 10px 0;
}

/* line 102, ../scss/sass/main/_kcmread.scss */
.kcm-social-right {
  float: right;
  width: auto;
}

/* line 107, ../scss/sass/main/_kcmread.scss */
.kcm-date {
  width: auto;
  float: left;
  padding: 10px 0 0;
  font-size: 88% !important;
  color: #8c8c8c;
}

/* line 115, ../scss/sass/main/_kcmread.scss */
.kcm-social-share {
  padding: 0 0 10px;
}

/* line 119, ../scss/sass/main/_kcmread.scss */
.share-total {
  display: inline-block;
  float: left;
  padding: 5px 0 0 5px;
  font-weight: 700;
  text-align: center;
  color: #9A9A9A;
  font-size: 18px;
  line-height: 15px;
}

/* line 130, ../scss/sass/main/_kcmread.scss */
.share-total span {
  display: block;
  font-weight: 400;
  font-size: 10px;
  color: #000;
}

/* line 137, ../scss/sass/main/_kcmread.scss */
.kcm-social-share ul {
  display: inline-block;
  float: left;
}

/* line 142, ../scss/sass/main/_kcmread.scss */
.kcm-social-share li {
  min-width: 40px;
  position: relative;
  height: 40px;
}

/* line 148, ../scss/sass/main/_kcmread.scss */
.kcm-social-share li .kcm-sosial-count {
  vertical-align: top;
  padding: 0;
  font-weight: 400;
  display: none;
  font-size: 11px;
  text-align: center;
}

/* line 157, ../scss/sass/main/_kcmread.scss */
.kcm-social-share li:hover .kcm-sosial-count {
  color: #555;
  display: inline-block;
  position: absolute;
  width: 75px;
  top: -20px;
  left: -20px;
}

/* line 166, ../scss/sass/main/_kcmread.scss */
.kcm-social-share li a:hover {
  text-decoration: none;
}

/* line 170, ../scss/sass/main/_kcmread.scss */
.kcm-social-share li .ico-shared {
  font-size: 20px;
  color: #fff;
}

/* line 175, ../scss/sass/main/_kcmread.scss */
.kcm-social-share li .ico-bg {
  height: 35px;
  width: 35px;
  display: inline-block;
  border-radius: 20px;
  position: absolute;
  padding: 8px;
  left: 0;
  top: 0;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all 0.2s ease;
}

/* line 191, ../scss/sass/main/_kcmread.scss */
.kcm-social-share li:hover .ico-bg {
  height: 38px;
  width: 38px;
  padding: 9px;
  left: -1px;
  top: -1px;
}

/* line 199, ../scss/sass/main/_kcmread.scss */
.bg-link {
  background: #E94F1D;
}

/* line 203, ../scss/sass/main/_kcmread.scss */
.photo {
  position: relative !important;
}

/* line 206, ../scss/sass/main/_kcmread.scss */
.kcm-comment-fb {
  padding: 20px 0 0;
}

/* line 209, ../scss/sass/main/_kcmread.scss */
.inner-comment {
  border-bottom: 1px solid #ebebeb;
  padding: 0 0 20px;
  position: relative;
  width: 100%;
  height: auto;
}

@font-face {
  font-family: icomoon;
  src: url(../fonts/icomoon.eot?5gt1up);
  src: url(../fonts/icomoon.eot?5gt1up#iefix) format("embedded-opentype"), url(../fonts/icomoon.ttf?5gt1up) format("truetype"), url(../fonts/icomoon.woff?5gt1up) format("woff"), url(../fonts/icomoon.svg?5gt1up#icomoon) format("svg");
  font-weight: 400;
  font-style: normal;
}
/* line 9, ../scss/sass/main/_kcmshare.scss */
[class*=" icon-"],
[class^=icon-] {
  font-family: icomoon !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*––––––––––––– socmed icon –––––––––––––*/
/* line 24, ../scss/sass/main/_kcmshare.scss */
.bg-tw,
.kcm-social-footer li a:hover .ico-social.icon-tw {
  background: #5EAADE;
}

/* line 29, ../scss/sass/main/_kcmshare.scss */
.bg-fb,
.kcm-social-footer li a:hover .ico-social.icon-fb {
  background: #3B579D;
}

/* line 34, ../scss/sass/main/_kcmshare.scss */
.bg-gp,
.kcm-social-footer li a:hover .ico-social.icon-gp {
  background: #DD4B39;
}

/* line 39, ../scss/sass/main/_kcmshare.scss */
.bg-in,
.kcm-social-footer li a:hover .ico-social.icon-in {
  background: #0077B4;
}

/* line 44, ../scss/sass/main/_kcmshare.scss */
.bg-ig,
.kcm-social-footer li a:hover .ico-social.icon-ig {
  background: #3F729B;
}

/* line 49, ../scss/sass/main/_kcmshare.scss */
.bg-pint,
.kcm-social-footer li a:hover .ico-social.icon-pint {
  background: #CE2029;
}

/* line 54, ../scss/sass/main/_kcmshare.scss */
.bg-comment {
  background: #B6B6B6;
}

/* line 58, ../scss/sass/main/_kcmshare.scss */
.bg-wa {
  background: #64d448;
}

/* line 61, ../scss/sass/main/_kcmshare.scss */
.ico-social {
  font-size: 16px;
  color: #fff;
  border-radius: 16px;
  padding: 5px;
  background: #b6b6b6;
}

/* line 70, ../scss/sass/main/_kcmshare.scss */
.icon-info:before {
  content: "";
}

/* line 74, ../scss/sass/main/_kcmshare.scss */
.icon-photo:before {
  content: "";
}

/* line 78, ../scss/sass/main/_kcmshare.scss */
.icon-gp2:before {
  content: "";
}

/* line 82, ../scss/sass/main/_kcmshare.scss */
.icon-play:before {
  content: "";
}

/* line 86, ../scss/sass/main/_kcmshare.scss */
.icon-search:before {
  content: "";
}

/* line 90, ../scss/sass/main/_kcmshare.scss */
.icon-zoom-in:before {
  content: "";
}

/* line 94, ../scss/sass/main/_kcmshare.scss */
.icon-cross:before {
  content: "";
}

/* line 98, ../scss/sass/main/_kcmshare.scss */
.icon-gp:before {
  content: "";
}

/* line 102, ../scss/sass/main/_kcmshare.scss */
.icon-ig:before {
  content: "";
}

/* line 106, ../scss/sass/main/_kcmshare.scss */
.icon-tw:before {
  content: "";
}

/* line 110, ../scss/sass/main/_kcmshare.scss */
.icon-in:before {
  content: "";
}

/* line 114, ../scss/sass/main/_kcmshare.scss */
.icon-pint:before {
  content: "";
}

/* line 118, ../scss/sass/main/_kcmshare.scss */
.icon-arr-left2:before {
  content: "";
}

/* line 122, ../scss/sass/main/_kcmshare.scss */
.icon-arr-up:before {
  content: "";
}

/* line 126, ../scss/sass/main/_kcmshare.scss */
.icon-wa:before {
  content: "";
}

/* line 130, ../scss/sass/main/_kcmshare.scss */
.icon-comment2:before {
  content: "";
}

/* line 134, ../scss/sass/main/_kcmshare.scss */
.icon-kompascom:before {
  content: "";
}

/* line 138, ../scss/sass/main/_kcmshare.scss */
.icon-arr-down:before {
  content: "";
}

/* line 142, ../scss/sass/main/_kcmshare.scss */
.icon-arr-right2:before {
  content: "";
}

/* line 146, ../scss/sass/main/_kcmshare.scss */
.icon-fb:before {
  content: "";
}

/* line 150, ../scss/sass/main/_kcmshare.scss */
.icon-link:before {
  content: "";
}

/* line 155, ../scss/sass/main/_kcmshare.scss */
.share-area ul {
  margin: 0;
  padding: 0;
}

/* line 160, ../scss/sass/main/_kcmshare.scss */
.share-area li {
  display: inline;
  cursor: pointer;
}

/* line 165, ../scss/sass/main/_kcmshare.scss */
.share-area li:hover {
  cursor: pointer;
}

/* line 169, ../scss/sass/main/_kcmshare.scss */
.share-area li a {
  color: #ED1C24;
}

/* line 173, ../scss/sass/main/_kcmshare.scss */
.share-area li a.menu-nav {
  color: #FFFFFF;
  margin-left: 15px;
}

/* line 178, ../scss/sass/main/_kcmshare.scss */
.share-area li a.menu-nav:hover {
  text-decoration: none;
}

/* line 182, ../scss/sass/main/_kcmshare.scss */
.share-area li a:hover {
  cursor: pointer;
  text-decoration: none;
}

/* line 187, ../scss/sass/main/_kcmshare.scss */
.share-area {
  position: absolute;
  z-index: 2;
  float: right;
  top: 5px;
  right: 5px;
}

/* line 194, ../scss/sass/main/_kcmshare.scss */
.share {
  z-index: 9999;
}
/* line 195, ../scss/sass/main/_kcmshare.scss */
.share.hide {
  display: none;
}
/* line 199, ../scss/sass/main/_kcmshare.scss */
.share--mobile {
  position: absolute;
}
@media (min-width: 320px) {
  /* line 199, ../scss/sass/main/_kcmshare.scss */
  .share--mobile {
    top: 1px;
    right: 1px;
  }
}
@media (min-width: 641px) {
  /* line 199, ../scss/sass/main/_kcmshare.scss */
  .share--mobile {
    top: 5px;
    right: 5px;
  }
}
/* line 218, ../scss/sass/main/_kcmshare.scss */
.share__title {
  position: relative;
  color: #fff;
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}
/* line 224, ../scss/sass/main/_kcmshare.scss */
.share__title:before {
  content: "\f1e0";
  font-family: "icomoon";
  font-size: 20px;
  line-height: 1;
}
/* line 237, ../scss/sass/main/_kcmshare.scss */
.share--inline {
  display: inline-block;
}
/* line 240, ../scss/sass/main/_kcmshare.scss */
.share__right {
  display: inline-block;
  float: right;
}
/* line 244, ../scss/sass/main/_kcmshare.scss */
.share__fixed {
  position: absolute;
  bottom: 13px;
  right: 55px;
  z-index: 9;
}
/* line 251, ../scss/sass/main/_kcmshare.scss */
.share__wrap {
  padding: 0 5px;
  margin: 0;
  display: block;
  height: 30px;
}
/* line 256, ../scss/sass/main/_kcmshare.scss */
.share__wrap--float {
  position: absolute;
  top: 40px;
  right: 0;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  min-width: 130px;
  height: auto;
}
/* line 264, ../scss/sass/main/_kcmshare.scss */
.share__wrap--float .share__link {
  color: #fff;
  background: transparent;
}
/* line 268, ../scss/sass/main/_kcmshare.scss */
.share__wrap--float .share__link:hover {
  background: transparent;
}
/* line 271, ../scss/sass/main/_kcmshare.scss */
.share__wrap--float .share__link--fb:hover span {
  color: #3b5998;
}
/* line 274, ../scss/sass/main/_kcmshare.scss */
.share__wrap--float .share__link--tw:hover span {
  color: #4099FF;
}
/* line 277, ../scss/sass/main/_kcmshare.scss */
.share__wrap--float .share__link--wa:hover span {
  color: #43d854;
}
/* line 282, ../scss/sass/main/_kcmshare.scss */
.share__item {
  padding: 0;
  margin: 5px 2px;
  display: block;
  float: left;
}
/* line 288, ../scss/sass/main/_kcmshare.scss */
.share__link {
  width: 32px;
  height: 32px;
  padding: 7px 5px;
  margin: 0;
  line-height: 1;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  text-align: center;
  vertical-align: middle;
}
/* line 301, ../scss/sass/main/_kcmshare.scss */
.share__link:hover {
  color: #fff;
}
/* line 304, ../scss/sass/main/_kcmshare.scss */
.share__link--fb {
  color: #fff;
  background: #3b5998;
}
/* line 308, ../scss/sass/main/_kcmshare.scss */
.share__link--tw {
  color: #fff;
  background: #4099FF;
}
/* line 312, ../scss/sass/main/_kcmshare.scss */
.share__link--wa {
  color: #fff;
  background: #43d854;
}
/* line 316, ../scss/sass/main/_kcmshare.scss */
.share__link--fb:hover {
  color: #3b5998;
  background: #fff;
}
/* line 320, ../scss/sass/main/_kcmshare.scss */
.share__link--tw:hover {
  color: #4099FF;
  background: #fff;
}
/* line 324, ../scss/sass/main/_kcmshare.scss */
.share__link--wa:hover {
  color: #43d854;
  background: #fff;
}

@keyframes moveDown {
  from {
    top: 0%;
  }
  to {
    top: 2%;
  }
}
@keyframes moveDownLong {
  0% {
    top: -200%;
    opacity: 1;
  }
  50% {
    top: 100%;
    opacity: 1;
  }
  100% {
    top: 150%;
    opacity: 0;
  }
}
@keyframes moveUp {
  from {
    top: 120%;
  }
  to {
    top: 0%;
  }
}
@keyframes moveUpGround {
  from {
    bottom: -20%;
    height: 10%;
  }
  to {
    bottom: 0%;
  }
}
@keyframes moveLeft {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}
@keyframes moveLeftb {
  from {
    left: 45%;
  }
  to {
    left: 47%;
  }
}
@keyframes moveRight {
  0% {
    right: 0%;
  }
  50% {
    right: 60%;
    opacity: 1;
  }
  100% {
    right: -100%;
    opacity: 0;
  }
}
@keyframes boat {
  0% {
    transform: translateX(-15%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes sizeIn {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scaled {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes sizeOut {
  0% {
    transform: scale(2.5);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes sizeOutHide {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1.5);
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacity2 {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/* line 151, ../scss/sass/main/_animation.scss */
.scrollUp {
  top: -100%;
}
/* line 154, ../scss/sass/main/_animation.scss */
.scrollDown {
  top: 0%;
}
@media (max-width: 360px) {
  /* line 157, ../scss/sass/main/_animation.scss */
  .scrollMobile {
    position: relative;
  }
}

/* line 165, ../scss/sass/main/_animation.scss */
.animation__duration {
  animation-direction: alternate;
}
/* line 167, ../scss/sass/main/_animation.scss */
.animation__duration.fast {
  animation-duration: 0.4s;
}
/* line 170, ../scss/sass/main/_animation.scss */
.animation__duration.fast2 {
  animation-duration: 0.5s;
}
/* line 173, ../scss/sass/main/_animation.scss */
.animation__duration.first {
  animation-duration: 1s;
}
/* line 176, ../scss/sass/main/_animation.scss */
.animation__duration.second {
  animation-duration: 1.25s;
}
/* line 179, ../scss/sass/main/_animation.scss */
.animation__duration.third {
  animation-duration: 1.50s;
}
/* line 182, ../scss/sass/main/_animation.scss */
.animation__duration.fourth {
  animation-duration: 1.75s;
}
/* line 185, ../scss/sass/main/_animation.scss */
.animation__duration.long {
  animation-duration: 5s;
}
/* line 188, ../scss/sass/main/_animation.scss */
.animation__duration.longer {
  animation-duration: 15s;
}
/* line 191, ../scss/sass/main/_animation.scss */
.animation__duration.rewind {
  animation-iteration-count: infinite;
}
/* line 194, ../scss/sass/main/_animation.scss */
.animation__duration.repeat1 {
  animation-iteration-count: 1;
}
/* line 198, ../scss/sass/main/_animation.scss */
.animation__moveDown {
  animation-name: moveDown;
}
/* line 201, ../scss/sass/main/_animation.scss */
.animation__moveDownLong {
  animation-name: moveDownLong;
}
/* line 204, ../scss/sass/main/_animation.scss */
.animation__moveUp {
  width: 100%;
  animation-name: moveUp;
}
/* line 208, ../scss/sass/main/_animation.scss */
.animation__moveUp__ground {
  width: 100%;
  animation-name: moveUpGround;
}
/* line 212, ../scss/sass/main/_animation.scss */
.animation__moveLeft {
  animation-name: moveLeft;
}
/* line 215, ../scss/sass/main/_animation.scss */
.animation__moveLeftb {
  animation-name: moveLeftb;
}
/* line 218, ../scss/sass/main/_animation.scss */
.animation__moveRight {
  animation-name: moveRight;
}
/* line 221, ../scss/sass/main/_animation.scss */
.animation__sizeIn {
  animation-name: sizeIn;
}
/* line 224, ../scss/sass/main/_animation.scss */
.animation__scaled {
  animation-name: scaled;
}
/* line 227, ../scss/sass/main/_animation.scss */
.animation__sizeOut {
  animation-name: sizeOut;
}
/* line 230, ../scss/sass/main/_animation.scss */
.animation__sizeOutHide {
  animation-name: sizeOutHide;
}
/* line 233, ../scss/sass/main/_animation.scss */
.animation__opacity {
  animation-name: opacity;
  display: block;
}
/* line 237, ../scss/sass/main/_animation.scss */
.animation__opacity2 {
  animation-name: opacity;
  display: block;
}
/* line 241, ../scss/sass/main/_animation.scss */
.animation__boat {
  animation-name: boat;
}

/* line 2, ../scss/sass/main/_all.scss */
.moveLeft {
  left: -100% !important;
}

/* line 5, ../scss/sass/main/_all.scss */
.moveRight {
  left: 0 !important;
}

/* line 8, ../scss/sass/main/_all.scss */
.moveDown {
  top: 0 !important;
}

/* line 11, ../scss/sass/main/_all.scss */
.moveUp {
  top: -100% !important;
}

/* line 14, ../scss/sass/main/_all.scss */
.z_add {
  z-index: 1002 !important;
}

/* line 19, ../scss/sass/main/_all.scss */
.video {
  position: relative;
  width: 100%;
  height: auto;
  pointer-events: auto;
  display: none;
}

/* line 26, ../scss/sass/main/_all.scss */
.wrap_video-placeholder {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

/* line 34, ../scss/sass/main/_all.scss */
.wrap_video-placeholder iframe, .wrap_video-placeholder object, .wrap_video-placeholder embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 42, ../scss/sass/main/_all.scss */
.slick-next {
  z-index: 600;
}
@media (min-width: 320px) {
  /* line 42, ../scss/sass/main/_all.scss */
  .slick-next {
    right: 0 !important;
  }
}
@media (min-width: 641px) {
  /* line 42, ../scss/sass/main/_all.scss */
  .slick-next {
    right: -25px !important;
  }
}

/* line 51, ../scss/sass/main/_all.scss */
.slick-prev {
  z-index: 600;
}
@media (min-width: 320px) {
  /* line 51, ../scss/sass/main/_all.scss */
  .slick-prev {
    left: 0 !important;
  }
}
@media (min-width: 641px) {
  /* line 51, ../scss/sass/main/_all.scss */
  .slick-prev {
    left: 25px !important;
  }
}

/* line 60, ../scss/sass/main/_all.scss */
.slick_img {
  margin: 0 auto !important;
  float: none !important;
}

/* line 64, ../scss/sass/main/_all.scss */
.ztop {
  z-index: 9999;
  position: relative;
}

/* line 2, ../scss/sass/main/_footer.scss */
.logo_footer p {
  color: #fff;
}
@media (min-width: 320px) {
  /* line 1, ../scss/sass/main/_footer.scss */
  .logo_footer {
    padding-top: 10px;
  }
}
@media (min-width: 641px) {
  /* line 1, ../scss/sass/main/_footer.scss */
  .logo_footer {
    padding-top: 100px;
  }
}

/* line 13, ../scss/sass/main/_footer.scss */
.footer {
  z-index: 7;
  width: 100%;
  position: absolute;
  bottom: 0;
}
/* line 19, ../scss/sass/main/_footer.scss */
.footer .inner_footer {
  height: 30px;
  bottom: 0;
}
@media (max-width: 360px) {
  /* line 19, ../scss/sass/main/_footer.scss */
  .footer .inner_footer {
    height: 35px;
  }
}
@media (min-width: 480px) and (max-width: 641px) {
  /* line 19, ../scss/sass/main/_footer.scss */
  .footer .inner_footer {
    height: 16px;
  }
}
/* line 33, ../scss/sass/main/_footer.scss */
.footer img {
  left: 0;
  margin: 0 auto;
  right: 0;
  top: 0;
}
