//condition
.moveLeft {
    left: -100% !important;
}
.moveRight {
    left: 0 !important;
}
.moveDown {
    top: 0 !important;
}
.moveUp {
    top: -100% !important;
}
.moveUp2 {
    top: -200% !important;
}
.z_add{
	z-index: 1002 !important;
}

.space_top{
  margin-top: 100px !important;
  @include max-responsive(640px){
    margin-top: 50px !important;
  }

}
.space_bottom{
  margin-bottom: 100px !important;
  @include max-responsive(640px){
    margin-bottom: 50px  !important;
  }
}
.parallax{
  //height: 100%;
  width: 100%;

  &__bg{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include max-responsive(640px){
      background-attachment: scroll;
    }
  }

}
.bg{

  &__full{
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__fixed{
    height: 100%;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -3;
  }

}
.ptb70{
  padding:70px 0;
}
.h100{
  height: 100%;
  @include max-responsive(1024px){
    //height: auto;
  }
}

.absolute{
  position: absolute;
}
.abcenter{
  left: 0;
  right: 0;
  margin: 0 auto;
}
.relative{
  position: relative !important;
}
.font_b{
  font-family: $font_b;
  font-weight: normal;
}
.imgfill{
    width: 100%;
    height: 100%;
    object-position: 50% 50%;
    -o-object-fit: cover;
    object-fit: cover;
}
.scale_nol{
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
      transform: scale(0);
}
.triangle-right {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 100px solid red;
  border-bottom: 50px solid transparent;
}
.yellow{
  color: #EECF29;
}
.video {
    position: relative;
    width: 100%;
    height: auto;
    pointer-events: auto;
    display: none;
}
.photo{
  width: 100%;
  padding: 0;
  margin: 30px auto !important;
  overflow: hidden;
  position: relative;

  &__full img{
    max-width: none;
    width: 100%;
  }
  &__overflow{
    overflow: hidden;
    height: 347px;
    margin: 0 auto;
    text-align: center;

    @include max-responsive(640px){
      height: auto;
    }
    img{
      height: 100%;
    }
  }
  &__overflow__fit{
    overflow: hidden;
    height: 347px;
    margin: 0 auto;
    text-align: center;

    @include max-responsive(640px){
      height: auto;
    }
    img{
      height: 100%;
      max-width: none;
      @extend .imgfill;
    }
  }
}
.point{
  text-align: left;
  width: 95%;
  margin: 0 auto;

  ul{
    list-style-type: decimal;
    li{
      list-style-type: decimal;
      display: list-item;
      margin-left: 25px;
    }
  }
  p{
    margin: 5px 0;
  }
}
.video__{
  //border-radius: 20px;
  //padding: 20px;
  //background: #fff;
  color: #fff;
  margin-bottom: 20px;

  @include max-responsive(640px){
    //padding: 10px;
  }
  iframe, .Stage_player{
    width: 100%;
    height: 403px;
    @include max-responsive(640px){
      height: 203px;
    }
  }

}
.wrap_video-placeholder{
	position:relative;

	//padding-top:30px;
	height:0;
	overflow:hidden;

	// @include min-responsive(320px){
	// 	padding-bottom:56.25%;
	// }
	// @include range-responsive(480px, 640px){
	// 	padding-bottom: 35.25%;
	// }
	// @include min-responsive(641px){
	// 	padding-bottom:56.25%;
	// }
}

.wrap_video-placeholder iframe, .wrap_video-placeholder object, .wrap_video-placeholder embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.ztop{
	z-index: 9999;
	position: relative;
}


// animate
.ml15 {
  opacity: 0;

  &.showb{
    opacity: 1 !important;
  }
}
.ml15 .word {
  display: inline-block;
}
.ml12 {
  opacity: 0;

  &.showb{
    opacity: 1 !important;
  }
}
.ml12 .letter {
  display: inline-block;
}


.caption__doc{
  z-index: 9999;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 11px;
  padding: 5px 10px;
  color: #adadad;
  background: rgba(0,0,0,0.5);
  text-align: right;
  width: 300px;
  @include max-responsive(640px){
    width: 100%;
  }

  &.polos{
    background: none;
    text-align: center;
    display: block;
    margin: 0 auto;
    right: 0;
    left: 0;
    color: #fff;
    bottom: -20px;
    width: 100%;
    @include max-responsive(640px){
      bottom: -55px;
    }
  }
  &.relative{
    margin-top: 20px;
    position: relative;
    bottom: 0;
  }
}
.overflow__inheret{
  overflow: inherit !important;

  @include max-responsive(640px){
    margin-bottom: 80px !important;
  }

}
