@font-face {
    font-family:'e_l';
    src: url('../fonts/e_Light.eot');
	src: url('../fonts/e_Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/e_Light.woff2') format('woff2'),
		url('../fonts/e_Light.woff') format('woff'),
		url('../fonts/e_Light.svg#e Light') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'e_r';
    src: url('../fonts/e_Regular.eot');
	src: url('../fonts/e_Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/e_Regular.woff2') format('woff2'),
		url('../fonts/e_Regular.woff') format('woff'),
		url('../fonts/e_Regular.svg#e Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'e_b';
    src: url('../fonts/e_Bold.eot');
	src: url('../fonts/e_Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/e_Bold.woff2') format('woff2'),
		url('../fonts/e_Bold.woff') format('woff'),
		url('../fonts/e_Bold.svg#e Bold') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}
