.page{
  //height: auto;
  width: 100%;
  overflow: hidden;
  position: relative;

  //article
  &__article{
    font-weight: 300;
    line-height: 1.4;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;

    @include max-responsive(640px){
      width: 100%;
      font-size: 16px;
    }

    &.textcenter{
      text-align: center;
    }

    &__inner{
      width: 80%;
      margin: 0 auto;
      @include max-responsive(640px){
        width: 95%;
      }
    }
  }

  &__theme{
    background-image: url("../images/img_theme.png");
    position: absolute;
    top: 0;
    left: 0;
    @extend .h100;

    &__blackgradient{
      background: rgba(0,0,0,0);
      background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 46%, rgba(0,0,0,1) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(46%, rgba(0,0,0,0.5)), color-stop(100%, rgba(0,0,0,1)));
      background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 46%, rgba(0,0,0,1) 100%);
      background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 46%, rgba(0,0,0,1) 100%);
      background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 46%, rgba(0,0,0,1) 100%);
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 46%, rgba(0,0,0,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
    }
    &__purplegradient{
      background: rgba(165,22,0,1);
      background: -moz-linear-gradient(45deg, rgba(165,22,0,1) 0%, rgba(212,71,0,1) 36%, rgba(128,23,84,1) 86%, rgba(87,0,127,1) 100%);
      background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(165,22,0,1)), color-stop(36%, rgba(212,71,0,1)), color-stop(86%, rgba(128,23,84,1)), color-stop(100%, rgba(87,0,127,1)));
      background: -webkit-linear-gradient(45deg, rgba(165,22,0,1) 0%, rgba(212,71,0,1) 36%, rgba(128,23,84,1) 86%, rgba(87,0,127,1) 100%);
      background: -o-linear-gradient(45deg, rgba(165,22,0,1) 0%, rgba(212,71,0,1) 36%, rgba(128,23,84,1) 86%, rgba(87,0,127,1) 100%);
      background: -ms-linear-gradient(45deg, rgba(165,22,0,1) 0%, rgba(212,71,0,1) 36%, rgba(128,23,84,1) 86%, rgba(87,0,127,1) 100%);
      background: linear-gradient(45deg, rgba(165,22,0,1) 0%, rgba(212,71,0,1) 36%, rgba(128,23,84,1) 86%, rgba(87,0,127,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a51600', endColorstr='#57007f', GradientType=1 );
    }
    &__greengradient{
      background: rgba(47,148,0,1);
      background: -moz-linear-gradient(left, rgba(47,148,0,1) 0%, rgba(199,204,45,1) 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, rgba(47,148,0,1)), color-stop(100%, rgba(199,204,45,1)));
      background: -webkit-linear-gradient(left, rgba(47,148,0,1) 0%, rgba(199,204,45,1) 100%);
      background: -o-linear-gradient(left, rgba(47,148,0,1) 0%, rgba(199,204,45,1) 100%);
      background: -ms-linear-gradient(left, rgba(47,148,0,1) 0%, rgba(199,204,45,1) 100%);
      background: linear-gradient(to right, rgba(47,148,0,1) 0%, rgba(199,204,45,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f9400', endColorstr='#c7cc2d', GradientType=1 );
    }
    &__bluegradient{
      background: rgba(122,74,210,1);
      background: -moz-linear-gradient(top, rgba(122,74,210,1) 0%, rgba(32,213,222,1) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(122,74,210,1)), color-stop(100%, rgba(32,213,222,1)));
      background: -webkit-linear-gradient(top, rgba(122,74,210,1) 0%, rgba(32,213,222,1) 100%);
      background: -o-linear-gradient(top, rgba(122,74,210,1) 0%, rgba(32,213,222,1) 100%);
      background: -ms-linear-gradient(top, rgba(122,74,210,1) 0%, rgba(32,213,222,1) 100%);
      background: linear-gradient(to bottom, rgba(122,74,210,1) 0%, rgba(32,213,222,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a4ad2', endColorstr='#20d5de', GradientType=0 );
    }
    &__yellowgradient{
      background: rgba(236,78,31,1);
      background: -moz-linear-gradient(left, rgba(236,78,31,1) 0%, rgba(236,78,31,1) 51%, rgba(214,182,86,1) 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, rgba(236,78,31,1)), color-stop(51%, rgba(236,78,31,1)), color-stop(100%, rgba(214,182,86,1)));
      background: -webkit-linear-gradient(left, rgba(236,78,31,1) 0%, rgba(236,78,31,1) 51%, rgba(214,182,86,1) 100%);
      background: -o-linear-gradient(left, rgba(236,78,31,1) 0%, rgba(236,78,31,1) 51%, rgba(214,182,86,1) 100%);
      background: -ms-linear-gradient(left, rgba(236,78,31,1) 0%, rgba(236,78,31,1) 51%, rgba(214,182,86,1) 100%);
      background: linear-gradient(to right, rgba(236,78,31,1) 0%, rgba(236,78,31,1) 51%, rgba(214,182,86,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec4e1f', endColorstr='#d6b656', GradientType=1 );
    }
    &__icegradient{
      background: rgba(0,152,246,1);
      background: -moz-linear-gradient(left, rgba(0,152,246,1) 0%, rgba(0,167,170,1) 76%, rgba(0,255,221,1) 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,152,246,1)), color-stop(76%, rgba(0,167,170,1)), color-stop(100%, rgba(0,255,221,1)));
      background: -webkit-linear-gradient(left, rgba(0,152,246,1) 0%, rgba(0,167,170,1) 76%, rgba(0,255,221,1) 100%);
      background: -o-linear-gradient(left, rgba(0,152,246,1) 0%, rgba(0,167,170,1) 76%, rgba(0,255,221,1) 100%);
      background: -ms-linear-gradient(left, rgba(0,152,246,1) 0%, rgba(0,167,170,1) 76%, rgba(0,255,221,1) 100%);
      background: linear-gradient(to right, rgba(0,152,246,1) 0%, rgba(0,167,170,1) 76%, rgba(0,255,221,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0098f6', endColorstr='#00ffdd', GradientType=1 );
    }
  }

  p {
    margin: 35px 0;
    @include max-responsive(640px){
      margin: 20px 0;
    }
    &.small{
      font-size: 12px;
      margin: 10px 0;
    }
    &.italic{
      font-style: italic;
    }
  }
  h2{
    font-size: 45px;
    @include max-responsive(640px){
      font-size: 25px;
    }
  }
  h3{
    font-size: 25px;
    @include max-responsive(640px){
      font-size: 20px;
    }
  }
  h4{
    font-size: 35px;
    font-family: $font_b;
    @include max-responsive(640px){
      font-size: 20px;
    }
  }
  h5{
    font-family: $font_b;
    font-size: 26px;
  }

  //intro
  &__intro{
    background-image: url("../images/cover.jpg");
    padding: 0;
    height: 100%;

    & .container{
      height: 100%;
      @include min-responsive(1500px){
        width: 70%;
      }
      @include max-responsive(640px){
        padding: 0 10px;
      }
    }

    &__img1{
      top: -60%;
      width: 25%;
      position: absolute;
      @include base_transition(all);
      @include max-responsive(450px){
        width: 45%;
      }

      &.show{
        top: 0;
      }
    }

    &__title{
      font-family: $font_b;
      position: relative;
      top: 90px;
      @include max-responsive(640px){
        top: 40px;
      }
      &--wrap{
        height: 55px;
        @include max-responsive(640px){
          height: 35px;
        }
      }
      h3{
        font-size: 50px;
        line-height: 1.1;
        @include max-responsive(640px){
          font-size: 30px;
        }
      }

      p{
        opacity: 0;
        &.showb{
          opacity: 1 !important;
        }
      }
    }
    p{
      font-family: $font_b;
      font-size: 16px;
    }

  }
  //end intro

  //page 2
  &__2{
    position: relative;
    @include max-responsive(640px){
      background-image: url("../images/page2_img2.jpg");
    };

    & .container{
      @include max-responsive(640px){
        padding: 0 10px;
      }
    }

    &__title{
      background: #FFCD00;
      color: #000;
      font-size: 35px;
      text-align: center;
      padding: 10px;
      font-family: $font_b;
    }

    & .video1{
      position: fixed;
      height: 100%;
      width: 100%;
      top: 0;
      z-index: -2;

      video{
        top: 0;
        right: 0;
        height: 100%;
        background-position: center center;
        background-size: contain;
        object-fit: cover;
        overflow: hidden;
        width: 100%;
      }
    }

    & .page__theme__blackgradient{
      height: 650px;
      bottom: 0;
      position: absolute;
      left: 0;
    }
  }
  //end page 2

  //page 3
  &__3{
    position: relative;

    & .container{
      @include max-responsive(640px){
        padding: 0 10px;
      }
    }

    &__img1{
      top: 40px;
      left: 10%;
      width: 10%;
    }
    &__img2{
      bottom: 40px;
      right:  10%;
      width: 10%;
    }
  }
  //end page 3

  //page 4
  &__4{
    position: relative;
    overflow: hidden;
    height: 100%;
    //padding: 10% 0 !important;

    &__img1{
      bottom: 40px;
      left:  -5%;
      width: 20%;
    }
    &__img2{
      top: 40px;
      right: -5%;
      width: 20%;
    }

    //ABINK
    .slideMedal{
      margin: 20px auto;
      height: 320px;
      width: 700px;

      @include max-responsive(640px){
        width: 300px;
      }

      .item{
        position: relative;
        height: 500px;

        .image{
          background: #FFFFFF;
          padding: 30px;
          text-align: center;
          display: flex;
          align-items: center;
          height: 320px;



          @include max-responsive(640px){
            padding: 10px;
            height: 224px;
          }

          img{
            margin: 0 auto;
            width: 130px;
          }

        }

        .medal{
          background: #474848;
          padding: 0px 30px 20px;
          height: 220px;

          @include max-responsive(640px){
            height: 125px;
          }

          .wrapper{
            width: 80%;
            margin: 0 auto;

            @include max-responsive(640px){
              width: 100%;
            }
          }

          .type{
            width: 33%;
            float: left;

            img{
              width: 100px;
            }

            h3{
              margin-top: 5px;
              text-align: center;
            }
          }
        }

        .total{
          height: 100px;
          padding: 20px;
          background: rgba(138,0,5,1);
          background: -moz-linear-gradient(left, rgba(138,0,5,1) 0%, rgba(204,0,7,1) 80%, rgba(138,17,21,1) 100%);
          background: -webkit-gradient(left top, right top, color-stop(0%, rgba(138,0,5,1)), color-stop(80%, rgba(204,0,7,1)), color-stop(100%, rgba(138,17,21,1)));
          background: -webkit-linear-gradient(left, rgba(138,0,5,1) 0%, rgba(204,0,7,1) 80%, rgba(138,17,21,1) 100%);
          background: -o-linear-gradient(left, rgba(138,0,5,1) 0%, rgba(204,0,7,1) 80%, rgba(138,17,21,1) 100%);
          background: -ms-linear-gradient(left, rgba(138,0,5,1) 0%, rgba(204,0,7,1) 80%, rgba(138,17,21,1) 100%);
          background: linear-gradient(to right, rgba(138,0,5,1) 0%, rgba(204,0,7,1) 80%, rgba(138,17,21,1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a0005', endColorstr='#8a1115', GradientType=1 );

          .item{
            text-align: center;

            .title{
              height: 40px;
            }
          }
        }

      }
    }

    .slider-nav{
        margin: 20px auto;
        width: 850px;

        @include max-responsive(640px){
          width: 300px;
          //display: none;
        }

      .slick-next {
          right: 30px;
          top: 220px;

          @include max-responsive(640px){
            top: 50%;
            right: -5px;
          }
      }

      .slick-prev {
          left: 30px;
          top: 220px;

          @include max-responsive(640px){
            top: 50%;
            left: -5px;
          }
      }

      &:before {
          content: "";
          background: white;
          height: 3px;
          width: 84%;
          position: absolute;
          left: 8%;
          margin: 0 auto;
          bottom: 7px;

          @include max-responsive($sm){
            width: 78%;
            left: 11%;
          }
      }

      .item{
        position: relative;
        height: 35px;
        cursor: pointer;
        color: #ffffff;
        @include base_transition(all);
        font-weight: bold;
        font-size: 15px;
        text-align: center;

        &__dots {
            background: #FFFFFF;
            width: 15px;
            height: 15px;
            position: absolute;
            border-radius: 50%;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
              border: 3px solid #ffffff;
            @include base_transition(all);
        }

        &.slick-slide.slick-current.slick-active{
          //color: #038A45;

          .item__dots{
            background: #038A45;
          }
        }

        &:hover , &:focus{
          //color: $red;

          .item__dots{
            background: #038A45;
          }
        }
      }
    }

    .slick-slide:focus{
      outline: none !important;
    }


  }
  //end page 4


  //page 5
  &__5{
    background-image: url("../images/page5_img1.jpg");
  }
  //end page 5

  //page 6
  &__6{
    background-image: url("../images/page6_img1.jpg");

    & .container{
      @include max-responsive(640px){
        padding: 0 10px;
      }
    }

    & .page__article{
      padding-bottom: 300px;
    }

    &__img1{
      top: -44px;
      left: -30px;
      @include max-responsive(640px){
        left: -3px;
      }
    }
    &__img2{
      bottom: -35px;
      right: 0;
    }
  }
  //end page 6

  //page 7
  &__7{
    background:#231F20;

    & .container{
      @include max-responsive(640px){
        padding: 0 10px;
      }
    }

  }
  //end page 7

  //page 8
  &__8{
    background-image: url("../images/page8_img1.jpg");
    position: relative;

    &__img1{
      top: -55px;
      left: -60px;
      width: 20%;
      @include max-responsive(640px){
        top: -30px;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }
    &__img2{
      bottom:-55px;
      right:  -60px;
      width: 20%;
      @include max-responsive(640px){
        bottom: -40px;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }
  }
  //end page 8

  //page 9
  &__9{
    position: relative;

    &__img1{
      top: 30%;
      left: -60px;
      width: 20%;
    }
    &__img2{
      top: 30%;
      right:  -60px;
      width: 20%;
    }

    & .box{
      margin-top: 50px;

      & > div{
        padding: 0 30px;
        @include max-responsive(640px){
          padding: 0 10px;
        }
      }
      & .item{
        text-align: left;
        font-size: 16px;
        margin-bottom: 50px;

        p{
          margin: 10px 0;
        }
        &__head{
          overflow: hidden;

          &__right{
            padding: 10px;
          }
          strong{
            display: block;
            font-family: $font_b;
            font-size: 24px;
            clear: both;
          }
          p{
            margin: 0;
          }
        }

        &__bottom{

          strong{
            border-bottom: 1px solid #fff;
            display: block;
            clear: both;
          }
        }
      }
    }
  }
  //end page 9

  //page 10
  &__10{
    background-image: url("../images/page10_img1.jpg");
    position: relative;
    @include max-responsive(640px){
      height: auto;
    }
    &__img1{
      top: -55px;
      left: -60px;
      width: 20%;
      @include max-responsive(640px){
        top: -30px;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }
    &__img2{
      bottom:-55px;
      right:  -60px;
      width: 20%;
      @include max-responsive(640px){
        bottom: -40px;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }
  }
  //end page 10

  //page 11
  &__11{
    background-image: url("../images/page11_img1.jpg");
    position: relative;

    &--plus{
      background: url("../images/page11_img1a.png") left top no-repeat, url("../images/page11_img1b.png") right bottom no-repeat, none;
      background-attachment: fixed;
      background-size: 30%;
    }

    &__img1{
      top: -55px;
      left: -60px;
      width: 20%;
      @include max-responsive(640px){
        top: -30px;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }
    &__img2{
      bottom:-55px;
      right:  -60px;
      width: 20%;
      @include max-responsive(640px){
        bottom: -40px;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }
  }
  //end page 11

  //page 12
  &__12{
    background: #160020;
  }
  //end page 12

  //page 13
  &__13{
    background-image: url("../images/page13_img1.jpg");

    & .page__article{
      background: rgba(0,0,0,0.7);
      padding: 10px;
      margin-top: 200px;
    }
  }
  //end page 13

  //page 14
  &__14{
    background-image: url("../images/page14_img1.jpg");

  }
  //end page 14

  //page 15
  &__15{

    &--plus{
      background: url("../images/page15_img1b.png") left bottom no-repeat, url("../images/page15_img1.png") right top no-repeat, none;
      background-attachment: fixed;
      background-size: 30%;
    }

  }
  //end page 15

  //page 16
  &__16{
    background-image: url("../images/page16_img1.jpg");
    position: relative;
    min-height: 100%;
    height: 100%;
    @include max-responsive(1024px){
      height: auto;
    }

  }
  //end page 16

  //page 17
  &__17{;
    position: relative;

    &--plus{
      background: url("../images/page17_img1b.png") left bottom no-repeat, url("../images/page17_img1.png") right top no-repeat, none;
      background-attachment: fixed;
      //background-size: 30%;
      @include max-responsive(1024px){
        background-size: 20%;
      }
    }
  }
  //end page 17

  //page 18
  &__18{
    background-image: url("../images/page18_img1.jpg");
    position: relative;
  }
  //end page 18

  //page 19
  &__19{
    //background-image: url("../images/page19_img1.jpg");
    background: #e8e8e8;
    position: relative;
    height: 95%;
    color: #000;

    @include max-responsive(640px){
      height: auto;
    }
    p{
      color: #000;
    }
  }
  //end page 19

}

.footer{
  background: #000;
  text-align: center;
  color: #fff;
  h3{
    font-size: 14px;
  }
  ul{
    li{
      display: list-item;
      margin: 30px 0;
    }
  }
  small{
    display: block;
  }
}

.scrollup {
    position: fixed;
    bottom: 14px;
    display: none;
    right: 20px;
    text-indent: -9999px;
    background: url(../images/ontop.png) no-repeat center center ;
    z-index: 9999;
    background-size: 100%;

    @include min-responsive(320px){
        width: 25px;
        height: 25px;
    }
    @include min-responsive(641px){
        width: 40px;
        height: 40px;
    }

    &--show{
      display: block;
    }

}
