.imgfillImg {
  width: 100% !important;
  height: 100% !important;
  object-position: 50% 50%;
  -o-object-fit: cover;
  object-fit: cover;

  &__top {
    object-position: 50% 0;
  }
  &__middle {
    object-position: 50% 25%;
  }
}

.imgAuto {
  width: auto;

  & > img {
    width: auto;
  }

  &__max {
    max-width: 100%;
    width: auto;
    & > img {
      max-width: 100%;
      width: auto;
    }
  }
  &__noMax {
    max-width: none;
    width: auto;
    & > img {
      max-width: none;
      width: auto;
    }
  }
}

// color
.color {
  &__gray1 {
    color: $color__gray1;
  }
  &__gray2 {
    color: $color__gray2;
  }
  &__gray3 {
    color: $color__gray3;
  }
  &__theme {
    color: $color__blue;
  }
}

//background
.bg {
  &__gray1 {
    background-color: $color__gray1;
  }
  &__gray2 {
    background-color: $color__gray2;
  }
  &__gray4 {
    background-color: $color__gray4;
  }
  &__gray3 {
    background-color: $color__gray3;
  }
  &__gray5 {
    background-color: $color__gray5;
  }
  &__theme {
    background-color: $color__blue;
  }
  &__red {
    background-color: $color__red;
  }

  &__position1 {
    background-position: 20px 15px;
  }
  &__position2 {
    background-position: 20px 18px;
  }
}

.border {
  &__gray3 {
    border-color: $color__gray3;
  }
  &__gray4 {
    border-color: $color__gray4;
  }
  &__gray6 {
    border-color: $color__gray6;
  }
  &__blackAlpha {
    border-color: rgba(0, 0, 0, 0.3);
  }
}

//rounded
.rounded {
  &-30 {
    border-radius: 30px;

    &__t {
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
    }
    &__tl {
      border-top-left-radius: 30px;
    }
    &__bl {
      border-bottom-left-radius: 30px;
    }
  }
}

//btn
.btn {
  padding: 6px 15px;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 14px;
  justify-content: center;
  z-index: 1;
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;

  svg {
    margin-right: 10px;
  }

  &__primary {
    padding: 10px 15px;
    color: #fff;
    font-weight: 500;
    min-width: 150px;
    @include max-responsive($xs) {
      min-width: auto;
    }
  }
}

//height
.h-full-calc {
  height: calc(100% + 1.75rem - 7rem);
}
.h-full-custom {
  height: 100%;
  @include max-responsive($xs) {
    height: auto;
  }
}
