//screen
$slg: 1367px;
$lg: 1140px;
$md: 992px;
$sm: 768px;
$xs: 360px;
$xxs: 320px;

// media
@mixin max-responsive($media) {
  @media (max-width: $media) {
    @content;
  }
}
@mixin min-responsive($media) {
  @media (min-width: $media) {
    @content;
  }
}
@mixin range-responsive($media, $media2) {
  @media (min-width: $media) and (max-width: $media2) {
    @content;
  }
}

@mixin max-portrait($media) {
  @media (max-device-width: $media) and (orientation: portrait) {
    @content;
  }
}
@mixin min-portrait($media) {
  @media (min-device-width: $media) and (orientation: portrait) {
    @content;
  }
}

@mixin max-lanscape($media) {
  @media (max-device-width: $media) and (orientation: landscape) {
    @content;
  }
}
@mixin min-lanscape($media) {
  @media (min-device-width: $media) and (orientation: landscape) {
    @content;
  }
}

@mixin base_transition($t) {
  -webkit-transition: $t 0.3s ease;
  -moz-transition: $t 0.3s ease;
  -ms-transition: $t 0.3s ease;
  -o-transition: $t 0.3s ease;
  transition: $t 0.3s ease;
}

//color
$color__gray1: #232323;
$color__gray2: #7e7e7e;
$color__gray3: #c1c1c1;
$color__gray4: #dfdfdf;
$color__gray5: #f5f5f5;
$color__gray6: #303030;
$color__blue: #064faf;
$color__red: #d10123;
$color__greenTosca: #08a4a4;
$color__purple: #8f44ad;
$color__orange: #e74b3c;
$color__yellow: #f1c50e;
