.section {
  &__head {
  }

  &__body {
  }
}

.menu {
  width: 75%;
  @include min-responsive(481px) {
    width: 300px;
  }

  &__btn {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  &__item {
    width: 200%;
  }
}

//login
.login {
  padding-bottom: 63px;
}

//nav after login
.tooltip {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 20%;
  font-weight: bold;
  top: 10px;
}

.navbottom {
  width: 100%;
  overflow-x: scroll;
  li {
    min-width: 25%;
    img {
      max-width: 15px;
      max-height: 15px;
    }
  }

  &__more {
    li {
      min-width: 22%;
      &:last-child {
        min-width: 25px;
      }
    }
  }

  &__shadow {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 35px;
    z-index: 999;

    background: rgb(6, 79, 175);
    background: linear-gradient(
      90deg,
      rgba(6, 79, 175, 0) 0%,
      rgba(6, 79, 175, 0.5970763305322129) 27%,
      rgba(6, 79, 175, 1) 84%
    );

    @include min-responsive($md) {
      bottom: 7px;
      height: 90%;
    }
  }
}

.bannerAds {
  &__header {
    img {
      max-width: 100px;
      max-height: 50px;
    }
  }
  .ads {
    width: 100%;
    margin: 10px auto;
  }
}
