svg {
  display: none;
  width: 15px;
  height: 13px;
}
.svg {
  display: block;
  fill: #fff;
  width: 15px;
  height: 13px;

  &__2 {
    height: 18px;
  }

  &__3 {
    width: 18px;
    height: 18px;
  }

  &__theme {
    fill: $color__blue;
  }
}
