.header {
  background-color: #f8f8f8;

  .container{
    @include min-responsive($md){
      height: 96px;
    }
  }

  .logo {
    width: 220px;

    @include max-responsive($md){
      width: 175px;
    }
  }

  // topbar
  & > .bg__gray1 {
    @include max-responsive($md) {
      padding: 10px 20px;
    }
  }
  &__menu {

    @include min-responsive($md){
      height: 96px;
    }

    ul {
      &.toggle.show {
        display: none;

        @include max-responsive($md) {
          display: flex;
        }
      }
      &.static li {
        position: static;

        & a.h-full {
          display: none;
        }
      }
      li {
        @include max-responsive($md) {
          position: relative;
        }
        &:hover {
          & > a {
            @include min-responsive($md) {
              color: $color__tosca;
              text-decoration: underline;
            }
          }
          & .header__menu__sub {
            display: block;

            @include max-responsive($md) {
              display: none;
            }
          }
        }

        a.active {
          @extend .color__tosca;
          text-decoration: underline;
        }

        // mobile
        ul {
          li {
            @include max-responsive($md) {
              position: relative !important;
            }
          }
        }
      }
    }

    &__sub {
      min-height: 600px;
      @extend .bg__gray5;

      & > div {
        min-height: 100%;
        height: 100%;
      }
    }
  }

  &__open {
    position: fixed;
    top: 0;
    @extend .bg__gray5;

    & .header__menu {
      display: block;
    }
  }
}
