//slick
.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-dots {
  bottom: 40px;
  text-align: left;
}
.slick-dots li.slick-active button:before {
  opacity: 1;
  color: transparent;
  background: #fff;
}
.slick-dots li button:before {
  opacity: 1;
  color: transparent;
  background: transparent;
  border-radius: 50%;
  border: 1px solid #fff;
  width: 12px;
  height: 12px;
}

// slider shadow
.slider {
  position: relative;
  &__shadow {
    background: rgb(17, 17, 17);
    background: linear-gradient(
      90deg,
      rgba(17, 17, 17, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    opacity: 0.6;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 50%;
  }
  &__arrow {
    .prev-arrow {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
    }
    .next-arrow {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
    }
    .slick-disabled {
      opacity: 0.3;
    }

    &--big {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }

  &__dots2 {
    display: block;
    position: relative;
    bottom: 0;
    text-align: center;
    margin-top: 30px;
    ul {
      position: relative;
      text-align: center;
      bottom: 0;
    }
  }
  &__dots {
    &--tosca {
      .slick-dots li button:before {
        border-color: $color__tosca;
      }
      .slick-dots li.slick-active button:before {
        background: $color__tosca;
      }

      &__mobile {
        @include max-responsive($md) {
          .slick-dots li button:before {
            border-color: $color__tosca;
          }
          .slick-dots li.slick-active button:before {
            background: $color__tosca;
          }
        }
      }
    }

    & .slick-dots {
      @include max-responsive($md) {
        bottom: 25px;
        text-align: right;
        right: 15px;
        width: auto;
      }

      li {
        width: 10px;
        height: 10px;

        button:before {
          @include max-responsive($md) {
            width: 8px;
            height: 8px;
          }
        }
      }
    }
  }

  &-4col {
    .slick-track {
      display: flex;
      //align-items: flex-end;
    }
    .slick-slide {
      padding: 0 20px;
    }
  }
}

.product {
  &__foto {
    width: 205px;
    margin: 0 auto;

    @include max-responsive($md) {
      width: 100%;
      min-height: 180px;
      display: flex;
      align-items: flex-end;
      img {
        width: 75%;
        margin: 0 auto;
      }
    }

    &--detail {
      max-width: 435px !important;
      margin: 0 auto !important;
      display: block !important;
      @include max-responsive($md) {
        width: 100% !important;
        max-width: 100% !important;
        img {
          width: 75%;
          margin: auto;
        }
      }
    }
  }
}

.content {
  &__artikel {
    font-size: 18px;
    line-height: 140%;
    p {
      font-size: 18px;
      line-height: 140%;
      // letter-spacing: 3% !important;
    }
    strong {
      font-weight: 500;
    }

    @extend .list;

    a {
      @extend .color__tosca;
      font-weight: normal;
    }
  }
}

//location
.location {
  &__list {
    & > ul {
      & > li {
        @include base_transition(all);

        & .location__icon__white {
          display: none;
        }
        img {
          @include max-responsive($md) {
            width: 20px;
          }
        }
        &:hover,
        &.active {
          @extend .bg__tosca2;
          border: none;
          p {
            color: #fff;
          }

          img {
            display: none;
          }
          & .location__icon__white {
            display: block;
          }

          ul {
            li {
              &:nth-child(3) {
                @include max-responsive($md) {
                  img {
                    -ms-transform: rotate(90deg); /* IE 9 */
                    transform: rotate(90deg);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.tabcontent,
.tabContact {
  display: none;

  &__close {
    width: 25px;
    top: 1rem;
    right: 1rem;
  }
  ul{

    li{

      @include max-responsive($md){
        margin-right: 0;
        margin-left: 0.5rem;
      }
    }
  }
}
.tabContact {
  position: relative;
  @include min-responsive($md) {
    position: absolute;
    right: 0px;
    top: 0;
    z-index: 40;
    width: 51%;
  }

  &__close {
    @include max-responsive($md) {
      width: 25px;
      top: 1.5rem;
      right: 1.2rem !important;
    }
  }

  ul{

    li{

      @include max-responsive($md){
        margin-right: 0;
      }
    }
  }
}

.tablinks {
  @extend .color__gray4;
  &.active {
    @extend .bg__tosca;
    color: #fff !important;
    @extend .border__tosca;

    &:hover {
      background-color: #fff !important;
      color: $color__tosca !important;
    }
  }
}

.nav__jump {
  a.active {
    @extend .color__tosca;
    background-color: #fff;
  }
}

//dropdown
.dropbtn:hover,
.dropbtn:focus {
  // background-color: #2980b9;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  overflow: auto;
  z-index: 1;
  overflow-y: auto;
  max-height: 300px;
  // padding-top: 20px;
  @extend .scrollbar;

  &__mobile {
    @include min-responsive($md) {
      display: block;
      position: relative;
      min-width: auto;
      padding-top: 0;
    }

    @include max-responsive($md) {
      border-radius: 35px;
    }
  }

  p {
    @include max-responsive($md) {
      width: 100%;
      margin-bottom: 5px;
      text-decoration: none;
    }
  }

  .h2 {
    @include max-portrait($md) {
      margin-top: 4px;
    }
  }
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.whatsapp__roll {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 48px;
  height: 48px;
  padding-right: 14px;
  z-index: 99999;

  span {
    width: 150px;
    padding-left: 15px;
  }

  @include min-responsive($md) {
    &:hover {
      width: 190px;
      span {
        display: block;
      }
    }
  }
}

//maps
.maps {
  min-height: 500px;

  &__active {
    right: 0 !important;
  }
}

// custom

.sbi_follow_btn{
  a{
    font-size: 14px !important;
  }
}


.title-centered-max-width{
  max-width: 750px;
  margin: 0 auto;
}

.mw-500{
  max-width: 500px;
}

.acf-map {
width: 100%;
height: 100%;
border: #ccc solid 1px;
}

/* fixes potential theme css conflict */
.acf-map img {
 max-width: inherit !important;
}

.page-numbers {
  margin-left: 1rem;
  margin-right: 1rem;
}
span.page-numbers.current{
  color: #4a8b90;
  text-decoration: underline;
  font-weight: 500;
}

.acf-map{
  -webkit-filter: grayscale(70%);
     -moz-filter: grayscale(70%);
      -ms-filter: grayscale(70%);
       -o-filter: grayscale(70%);
          filter: grayscale(70%);
}

.shopify-manual-button{
  max-width: 175px !important;
}

.shopify-buy-frame--toggle.is-sticky{
  /* top: -10% !important; */
}
#CloseDataShopify{
  position: absolute;
  top: 2%;
  /* left: 96%; */
  z-index: 100142;
  right: 1%;
  background-color: #4a8b90;
}

.shopify-buy-cart-wrapper.shopify-buy-frame.shopify-buy-frame--cart.is-active,
.shopify-buy-cart-wrapper.shopify-buy-frame.shopify-buy-frame--cart.is-initialized{
  z-index: 1000 !important;
}
/* button.shopify-buy__btn--close{
  display: none !important;
} */

.post-excerpt-blog{
  max-height: 145px;
  overflow: hidden;
}


// .f-30-b-1{
//   font-size: 30px ;
// }

// .f-24-b-1{
//   font-size: 24px;
// }

p.text-sm.mt-1.block{
  height: 20px;
  line-height: 13px;
}
// p.f-14-footer{
//   font-size: 14px;
// }
input.f-24-footer-email{
  font-size: 24px;
}

.hiddensss{
  display: block;
}
.content-height-home{
  height: 225px;
}
.tags a{
  margin-right: 10px;
}

.sb_instagram_header.sbi_no_avatar{
  display: none;
}


@media screen and (max-width:450px){
  .content-height-home{
      height: 260px;
  }
  .for-mobile-span{
      display: block;
  }
  .for-mobile-prods{
      //height: 60px;
  }
  p.text-sm.mt-1.block{
      height: 33px;
  }
  small.text-base.mt-1.block {
  height: 20px;
}
}

.class-hide{
  /* position: absolute; */
  position: absolute;
  width: 100%;
  right: 0;
  top: -10000px;
}

.class-show{
  position: relative;
  width: 100%;
  right: 0;
  top: 0px;
}

.datas-contacts{
  margin-left: -20px;
}

@media screen and (max-width:450px) {
  .datas-contacts{
      margin-left: 0px;
  }
}
a.newhovertop:hover h3{
  text-decoration: underline;
}
a.newhoverblog:hover h3{
  text-decoration: underline;
}
.bg__toscanew1{
  background-color: #59959a !important;
}
.bg__toscanew2{
  background-color: #689da1 !important;
}
p.address{
  text-align: center;
}

.top-16px{
  top: 16px;
}

li.md\:block.leading-7.tracking-wider.text-sm.mr-2 a:hover{
  text-decoration: underline;
}

.right-15 {
  right: 21.25rem;
}

.selectCategory{

  @include max-responsive($md){
    font-size: 16px;
  }
}

// accordion
.accordion{
  
  .inner {
    overflow: hidden;
    display: none;
  }
  
  
  li a.toggleAccordion {
    display: block;
  }
}
