@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .preloader {
    top: 0;
    background: #F2F1F1;
    height: 100%;
    width: 100%;
    z-index: 1001;
    position: fixed;
    display: flex;
    justify-content: center;
    overflow: hidden; }
    .preloaderWrap {
      width: 200px; }
      @media (min-width: 768px) {
        .preloaderWrap {
          width: 120px; } }
  
  /* main container */
  .panel {
    width: 100px;
    height: 100px;
    margin: 100px auto;
    position: relative;
    perspective: 1000;
    -webkit-perspective: 1000; }
  
  /* prevent animation on hover */
  .panel .cards {
    animation: CardFlip 5s infinite;
    -webkit-animation: CardFlip 5s infinite;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d; }
  
  /* styling divs to be 100% fit */

  
  /* cards container */
  .panel .cards {
    transition: all 1s linear;
    -webkit-transition: all 1s linear; }
  
  /* front card */
  .panel .cards .front {
    z-index: 2;
    background-image: url("../images/preload-telkom.jpg");
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; }
  
  /* back card */
  .panel .cards .back {
    z-index: 1;
    background-image: url("../images/preload-58.jpg");
    transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1); }
  

    .panel .cards,
    .panel .front,
    .panel .back {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0; 
      background-size: 100%;
      background-repeat: no-repeat;
    }

  @keyframes CardFlip {
    0% {
      -webkit-transform: rotateY(0deg); }
    50% {
      -webkit-transform: rotateY(180deg); }
    100% {
      -webkit-transform: rotateY(360deg); } }
  
  @-webkit-keyframes CardFlip {
    0% {
      -webkit-transform: rotateY(0deg); }
    50% {
      -webkit-transform: rotateY(180deg); }
    100% {
      -webkit-transform: rotateY(360deg); } }

    *,
    *::after,
    *::before {
      box-sizing: border-box;
      -webkit-text-stroke-width: 0;
      -webkit-text-stroke-color: transparent;
    }
    
    html {
      min-height: 100%;
      position: relative;
    }
    
    body {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      padding: 0;
      font-family: 'Chakra Petch', sans-serif;
      color: #000;
    }
    
    @-ms-viewport {
      width: device-width;
    }
    
    [hidden] {
      display: none !important;
    }
    
    a {
      font-weight: inherit;
      outline: 0;
      color: inherit;
      &:hover,
      &:active,
      &:focus {
        outline: 0;
      }
    }
    
    a img {
      border: none;
    }
    
    img {
      max-width: 100%;
      vertical-align: middle;
      border-style: none;
      font-size: 1.2rem;
    }
    
    svg {
      overflow: hidden;
      vertical-align: middle;
    }
    
    hr {
      box-sizing: content-box;
      overflow: visible;
    }
    
    header,
    section,
    footer,
    aside,
    nav,
    main,
    article,
    figure {
      display: block;
    }
    
    strong,
    b {
      font-weight: bold;
    }

    p,
    ul,
    ol,
    table,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      /* margin: 0 0 16px; */
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
      line-height: 1.3;
      color: inherit;
      text-rendering: optimizelegibility;
      font-weight: 500;
    }
    
    ul, ol {
      padding-left: 24px;
    }
    
    /* custom */
    .body{
        background-image: url('../images/background.jpg');
        @apply bg-no-repeat bg-cover;
    }
    
    .container{
      @apply mx-auto px-5 lg:px-0;
    }

    .moveLeft {
      left: -100% !important
    }
    
    .moveRight {
        left: 0 !important
    }
    
    .moveDown {
        top: 0 !important
    }
    
    .moveUp {
        top: -100% !important
    }

    .pushDown{
      top: 100%;
    }

    .pushLeft {
        left: 100%;
    }

    .pushRight {
        right: 100%;
    }

    .elPlay{
      position: relative;
    }

    .section{
      @apply m-auto;
    }

    .section-inner{
      @apply lg:max-w-[800px];
    }

    .section-inner2{
      @apply lg:max-w-[1000px];
    }

    .static-img{
      @apply h-full w-full fixed left-0 top-[100%] transition-all duration-700;
    }
    .static-bg{
      @apply h-full w-full fixed left-0 top-0 transition-all duration-700;
    }

    .bg-text1{
      background-image: url(../images/bg-text1.png);
      background-size: 100% 100%;
      @apply bg-no-repeat py-[40px] px-[20px] lg:p-[55px];
    }

    .fivebol-desc{
      @apply absolute top-8 lg:top-[90%] left-0 right-0 m-auto w-full py-3 px-10 bg-grey1 lg:bg-transparent z-[90];
    }

    .fivebol-desc img{
      @apply absolute lg:hidden right-2 top-2;
    }


    /* slider */
    .SliderWrap{
      background-image: url('../images/box.png');
      background-size: 100% 100%;
      @apply bg-no-repeat rounded-xl px-3 lg:px-5 py-5 lg:py-10 w-full lg:w-[600px] mb-3;
    }
    .slick-slide {
        @apply overflow-hidden h-[150px] lg:h-[250px];
    }
    .slick-slide img{
        @apply h-full w-full object-cover;
    }
    .slick-arrow:before{
      content: '';
    }
    .slick-next{
      background-image: url('../images/icon-slick-left.svg') !important;
      @apply right-[-10px] lg:right-[-60px];
    }
    .slick-prev{
      background-image: url('../images/icon-slick-right.svg') !important;
      @apply left-[-10px] lg:left-[-60px];
    }
    .slick-arrow{
      background-size: 100% !important;
      @apply bg-no-repeat w-[20px] lg:w-[30px] h-[20px] lg:h-[30px] z-20;
    }
    .slick-disabled{
      display: none !important;
    }

    /* zoom */
    .mfp-bg {
        z-index: 999999999;
    }
    .mfp-wrap {
      z-index: 999999999;
    }


    /* playdown  */
    .static-img-1.playdown .logo-58{
      @apply top-[50px] lg:top-[20px] w-[70px] lg:w-[175px];
    }
 
    .static-img-1.playdown2 .logo-58{
      @apply  lg:w-[110px];
    }    

    .static-img-1.playdown13 .logo-58{
      @apply hidden lg:block
    }

    .static-bg-1.playdown .bg-left{
      @apply left-[-70%] lg:left-0;
    }

    .static-bg-1.playdown .bg-right{
      @apply right-[-70%] lg:right-0;
    }
    
    .static-bg-1.playdown2 .bg-left{
      @apply left-[-90%] lg:left-[-15%];
    }

    .static-bg-1.playdown2 .bg-right{
      @apply right-[-90%] lg:right-[-15%];
    }

    .static-bg-1.playdown3 .bg-left{
      @apply left-[-110%] lg:left-[-25%];
    }

    .static-bg-1.playdown3 .bg-right{
      @apply right-[-110%] lg:right-[-25%];
    }

    .static-bg-1.playdown4 .bg-left{
      @apply left-[-95%] lg:left-[-15%];
    }

    .static-bg-1.playdown4 .bg-right{
      @apply right-[-95%] lg:right-[-15%];
    } 

    .static-bg-1.playdown5 .bg-left{
      @apply left-[-110%] lg:left-[-30%];
    }
    
    .static-bg-1.playdown5 .bg-right{
      @apply right-[-110%]  lg:right-[-30%];
    }

    .static-bg-1.playdown6 .bg-left{
      @apply left-[-95%] lg:left-[-10%];
    }

    .static-bg-1.playdown6 .bg-right{
      @apply right-[-95%] lg:right-[-10%];
    }

    .static-bg-1.playdown7 .bg-left{
      @apply left-[-110%] lg:left-[-30%];
    }
    
    .static-bg-1.playdown7 .bg-right{
      @apply right-[-110%] lg:right-[-30%];
    }

    .static-bg-1.playdown8 .bg-left{
      @apply left-[-100%] lg:left-[-22%];
    }

    .static-bg-1.playdown8 .bg-right{
      @apply right-[-100%] lg:right-[-22%];
    }





    /* hover state */
    .hoverScale{
      @apply transition-all duration-700   scale-100;
    }
    .hoverScale:hover{
      @apply scale-110;
    }
    
    /* animation css */

    .scroll-guide {
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translate(-50%);
        z-index: 999;
        flex-direction: column;
        color: #000;
        font-size: 12px;
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -ms-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease;
    }
    .scroll-guide .icon-scroll {
        width: 15px;
        height: 25px;
    }
    .icon-scroll {
      position: relative;
      border-radius: 50px;
      width: 14px;
      height: 20px;
      border: 2px solid #000;
    }

    .scroll-guide .icon-scroll:before {
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 5px;
        height: 6px;
    }

    .icon-scroll:before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 2px;
        height: 5px;
        margin-left: -1px;
        background-color: #EE3124;
        border-radius: 10px;
        -webkit-animation: scrolldown 2s infinite;
        animation: scrolldown 2s infinite;
    }

    @-webkit-keyframes scrolldown {
      0% {
          -webkit-transform: translate(0);
          opacity: 0
      }

      40% {
          opacity: 1
      }

      80% {
          -webkit-transform: translateY(10px);
          opacity: 0
      }

      to {
          opacity: 0
      }
    }

    @keyframes scrolldown {
      0% {
          transform: translate(0);
          opacity: 0
      }

      40% {
          opacity: 1
      }

      80% {
          transform: translateY(10px);
          opacity: 0
      }

      to {
          opacity: 0
      }
    }


    /* border animation */
    .border-animation {
      background-image: repeating-linear-gradient(0deg, #ee3124, #ee3124 10px, transparent 10px, transparent 20px, #ee3124 20px), repeating-linear-gradient(90deg, #ee3124, #ee3124 10px, transparent 10px, transparent 20px, #ee3124 20px), repeating-linear-gradient(180deg, #ee3124, #ee3124 10px, transparent 10px, transparent 20px, #ee3124 20px), repeating-linear-gradient(270deg, #ee3124, #ee3124 10px, transparent 10px, transparent 20px, #ee3124 20px);
      background-size: 3px calc(100% + 20px), calc(100% + 20px) 3px, 3px calc(100% + 20px) , calc(100% + 20px) 3px;
      background-position: 0 0, 0 0, 100% 0, 0 100%;
      background-repeat: no-repeat;
      animation: borderAnimation 0.7s infinite linear;
      }
      
      @keyframes borderAnimation {
      from { background-position: 0 0, -20px 0, 100% -20px, 0 100%; }
      to { background-position: 0 -20px, 0 0, 100% 0, -20px 100%; }
      }

      /* bounce */
      .bounce-1 {
        animation-name: bounce-1;
        animation-timing-function: linear;
        animation-duration: 3s;
        animation-iteration-count: infinite;
      }
      @keyframes bounce-1 {
          0%   { transform: translateY(0); }
          50%  { transform: translateY(-35px); }
          100% { transform: translateY(0); }
      }
      .bounce-2 {
        animation-name: bounce-2;
        animation-timing-function: linear;
        animation-duration: 3s;
        animation-iteration-count: infinite;
      }
      @keyframes bounce-2 {
          0%   { transform: translateY(0); }
          30%  { transform: translateY(-35px); }
          100% { transform: translateY(0); }
      }
      .bounce-3 {
        animation-name: bounce-3;
        animation-timing-function: linear;
        animation-duration: 3s;
        animation-iteration-count: infinite;
      }
      @keyframes bounce-3 {
          0%   { transform: translateY(0); }
          70%  { transform: translateY(-35px); }
          100% { transform: translateY(0); }
      }


      /* velocity */

      .topVelo{
        @apply top-[100%] opacity-0;
      }
      .topVelo2{
        @apply top-[50%] opacity-0;
      }
/* end */
}
