input,
label,
select,
textarea
{
	border: none;
    -webkit-user-select:text;
    box-sizing:border-box;
	@extend .font1;
}

input,
select,
textarea {
    border-radius: 50px;
	padding: 12px 23px;
	@extend .border__1;
	@extend .border__gray3;
    @include min-responsive($md){
        padding: 12px 25px;
	}
}

input,
select,
textarea {
    border-radius: 50px;
	padding: 12px 23px;
	@extend .border__1;
	@extend .border__gray3;
    @include min-responsive($md){
        padding: 12px 25px;
	}
}

select.styled-select  {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    background-image: url(../images/svg/icon__arrowTopGray.svg);
    background-position:right 15px center;
    background-repeat: no-repeat;
    border-radius: 50px;
	background-color: #fff;
	border: none !important;
	@include min-responsive($md){
        padding: 15px 25px;
	}
}


/* Remove the stupid outer glow in Webkit */
input:focus
{
	outline:0;
}

/* Box Sizing Reset
-----------------------------------------------*/

/* All of our custom controls should be what we expect them to be */
input,
textarea
{
	// -webkit-box-sizing:content-box;
	// -moz-box-sizing:content-box;
	// box-sizing:content-box;
}

/* These elements are usually rendered a certain way by the browser */
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select
{
	// -webkit-box-sizing:border-box;
	// -moz-box-sizing:border-box;
	// box-sizing:border-box;
}

/* Text Inputs
-----------------------------------------------*/

input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=range],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
select,
textarea
{
	min-width: 300px;
}

/* Button Controls
-----------------------------------------------*/

input[type=checkbox],
input[type=radio]
{
	width:13px;
	height:13px;
}

/* File Uploads
-----------------------------------------------*/

input[type=file]
{
	border: none !important;
	padding: 10px 0;
	border-radius: 0;
}

/* Search Input
-----------------------------------------------*/

/* Make webkit render the search input like a normal text field */
input[type=search]
{
	// -webkit-appearance:textfield;
	// -webkit-box-sizing:content-box;
}

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration
{
	display:none;
}

/* Buttons
-----------------------------------------------*/

button,
input[type="reset"],
input[type="button"],
input[type="submit"]
{
	/* Fix IE7 display bug */
	// overflow:visible;
	// width:auto;
}

/* IE8 and FF freak out if this rule is within another selector */
::-webkit-file-upload-button
{	
	//padding:0;
	border:0;
	@extend .border__1;
	@extend .border__gray3;
}

/* Textarea
-----------------------------------------------*/

textarea 
{
	/* Move the label to the top */
	vertical-align:top;
	
	/* Turn off scroll bars in IE unless needed */
	overflow:auto;
	padding: 30px 25px;
}

/* Selects
-----------------------------------------------*/

select
{
	-moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
	background-image: url(../images/svg/icon__arrowTopGray.svg);
    background-position:right 15px center;
	background-repeat: no-repeat;
	padding: 15px 50px 15px 25px;
	
}

select[multiple] 
{
	/* Move the label to the top */
	vertical-align:top;
}