.header{
	background:#000;
	position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
	z-index: 999;
	@include base_transition(all);	
	
	@include min-responsive($md){
		//border-bottom: 1px solid $color__gray6 !important;
	}

	img{
		width: auto;
	}
	&__logo{
		text-align: center;
		
		img{
			
			@include min-responsive($md){
				width: 300px;
				@include base_transition(all);
			}
		}
	}

	&__scroll{

		& .header__logo{
			img{	
				@include min-responsive($md){
					width: 200px;
				}
			}
		}
	}

	&__menu{
		text-align: left;
		cursor: pointer;
		
		@include max-responsive($md){
			border: none;
		}

		@include min-responsive($md){
			padding: 10px;
			border-color:#000;
			@include base_transition(all);

			&:hover{
				border-color:#fff;
			}
		}		
	}

	&__search{
		text-align: right;
		cursor: pointer;

		@include max-responsive($md){
			border: none;
		}

		@include min-responsive($md){
			padding: 10px;
			border-color:#000;
			@include base_transition(all);
			
			&:hover{
				border-color:#fff;
			}
		}

		&__open{
			display: none;
			background: #000;
			height: 100vh;
			//top:0;
			z-index: -1;
			@include min-responsive($md){
				height: auto;			
				top: auto;
				z-index: 0;
			}

			h3{
				
				@include min-responsive($md){
					font-size: 36px;
					line-height: 46px;	
					font-weight: normal;
				}
			}

			input{
				border-radius: 0;
				background: none;
				border-bottom: 1px solid #fff !important;
				border-top: none !important;
				border-right: none !important;
				border-left: none !important;
				color: #fff;
				font-weight: 500;
				font-size: 20px;
				line-height: 0;
				@include min-responsive($md){
					font-size: 28px;
					line-height: 36px;
				}
			}

			button{
				right: 0;
				bottom: 0;
				background: none;
				border: none;
				
				img{
					width: 20px;
					
					@include min-responsive($md){
						width: 35px;
					}
				}
			}
			
		}
	}
	&__home{	
		@include max-responsive($md){
			display: none;
		}
		@include min-responsive($md){
			padding: 10px;
			border-color:#000;
			@include base_transition(all);
			
			&:hover{
				border-color:#fff;
			}
		}
	}
	&__calender{
		@include max-responsive($md){
			display: none;
		}
		@include min-responsive($md){
			padding: 10px;
			border-color:#000;
			@include base_transition(all);
			
			&:hover{
				border-color:#fff;
			}
			span{
				position: absolute;
				left: -45px;
				font-size: 18px;
				opacity: 0;
				@include base_transition(all);
			}
	
			&:hover{
	
				span{
					left: -50px;
					opacity: 1;
				}
			}
		}


	}

	&__bar{
		position: absolute;
		width: 100%;
		top:78px;
		border-bottom:1px solid #000;
		display: none !important;

		@include min-responsive($md){
			border-top: 1px solid $color__gray6 !important;
		}

		&.open{
			@include min-responsive($md){
				display: block !important;
			}
		}

		ul{

			li{
				position: relative;
				
				a{
					font-size: 18px;
					font-weight: 500;
					color: #fff;
					display: flex;
					align-items: center;
					justify-items: center;
				}

				ul{
					display: none;
					position: absolute;
					width: 500px;
					left: 0;
					right: 0;
					bottom:-50px;
					min-width: 500px;
					text-align: left;				

					li{
						width: auto;
					}
				}

				&:hover{
					a{
						color: #fff;
					}
				}
				&.show{					
					ul{
						display: block;
					}
					a{
						img{
							display: none;
						}
					}
				}
			}
		}

		&__subbar{
			left: 0;
			z-index: -1;
			
			display: none;
			&.show{
				display: block;
			}
		}
	}

	&__line{
		width: 100%;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		width: 100%;
		z-index: 999;
	}
}

.nav{
	height: 100vh;
	display: none;
	background: #000;
	
	@include max-responsive($sm){		
		overflow-y: scroll;
	}

	@include min-responsive($md){
		height: auto;
	}

	& > span{
		bottom: 0;
		left: 0;
	}

	ul {
		list-style: none;
	
		.inner {
			overflow: hidden;
			display: none;
			@include min-responsive($md){
				display: block;
			}
		}
	
		li {
			
			a{
				font-size: 20px;
				width: 100%;

				@include min-responsive($md){
					font-size:18px;
				}
				
				&.toggle {
					width: 100%;
					display: block;
					color: #fff;	
					font-weight: 500;	
					@include max-responsive($md)	{
						&:hover{
							color: #fff !important;	
						}
					}		
				}
				span{
					right: 0;
					top: 0.5rem;
				}
			}

			ul{

				li{

					a{
						@extend .color__gray4;
					}
				}
			}
		}
	}
}

