.header{
	background:#000;
	padding: 20px 0;
	position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
	z-index: 99999;
	@include base_transition(all);
	
	img{
		width: auto;
	}
	&__logo{
		text-align: center;
	}

	&__menu{
		text-align: left;
	}

	&__search{
		text-align: right;
	}
}