.svg{
    fill:#fff;
    stroke: #fff;
    height: 25px !important;
    width: 25px !important;

    &__left{
        margin-left: 0;
        margin-right: 10px;
    }

    &__src{
        display: none;
    }

    &__arrow{
        height: 0.7rem !important;
        width: 0.7rem !important;   
        fill: none;
    }
    &__icon{
        height: 25px !important;
        width: 25px !important;
        //stroke-width:0.8;
        fill:none;

        &__info{
            // width: 20px;
            // height: 20px;
            fill:none;
        }
    }
    &__arrowGray{
        stroke: $color__gray;
    }
    &__bulletin{
        fill:none;
        stroke: $color__gray;
    }
    &__auto{
        width: auto !important;
        max-width: none !important;
        height: auto !important;
    }
    
    &__lg{

        &__white{
            
            @include min-responsive($md){
                stroke:#fff;
            }
        }
    }

    &__blue{        
        &__fill{
            fill:$color__blue;
        }
        stroke: $color__blue;;
    }
    &__orange{        
        &__fill{
            fill:$color__orange;
        }
        stroke: $color__orange;;
    }
    
}
