/* 
============================================
Ragil Hadianto 2019
============================================
*/

$slg:1367px;  
$lg:1100px;
$md:992px;
$sm:768px;
$xs:360px;
$xxs:320px;

// media
@mixin max-responsive ($media) {
    @media (max-width: $media) { @content; }
  }
  @mixin min-responsive ($media) {
    @media (min-width: $media) { @content; }
  }
  @mixin range-responsive ($media, $media2) {
    @media (min-width: $media) and (max-width: $media2) { @content; }
  }
  
  
// default transisi
@mixin base_transition($t) {
	-webkit-transition: $t .2s ease;
	-moz-transition: $t .2s ease;
	-ms-transition: $t .2s ease;
	-o-transition: $t .2s ease;
	transition: $t .2s ease;
}

@font-face {
font-family:'BrandonGrotesque-Black';
src: url('../fonts/BrandonGrotesque-Black.eot');
src: url('../fonts/BrandonGrotesque-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BrandonGrotesque-Black.woff') format('woff'),
    url('../fonts/BrandonGrotesque-Black.svg#BrandonGrotesque-Black') format('svg');
font-weight: 500;
font-style: normal;
font-stretch: normal;
unicode-range: U+0020-00FE;
}
@font-face {
font-family:'BrandonGrotesque-Light';
src: url('../fonts/BrandonGrotesque-Light.eot');
src: url('../fonts/BrandonGrotesque-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BrandonGrotesque-Light.woff') format('woff'),
    url('../fonts/BrandonGrotesque-Light.svg#BrandonGrotesque-Light') format('svg');
font-weight: 500;
font-style: normal;
font-stretch: normal;
unicode-range: U+0020-00FE;
}

// color
$color1:#117bbf;
$color2:#505050;


// global
*,
::after,
::before {
    box-sizing: border-box;
}

body{
    color: $color2;
    font-family: "BrandonGrotesque-Black", sans-serif;
}
.container {
    position: relative;
    margin: 0 auto;
    padding: 0 10px;
    @include max-responsive($sm){
        padding: 0 15px;
    }
}

.font{
    
    &__sansItalic{
        font-family: 'Open Sans', sans-serif;
    }
    &__mendium{
        font-family: "BrandonGrotesque-Light", sans-serif;
        //font-weight: 600;
    }
}

p,small,td{
    @extend .font__mendium;
}

// header
.header{
    //overflow: hidden;
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;    
    height: 80px;
    background: rgba(255, 255, 255, 0);
    @include base_transition(all);

    &.isScroll{
        background: rgba(255, 255, 255, 0.9);
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    }

    @include max-responsive($sm){
        height: 60px;
    }   

    &__logo{
        padding-top: 19px;

        @include max-responsive($sm){
            padding-top: 15px;
        }   
    }

    &__menu{
        @include base_transition(all);
        @include max-responsive($sm){
            display: flex;
            background: rgba(17, 123, 191, 0.95);
            position: absolute;
            height: 100vh;
            width: 100vw;
            left: -100vw;
            top: 0;            
        }
      
        
        &.is-active{
            display: flex;
            left: 0;
        }

        ul{
            float: right;

            @include max-responsive($sm){
                height: auto;
                width: 100vw;            
                display: flex;            
                align-content: center;            
                flex-wrap: wrap;
                float: none;
            }

            li{
                color: $color1;
                padding: 28px;
                cursor: pointer;
                
                @include max-responsive($sm){
                    color: #fff;
                    display: list-item;
                    width: 100%;
                    text-align: center;
                    font-size: 30px;
                }
            }
        }
    }

    & .hamburger{
        float: right;
        padding: 15px 0 15px;
       

        &.is-active{
            
            & .hamburger-inner,
            .hamburger-inner::after{
                background-color: #fff;
            }
        }

        &__btn{
            z-index: 9;
            display: none;
            @include max-responsive($sm){
                display: block;
            }
        }
    }
}

.slider{
    position: relative;
    height: 100vh;
    overflow: hidden;
    padding-top: 80px;
    
    @include max-responsive($sm){
        padding-top: 60px;
    }

    &__inner{
        height: 100vh;

        @include max-responsive($sm){
            //height: auto;
        }

        img{
            width: 100%;
            height: 100%;
            object-position: 50% 0;
            -o-object-fit: cover;
            object-fit: cover;

            @include max-responsive($sm){
                height: 65%;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
            }
        }

      
    }

    &__text{
        position: absolute;
        left: 0;
        right: 0;
        top: 20%;

        @include max-responsive($sm){
            top: 20%;
            text-align: center;
        }
        @include max-responsive($xxs){
            top: 15%;
        }
        h1{
            color: $color1;
            font-size: 40px;
            font-style: italic;
            @include max-responsive($sm){
                font-size: 24px;
                margin-top: 15px;
            }
            @include max-responsive($xxs){
                font-size: 20px;
            }
        }
        small{
            color: $color2;
            font-family: "BrandonGrotesque-Light", sans-serif;
            font-size: 28px;
            margin-top: 5px;
            display: block;

            @include max-responsive($sm){
                font-size: 20px;
                margin-top: 5px;
            }           
        }
    }
}

.main{
    overflow: hidden;
    

    &__customer,
    &__feature,
    &__build{
        margin: 80px 0;
        overflow: hidden;

        @include max-responsive($sm){
            margin: 60px 0;
        }        

        h3,
        h2{
            text-align: center;
            @extend .font__mendium;
            margin-bottom: 30px;
            text-transform: uppercase;
            font-size: 24px;
            @include max-responsive($sm){
                font-size: 20px;
                margin-bottom: 20px;
            }
           
        }
    }

    &__feature{

        &__text{
            padding: 0 70px;
            margin-bottom: 40px;
            @include max-responsive($sm){
                padding: 0 0 0 70px;
            }
            
            img{
                position: absolute;
                left: 0;
                width: 50px;
            }
            
        }
    }

    &__build{
        h2{
            text-align: left;
        }
        &__ilustration{
            padding-right: 50px;
            @include max-responsive($sm){
                padding-right: 0;
                margin-bottom: 20px;
            }
        }

        &__item{
            padding: 0 50px;
            font-size: 16px;
            margin:20px auto;
            
            @include max-responsive($sm){
                padding: 0 0 0 50px;
                margin:30px auto;
            }

            img{
                position: absolute;
                left: 0;
                width: 40px;
            }
        }
    }
}

.quote{
    background: $color1;
    padding: 40px 0;
    width: 100%;

    &__slider{
        text-align: center;
        color:#fff;
    }
}

.footer{
    font-size: 16px;
    padding: 50px 0;
    overflow: hidden;
    @include max-responsive($sm){
        padding: 50px 0 20px 0;
     }

    .copyright{
        display: block;
        margin-top: 50px;
        color: $color1;
        clear: both;
    }

    &__socmed{
        @extend .font__mendium;
        margin-left: 10px;
        margin-top: 50px;

        @include max-responsive($sm){
            margin-left: 0;
            margin-top: 30px;
            margin-bottom: 30px;
        }


        ul{

            li{
                overflow: hidden;
                width: 100%;
                display: list-item;
                margin-bottom: 10px;

                img{
                    width: 20px;
                    float: left;
                    margin-right: 10px;
                }
            }
        }
    }

    &__ilustration{
        text-align: right;
        float: right;

        @include max-responsive($sm){
            position: absolute;
            right: 24px;
            bottom: 50px;
        }
        
    }
}


.backTop{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 30px;
    z-index: 99999;
    cursor: pointer;
    width: 50px;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    @include base_transition(all);

    @include max-responsive($sm){
        width: 40px;
        margin: 10px;
    }

    &.show {
        opacity: 1;
        visibility: visible;
    }
}


// humberger menu

.hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible; }
    .hamburger:hover {
      opacity: 0.7; }
    .hamburger.is-active:hover {
      opacity: 0.7; }
    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::before,
    .hamburger.is-active .hamburger-inner::after {
      background-color:$color1; }
  
  .hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative; }
  
  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; }
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
      width: 40px;
      height: 4px;
      background-color:$color1;
      border-radius: 4px;
      position: absolute;
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease; }
    .hamburger-inner::before, .hamburger-inner::after {
      content: "";
      display: block; }
    .hamburger-inner::before {
      top: -10px; }
    .hamburger-inner::after {
      bottom: -10px; }
  

      /*
   * Squeeze
   */
.hamburger--squeeze .hamburger-inner {
    transition-duration: 0.075s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
    .hamburger--squeeze .hamburger-inner::before {
      transition: top 0.075s 0.12s ease, opacity 0.075s ease; }
    .hamburger--squeeze .hamburger-inner::after {
      transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  
  .hamburger--squeeze.is-active .hamburger-inner {
    transform: rotate(45deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
    .hamburger--squeeze.is-active .hamburger-inner::before {
      top: 0;
      opacity: 0;
      transition: top 0.075s ease, opacity 0.075s 0.12s ease; }
    .hamburger--squeeze.is-active .hamburger-inner::after {
      bottom: 0;
      transform: rotate(-90deg);
      transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }
  