$bg_base: #fff;
$font_body: 'Encode Sans', sans-serif;
$font2: 'Oswald', sans-serif;
$font_icon: 'icomoon';

//color
$color_body: #494949;
$color_1:#00194b;
$color_2:#006ede;
$color_3:#959595;
$color_4:#d4d4d4;
$color_5:#004083;
$color_6:#97cdef;


//  warna sosial media
$cl_fb: #3b5998;
$cl_tw: #4099FF;
$cl_gp: #d34836;
$cl_wa: #43d854;
$cl_ig: #f1265f;

//grid bootstrap
$lg:1100px;
$md:992px;
$sm:768px;
$xs:360px;
$xxs:320px;

// default transisi
@mixin base_transition($t) {
	-webkit-transition: $t .2s ease;
	-moz-transition: $t .2s ease;
	-ms-transition: $t .2s ease;
	-o-transition: $t .2s ease;
	transition: $t .2s ease;
}
// border radius
@mixin border_radius($x) {
	-webkit-border-radius: $x;
	-moz-border-radius: $x;
	-ms-border-radius: $x;
	-o-border-radius: $x;
	border-radius: $x;
}
// skala
@mixin base_scale($x) {
    -ms-transform: scale($x); /* IE 9 */
    -webkit-transform: scale($x); /* Safari */
    transform: scale($x);
}
// reset style ul
@mixin reset_ul {
	margin: 0;
	padding: 0;
}
// 100%
@mixin display_full {
	width: 100%;
	height: 100%;
}
@mixin center-absolute{
	left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
}
// height 100%
@mixin height-100{
	height: 100%;
	width: auto;
	max-width: none;
}
//width 100%
@mixin width-100{
	width: 100%;
	height: auto;
}
// media
@mixin max-responsive ($media) {
  @media (max-width: $media) { @content; }
}
@mixin min-responsive ($media) {
  @media (min-width: $media) { @content; }
}
@mixin range-responsive ($media, $media2) {
  @media (min-width: $media) and (max-width: $media2) { @content; }
}
