//- Scane
div(id="section-galeri" class="page-section section section-galeri")
    div(class="container")
        h4(class="text-2xl text-green2 font-bold mb-3 after:block after:w-[75px] after:content-[''] after:border-b-4 after:border-orange1 after:pb-3 flex justify-center flex-col items-center") Galeri Foto
        div(class="grid grid-cols-2 lg:grid-cols-4 gap-3 lg:gap-5 mt-5 zoom-gallery") 
            a(class="w-full overflow-hidden relative" href="assets/images/foto-galeri1.jpg") 
                div(class="w-full h-full overflow-hidden hover-photo")
                    img(src="assets/images/foto-galeri1.jpg", alt="" class="w-full  h-full object-cover") 
            a(class="w-full overflow-hidden relative" href="assets/images/foto-galeri2.jpg") 
                div(class="w-full h-full overflow-hidden hover-photo")
                    img(src="assets/images/foto-galeri2.jpg", alt="" class="w-full  h-full object-cover") 
            a(class="w-full overflow-hidden relative" href="assets/images/foto-galeri3.jpg") 
                div(class="w-full h-full overflow-hidden hover-photo")
                    img(src="assets/images/foto-galeri3.jpg", alt="" class="w-full  h-full object-cover") 
            a(class="w-full overflow-hidden relative" href="assets/images/foto-galeri4.png") 
                div(class="w-full h-full overflow-hidden hover-photo")
                    img(src="assets/images/foto-galeri4.png", alt="" class="w-full  h-full object-cover") 
            a(class="w-full overflow-hidden relative" href="assets/images/foto-galeri5.png") 
                div(class="w-full h-full overflow-hidden hover-photo")
                    img(src="assets/images/foto-galeri5.png", alt="" class="w-full  h-full object-cover") 
            a(class="w-full overflow-hidden relative" href="assets/images/foto-galeri6.png") 
                div(class="w-full h-full overflow-hidden hover-photo")
                    img(src="assets/images/foto-galeri6.png", alt="" class="w-full  h-full object-cover") 
            a(class="w-full overflow-hidden relative" href="assets/images/foto-galeri7.png") 
                div(class="w-full h-full overflow-hidden hover-photo")
                    img(src="assets/images/foto-galeri7.png", alt="" class="w-full  h-full object-cover") 
            a(class="w-full overflow-hidden relative" href="assets/images/foto-galeri8.png") 
                div(class="w-full h-full overflow-hidden hover-photo")
                    img(src="assets/images/foto-galeri8.png", alt="" class="w-full  h-full object-cover") 



