//- Scane
div(class="section section-mengapa bg-green1 text-white lg:py-10")
    img(class="absolute w-[50px] lg:w-auto left-0 bottom-0" src="assets/images/path-mengapa.png", alt="")
    div(class="container")
        div(class="flex flex-col lg:flex-row items-center gap-5")
            div 
                h4(class="text-2xl font-bold mb-3 after:block after:w-[75px] after:content-[''] after:border-b-4 after:border-orange1 after:pb-3") Mengapa Anda Harus Bergabung Dengan Xpora?
                div(class="text-base")
                    p PT Bank Negara Indonesia (Persero) Tbk (BNI) menghadirkan one stop solution hub yakni BNI Xpora di tujuh kota di Indonesia yang bisa mendorong UMKM melakukan ekspor. Melalui BNI Xpora ini, UMKM bisa mendapatkan pelatihan untuk meningkatkan kualitas produksi edukasi terkait laporan keuangan dan pemasaran untuk perluasan bisnis. Tidak hanya itu, terdapat beberapa benefit bergabung dengan BNI Xpora diantaranya :

                    ul(class="flex flex-col gap-4 mt-6") 
                        li(class="flex gap-3 items-start") 
                            div(class="flex-none") 
                                img(src="assets/images/icon-centang.svg", alt="")
                            div 
                                h5(class="text-lg font-bold") Ekspor Jadi Mudah
                                small(class="text-base") Xpora Office membantu proses pengajuan Anda
                        li(class="flex gap-3 items-start") 
                            div(class="flex-none") 
                                img(src="assets/images/icon-centang.svg", alt="")
                            div 
                                h5(class="text-lg font-bold") User Terverifikasi
                                small(class="text-base") Akun terpercaya untuk berbisnis
                        li(class="flex gap-3 items-start") 
                            div(class="flex-none") 
                                img(src="assets/images/icon-centang.svg", alt="")
                            div 
                                h5(class="text-lg font-bold") Mudah Posting Komoditas
                                small(class="text-base") Hanya dengan 3 langkah untuk melakukan posting komoditas
                        li(class="flex gap-3 items-start") 
                            div(class="flex-none") 
                                img(src="assets/images/icon-centang.svg", alt="")
                            div 
                                h5(class="text-lg font-bold") Payment Aman dengan BNI
                                small(class="text-base") Kami menjamin seluruh transaksi Anda

            div(class="flex-none lg:-mt-[165px]") 
                img(src="assets/images/section-mengapa.png", alt="Mengapa Anda Harus Bergabung Dengan Xpora?")
