//- Scane
div(id="section-jadwal" class="page-section section section-jadwal")
    div(class="container")

        div(class="xl:px-16 xxl:px-20")
            h4(class="text-2xl text-green2 font-bold mb-3 after:block after:w-[75px] after:content-[''] after:border-b-4 after:border-orange1 after:pb-3 flex justify-center flex-col items-center") Jadwal Acara

            div(class="relative mb-10") 
                img(class="absolute w-[35px] lg:w-auto left-0 bottom-0" src="assets/images/path-jadwal1.png", alt="")
                img(class="absolute w-[35px] lg:w-auto right-0 top-0" src="assets/images/path-jadwal2.png", alt="")
                div(class="flex flex-col lg:flex-row lg:items-center mt-10 gap-5 lg:gap-0")
                    div(class="flex-none lg:mb-10")
                        h5(class="textxl lg:text-2xl font-bold uppercase tracking-[1.92px]") Keynote Speech
                        p(class="text-base lg:text-xl font-semibold text-orange2 tracking-[1.44px]") 09:00 - 09:30 WIB
                    div(class="lg:pl-10 lg:w-[30%]") 
                        div 
                            h6(class="text-lg font-bold text-orange2") Erick Thohir
                            p(class="text-base") Menteri Badan Usaha Milik Negara RI
                        div 
                            h6(class="text-lg font-bold text-orange2") Teten Masduki
                            p(class="text-base") Menteri Koperasi dan Usaha Kecil dan Menengah RI
                        div 
                            h6(class="text-lg font-bold text-orange2") Sis Apik Wijayanto
                            p(class="text-base") Direktur Enterprise & Commercial Banking BNI
                        div 
                            small *to be confirm
                    div(class="place-self-end")     
                        img(src="assets/images/foto-keynote-speech.png", alt="Keynote Speech")


            //- list event
            
            //- 1
            div(class="relative border border-gray-300 px-5 lg:px-16 py-3 lg:py-5 mb-6 hover-event")
                img(class="absolute left-0 bottom-0 w-[25px] lg:w-[35px]" src="assets/images/path-jadwal1.png", alt="")
                img(class="absolute right-0 top-0 w-[25px] lg:w-[35px]" src="assets/images/path-jadwal2.png", alt="")

                div 
                    div(class="flex flex-col lg:flex-row justify-between lg:items-center") 
                        div 
                            small(class="uppercase text-xs lg:text-sm text-green2 mb-2 block tracking-[1.2px]") Opening
                            h6(class="font-bold text-lg lg:text-xl	") BNI UMKM Festival

                        span(class="text-orange2 font-bold") 09:30 - 09:35 WIB
                        
                    div(class="flex flex-col lg:flex-row lg:items-center gap-3 lg:gap-16 mt-3 lg:mt-5") 
                        div(class="flex items-center")  
                            div(class="flex-none mr-4 overflow-hidden w-[50px] lg:w-[65px] h-[50px] lg:h-[65px] rounded-full") 
                                img(src="assets/images/icon-speaker.png", alt="")
                            div(class="flex flex-col gap-1")
                                small(class="text-sm font-bold") Host
            
            //- 2
            div(class="relative border border-gray-300 px-5 lg:px-16 py-3 lg:py-5 mb-6 hover-event")
                img(class="absolute left-0 bottom-0 w-[25px] lg:w-[35px]" src="assets/images/path-jadwal1.png", alt="")
                img(class="absolute right-0 top-0 w-[25px] lg:w-[35px]" src="assets/images/path-jadwal2.png", alt="")

                div 
                    div(class="flex flex-col lg:flex-row justify-between lg:items-center") 
                        div 
                            small(class="uppercase text-xs lg:text-sm text-green2 mb-2 block tracking-[1.2px]") Inspiration Talk
                            h6(class="font-bold text-lg lg:text-xl	") The Recipe for Business Success
                        span(class="text-orange2 font-bold") 09:35 - 10:35 wib
                        
                    div(class="flex flex-col lg:flex-row lg:items-center gap-3 lg:gap-16 mt-3 lg:mt-5") 
                        div(class="flex items-center")  
                            div(class="flex-none mr-4 overflow-hidden w-[50px] lg:w-[65px] h-[50px] lg:h-[65px] rounded-full") 
                                img(src="assets/images/foto-NinoFernandez.png", alt="")
                            div(class="flex flex-col gap-1")
                                small(class="text-sm font-bold") Nino Fernandez 
                                small(class="text-sm") Founder Kopi dibawah tangga 

            //- 3
            div(class="relative border border-gray-300 px-5 lg:px-16 py-3 lg:py-5 mb-6 hover-event")
                img(class="absolute left-0 bottom-0 w-[25px] lg:w-[35px]" src="assets/images/path-jadwal1.png", alt="")
                img(class="absolute right-0 top-0 w-[25px] lg:w-[35px]" src="assets/images/path-jadwal2.png", alt="")

                div 
                    div(class="flex flex-col lg:flex-row justify-between lg:items-center") 
                        div 
                            small(class="uppercase text-xs lg:text-sm text-green2 mb-2 block tracking-[1.2px]") Talks & Classes
                            h6(class="font-bold text-lg lg:text-xl	") Building World Class Brand from Zero 
                        span(class="text-orange2 font-bold") 10:35 - 11:35 wib
                        
                    div(class="flex flex-col lg:flex-row lg:items-center gap-3 lg:gap-16 mt-3 lg:mt-5") 
                        div(class="flex items-center") 
                            div(class="flex-none mr-4 overflow-hidden w-[50px] lg:w-[65px] h-[50px] lg:h-[65px] rounded-full") 
                                img(src="assets/images/foto-YeriAfriyani.png", alt="")
                            div(class="flex flex-col gap-1")
                                small(class="text-sm font-bold") Yeri Afriyani
                                small(class="text-sm") Founder Calla The Label  
                        div(class="flex items-center") 
                            div(class="flex-none mr-4 overflow-hidden w-[50px] lg:w-[65px] h-[50px] lg:h-[65px] rounded-full") 
                                img(src="assets/images/foto-HanaKeraf.png", alt="")
                            div(class="flex flex-col gap-1")
                                small(class="text-sm font-bold") Hana Keraf
                                small(class="text-sm") Co-Founder & Chief of Community <br> Development & Partnership at Du Anyam

            //- 4
            div(class="relative border border-gray-300 px-5 lg:px-16 py-3 lg:py-5 mb-6 hover-event")
                img(class="absolute left-0 bottom-0 w-[25px] lg:w-[35px]" src="assets/images/path-jadwal1.png", alt="")
                img(class="absolute right-0 top-0 w-[25px] lg:w-[35px]" src="assets/images/path-jadwal2.png", alt="")

                div 
                    div(class="flex flex-col lg:flex-row justify-between lg:items-center") 
                        div 
                            small(class="uppercase text-xs lg:text-sm text-green2 mb-2 block tracking-[1.2px]") Break
                            h6(class="font-bold text-lg lg:text-xl	") Entertainment + Games

                        span(class="text-orange2 font-bold") 11:35 - 12:35 wib  
                        
                    div(class="flex flex-col lg:flex-row lg:items-center gap-3 lg:gap-16 mt-3 lg:mt-5") 
                        div(class="flex items-center")  
                            div(class="flex-none mr-4 overflow-hidden w-[50px] lg:w-[65px] h-[50px] lg:h-[65px] rounded-full") 
                                img(src="assets/images/icon-speaker.png", alt="")
                            div(class="flex flex-col gap-1")
                                small(class="text-sm font-bold") Host

            //- 5
            div(class="relative border border-gray-300 px-5 lg:px-16 py-3 lg:py-5 mb-6 hover-event")
                img(class="absolute left-0 bottom-0 w-[25px] lg:w-[35px]" src="assets/images/path-jadwal1.png", alt="")
                img(class="absolute right-0 top-0 w-[25px] lg:w-[35px]" src="assets/images/path-jadwal2.png", alt="")

                div 
                    div(class="flex flex-col lg:flex-row justify-between lg:items-center") 
                        div 
                            small(class="uppercase text-xs lg:text-sm text-green2 mb-2 block tracking-[1.2px]") Workshop: Go Global
                            h6(class="font-bold text-lg lg:text-xl	") Expand Your Market

                        span(class="text-orange2 font-bold") 12:35 - 14:05 wib  
                        
                    div(class="flex flex-col lg:flex-row lg:items-center gap-3 lg:gap-16 mt-3 lg:mt-5") 
                        div(class="flex items-center")  
                            div(class="flex-none mr-4 overflow-hidden w-[50px] lg:w-[65px] h-[50px] lg:h-[65px] rounded-full") 
                                img(src="assets/images/foto-AmaliaSusilowati.png", alt="")
                            div(class="flex flex-col gap-1")
                                small(class="text-sm font-bold") Amalia Susilowati Prabowo
                                small(class="text-sm") Managing Director ExportHub.id
                
            //- 6
            div(class="relative border border-gray-300 px-5 lg:px-16 py-3 lg:py-5 mb-6 hover-event")
                img(class="absolute left-0 bottom-0 w-[25px] lg:w-[35px]" src="assets/images/path-jadwal1.png", alt="")
                img(class="absolute right-0 top-0 w-[25px] lg:w-[35px]" src="assets/images/path-jadwal2.png", alt="")

                div 
                    div(class="flex flex-col lg:flex-row justify-between lg:items-center") 
                        div 
                            small(class="uppercase text-xs lg:text-sm text-green2 mb-2 block tracking-[1.2px]") Workshop
                            h6(class="font-bold text-lg lg:text-xl	") Financial Health for SMEs

                        span(class="text-orange2 font-bold") 14:05 - 15:35 wib
                        
                    div(class="flex flex-col lg:flex-row lg:items-center gap-3 lg:gap-16 mt-3 lg:mt-5") 
                        div(class="flex items-center")  
                            div(class="flex-none mr-4 overflow-hidden w-[50px] lg:w-[65px] h-[50px] lg:h-[65px] rounded-full") 
                                img(src="assets/images/foto-DaniRachmat.png", alt="")
                            div(class="flex flex-col gap-1")
                                small(class="text-sm font-bold") Dani Rachmat
                                small(class="text-sm") Certified Financial Planner

            //- 7
            div(class="relative border border-gray-300 px-5 lg:px-16 py-3 lg:py-5 mb-6 hover-event")
                img(class="absolute left-0 bottom-0 w-[25px] lg:w-[35px]" src="assets/images/path-jadwal1.png", alt="")
                img(class="absolute right-0 top-0 w-[25px] lg:w-[35px]" src="assets/images/path-jadwal2.png", alt="")

                div 
                    div(class="flex flex-col lg:flex-row justify-between lg:items-center") 
                        div 
                            h6(class="font-bold text-lg lg:text-xl	") Games

                        span(class="text-orange2 font-bold") 15:35 - 15:40 wib 
                        
                    div(class="flex flex-col lg:flex-row lg:items-center gap-3 lg:gap-16 mt-3 lg:mt-5") 
                        div(class="flex items-center")  
                            div(class="flex-none mr-4 overflow-hidden w-[50px] lg:w-[65px] h-[50px] lg:h-[65px] rounded-full") 
                                img(src="assets/images/icon-speaker.png", alt="")
                            div(class="flex flex-col gap-1")
                                small(class="text-sm font-bold") Host

            //- 8
            div(class="relative border border-gray-300 px-5 lg:px-16 py-3 lg:py-5 mb-6 hover-event")
                img(class="absolute left-0 bottom-0 w-[25px] lg:w-[35px]" src="assets/images/path-jadwal1.png", alt="")
                img(class="absolute right-0 top-0 w-[25px] lg:w-[35px]" src="assets/images/path-jadwal2.png", alt="")

                div 
                    div(class="flex flex-col lg:flex-row justify-between lg:items-center") 
                        div 
                            small(class="uppercase text-xs lg:text-sm text-green2 mb-2 block tracking-[1.2px]") Workshop
                            h6(class="font-bold text-lg lg:text-xl	") Develop an Effective Digital Marketing Strategy for Business

                        span(class="text-orange2 font-bold") 15:40 - 17:10 wib
                        
                    div(class="flex flex-col lg:flex-row lg:items-center gap-3 lg:gap-16 mt-3 lg:mt-5") 
                        div(class="flex items-center")  
                            div(class="flex-none mr-4 overflow-hidden w-[50px] lg:w-[65px] h-[50px] lg:h-[65px] rounded-full") 
                                img(src="assets/images/icon-FaizGhifari.png", alt="")
                            div(class="flex flex-col gap-1")
                                small(class="text-sm font-bold") Faiz Ghifari
                                small(class="text-sm") Founder of Belajarlagi

            //- 9
            div(class="relative border border-gray-300 px-5 lg:px-16 py-3 lg:py-5 mb-6 hover-event")
                img(class="absolute left-0 bottom-0 w-[25px] lg:w-[35px]" src="assets/images/path-jadwal1.png", alt="")
                img(class="absolute right-0 top-0 w-[25px] lg:w-[35px]" src="assets/images/path-jadwal2.png", alt="")

                div 
                    div(class="flex flex-col lg:flex-row justify-between lg:items-center") 
                        div 
                            h6(class="font-bold text-lg lg:text-xl	") Entertainment & Closing

                        span(class="text-orange2 font-bold") 17:10 - 17:40 wib
                        
                    div(class="flex flex-col lg:flex-row lg:items-center gap-3 lg:gap-16 mt-3 lg:mt-5") 
                        div(class="flex items-center")  
                            div(class="flex-none mr-4 overflow-hidden w-[50px] lg:w-[65px] h-[50px] lg:h-[65px] rounded-full") 
                                img(src="assets/images/icon-speaker.png", alt="")
                            div(class="flex flex-col gap-1")
                                small(class="text-sm font-bold") Host
                


