//- Scane
div(class="section section-mengapa bg-orange2 text-white pb-0 lg:py-0")
    div(class="container")
        div(class="flex flex-col-reverse lg:block")
            div(class="w-full lg:max-w-[55%] max-h-full lg:absolute left-0 bottom-0 lg:pr-10 ml-[-10%] md:ml-0 mt-5 lg:mt-0 overflow-hidden") 
                img(class="w-full" src="assets/images/section-tingkatkanskill.png", alt="Tingkatkan Skill Bisnis Anda Bersama Xpora")
            div(class="flex flex-col lg:flex-row items-center justify-end gap-5 lg:min-h-[330px] ")
                div(class="w-full lg:w-[45%]") 
                    h4(class="text-2xl font-bold mb-3 after:block after:w-[75px] after:content-[''] after:border-b-4 after:border-white after:pb-3") Tingkatkan Skill Bisnis Anda Bersama Xpora
                    div(class="text-base")
                        p Melalui BNI UMKM Festival, UMKM bisa mendapatkan insight dan pelatihan untuk meningkatkan skill sehingga dapat meningkatkan kapasitas bisnis untuk para pelaku.


