//- Scane
div(id="section-tentang" class="page-section section section-tentang")
    div(class="container")
        div(class="flex flex-col lg:flex-row items-center gap-10")
            div(class="flex-none lg:w-[40%] ") 
                img(src="assets/images/section-tentang.png", alt="")
            div(class="lg:pl-10") 
                h4(class="text-2xl font-bold  mb-3 after:block after:w-[75px] after:content-[''] after:border-b-4 after:border-orange1 after:pb-3") Tentang BNI UMKM Festival
                div(class="text-base")
                    p Pasca pandemi Covid-19 merupakan masa pemulihan ekonomi Indonesia, pertumbuhan sektor usaha mikro kecil dan menengah menjadi salah satu kunci pemulihan ini. Berdasarkan data Kementerian Koperasi dan Usaha Kecil Menengah (Kemenkop UKM) total UMKM di Indonesia tembus 8,71 juta unit usaha pada 2022.
                    p Untuk mengembangkan para pelaku UMKM ini, diperlukan dukungan dan dorongan dari berbagai pihak baik dari segi pendanaan maupun peningkatan <i>skill</i>.
                    p Diharapkan dari dukungan yang diberikan ini, dapat membantu memperluas usaha mereka tidak hanya skala lokal namun juga skala global.

