.main{
  margin-top: 80px;
  @include max-responsive(640px){
    margin-top: 60px;
  }
  &__page{
    padding-bottom: 100px;

    &__title{
      color: $color_1;
      text-transform: uppercase;
      @extend .font_b;
      border-left: 3px solid #ddd;
      padding-left: 15px;
      margin: 30px 0;
    }
  }
  &__index{
    margin-top: 35px;

    & .container > div{
      margin: 60px auto;
      @include max-responsive(640px){
        margin: 20px auto;
      }
    }

    &__whyitem{
      padding: 10px;
      @include max-responsive(640px){
        padding: 0;
      }

      &__foto{
        position: relative;
        overflow: hidden;
        height: 150px;

        img{
          @extend .imgfill;
        }
        h5{
          position: absolute;
          bottom: 0;
          width: 100%;
          color: #fff;
          padding: 15px;
          font-size: 20px;
          text-transform: uppercase;
          @extend .black1;
        }
      }
      p{
        padding: 5px 10px;
      }
    }

    &__linklabel{
      text-align: center;
      @include max-responsive(640px){
        margin: 5px 0;
      }
    }

    &__logo-logo{

      @include max-responsive(640px){
        margin: 10px 0;
      }
    }

    &__boxbottom{
      overflow: hidden;
      height: 300px;
      position: relative;

      @include max-responsive(640px){
        height: 150px;
      }
      img{
        width: 100%;
        @extend .imgfill;
      }
      &--overlay{
        background: rgba(0,20,53, 0.7);
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top:0;
        text-align: center;
        font-size: 24px;
        color: #94d3ff;
        text-transform: uppercase;
        @extend .font_b;
      }
    }

  //main index
  }

  //breadcum
  &__breadcum{
    background: rgba(0,21,107,1);
    background: -moz-linear-gradient(left, rgba(0,21,107,1) 0%, rgba(0,85,160,1) 51%, rgba(0,21,107,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,21,107,1)), color-stop(51%, rgba(0,85,160,1)), color-stop(100%, rgba(0,21,107,1)));
    background: -webkit-linear-gradient(left, rgba(0,21,107,1) 0%, rgba(0,85,160,1) 51%, rgba(0,21,107,1) 100%);
    background: -o-linear-gradient(left, rgba(0,21,107,1) 0%, rgba(0,85,160,1) 51%, rgba(0,21,107,1) 100%);
    background: -ms-linear-gradient(left, rgba(0,21,107,1) 0%, rgba(0,85,160,1) 51%, rgba(0,21,107,1) 100%);
    background: linear-gradient(to right, rgba(0,21,107,1) 0%, rgba(0,85,160,1) 51%, rgba(0,21,107,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00156b', endColorstr='#00156b', GradientType=1 );
    a, small{
      font-size: 12px;
      color: #fff;
      padding: 7px;
      display: block;
      &:hover{
        font-weight: bold;
      }
    }
    small{
      padding: 7px  0;
    }
  }

  &__services{


    &__banner{
      height: 290px;
      overflow: hidden;
      position: relative;
      color: #fff;
      text-align: center;
      @include max-responsive(640px){
        height: 350px;
      }
      h2{
        color: #fff;
      }

      img{
        position: absolute;
        left: 0;
        top: 0;
        @extend .imgfill;
        object-position: 50% 0 !important;
      }

      & .container{
        height: 300px;
        @include max-responsive(640px){
          height: 350px;
        }
      }
    }

    &__item{
      min-height: 130px;
      padding-right: 50px;

      @include max-responsive(640px){
        min-height: 130px;
        padding-right: 0;
      }

      &--icon{
        float: left;
        background: $color_2;
        padding: 11px 15px;
        border-radius: 50%;
        color: #fff;
        font-size: 25px;
        margin-right: 10px;
      }
      p{
        margin: 0;
      }
    }
  }

  //aboutus
  &__aboutus{

    &__box{
      height: 300px;

      img{
        width: 100%;
        @extend .imgfill;
      }

      p{
        padding-right: 40px;
      }

      &--2{
        background: $color_1;
        color: #fff;
        padding: 35px;
        min-height: 425px;

        @include max-responsive(640px){
          padding: 25px;
        }

        strong.title{
          font-size: 24px;
          display: block;
          border-bottom: 1px solid #fff;
          padding-bottom: 15px;
          margin-bottom: 15px;
        }

        ul{

          li{
            display: list-item;
            list-style: inside;
          }
        }

        &__b{
          background: $color_2;
        }
      }
    }

    &__quote{
      background: $color_1;
      color: #fff;
      height: 300px;
      text-align: center;

      h3{
        display: block;
        text-align: center;
        width: 100%;
        font-size: 40px;
        color: #fff;
      }
    }
  }

  //information
  &__information{


    &__list{

      li{
        display: flex;
        border-bottom: 1px solid #ddd;
        padding: 20px;
        align-items: center;

        @include max-responsive(640px){
          display: block;
          padding: 25px 10px;
        }

        &:nth-child(odd){
          background: #f8f8f8;
        }
        &:first-child{
          border-top: 1px solid #ddd;
        }
        span{
          display: block;
          font-weight: bold;
        }
        small{
          margin: 10px auto;
          display: block;
        }
        & .button{
          //display: block;
        }
      }

      &__button{
        //width: inherit;
        @include max-responsive(640px){
          float: left !important;
          margin-top: 10px;
        }

      }
    }
    &__paging{
      text-align: center;
      margin-top: 20px;

      ul{

        li{

          a{
            padding: 5px 10px;
            display: block;
            margin-right: 10px;

            &.active{
              background: $color_2;
              color: #fff;
            }
          }
        }
      }
    }
  }

  &__track{

    &__form{
      margin-bottom: 50px;

      &__title{
        font-size: 18px;
        padding: 12px 0;
      }
      &--awb{
        padding-right: 10px;
        @include max-responsive(640px){
          padding-right: 0;
        }
        input{
          width: 100%;
        }
      }

      & .button{
        @include max-responsive(640px){
          margin-top: 10px;
          width: auto;
        }
      }

    }
    &__result{
      overflow-x: auto;

      table{
        width: 100%;
      }
    }
  }

  &__contact{

    &__address{
      padding-right: 20px;
    }
  }

  &__network{

    &__tab{

      &__nav{

        li{
          //border: 1px solid $color_5;
          //border-bottom: none;
          background: #cbcbcb !important;
          color: #fff !important;
          border-radius: 4px 4px 0 0;
          float: left;
          margin-right: 1px;
          padding: 10px 20px !important;
          @include base_transition(all);

          @include max-responsive(640px){
            width: 49%;
          }

          &:hover{
            background: #b4b4b4 !important;
          }
          &.current{
            border-bottom: none;
            background: $color_5 !important;
            color: #fff !important;
          }
        }
      }

      &__content{
        border-top: 1px solid $color_5;
        background: #fff !important;

        ul{

          li{

            & .accordion__toggle{
              background: $color_6 !important;
              padding: 10px 20px 10px 20px;

              &:hover{
                padding: 10px 20px 10px 25px;
              }

              &.current{
                border-radius: 4px 4px 0 0;
              }
            }

            & .inner{

              &__content{
                overflow: hidden;
                border: 1px solid $color_6;
                border-top: none;
                padding: 20px;
                font-size: 14px;
                @include max-responsive(640px){
                  padding: 10px;
                }
              }
              & .title__tab{
                text-transform: uppercase;
              }
              ul{

                li{
                  padding: 5px 10px;
                  @include max-responsive(640px){
                    padding: 5px 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &__notfound{

    &__inner{
      text-align: center;
      min-height: 350px;
    }

  }

//main
}
