/* ==========================================================================
   Variable: Colors
   ========================================================================== */

// colors
$colors: (
  black: (
    0: #000,
    1: #100f14,
    2: #0f0f14,
    3: #111015,
  ),
  grey: (
    0: #888,
    1: #fcfcfc,
    2: #727273,
  ),
  blue: (
    1: #5ebcfd,
    5: #367cbf,
  ),
  white: (
    0: #fff,
    1: #fefeff,
  ),
  overlay: rgba(#000, 0.7),
  shadow: rgba(#000, 0.1),
  shadow-hover: rgba(#000, 0.2),
  social-media: (
    facebook: #1877f2,
    twitter: #1da1f2,
    instagram: #405de6,
    whatsapp: #25d366,
    youtube: #ff0000,
    spotify: #1db954,
  ),
);
