/* ==========================================================================
   Variable: Typography
   ========================================================================== */

$font-primary: "Gotham";

// Font
$font: (
  family-primary: $font-primary,
  h1: (
    font-size: 4.8rem,
    line-height: 6.4rem,
  ),
  h2: (
    font-size: 20rem,
    line-height: 21rem,
  ),
  h3: (
    font-size: 15rem,
    line-height: 16rem,
  ),
  h3-b: (
    font-size: 12rem,
    line-height: 13rem,
  ),
  h4: (
    font-size: 8.6rem,
    line-height: 9.2rem,
  ),
  h4-b: (
    font-size: 8rem,
    line-height: 8rem,
  ),
  h5: (
    font-size: 6rem,
    line-height: 7rem,
  ),
  h5-b: (
    font-size: 5rem,
    line-height: 6rem,
  ),
  h6: (
    font-size: 4.4rem,
    line-height: 7.8rem,
  ),
  body: (
    font-size: 4rem,
    line-height: 5rem,
  ),
  label: (
    font-size: 3.4rem,
    line-height: 4.4rem,
  ),
  label-b: (
    font-size: 3.2rem,
    line-height: 4rem,
  ),
  label-c: (
    font-size: 2.8rem,
    line-height: 3.2rem,
  ),
  small: (
    font-size: 2.4rem,
    line-height: 2.8rem,
  ),
  small-a: (
    font-size: 2.2rem,
    line-height: 2.6rem,
  ),
  small-b: (
    font-size: 2rem,
    line-height: 2.4rem,
  ),
  small-c: (
    font-size: 1.6rem,
    line-height: 2rem,
  ),
  x-small: (
    font-size: 1.2rem,
    line-height: 1.6rem,
  ),
  weight: (
    regular: 400,
    medium: 500,
    bold: 700,
  ),
);
