/* ==========================================================================
   Variable: z-index
   ========================================================================== */

$z-index: (
  header: 9,
  power-your-play-gradient-right: 3,
  power-your-play-container: 2,
  power-your-play-gradient-before: 1,
  power-your-play-gradient-after: 1,
  performance-summary-container: 2,
  performance-summary-before: 1,
  lovely-architecture-list: 3,
  lovely-architecture-before: 2,
  lovely-architecture-img: 1,
  introduction-desc-layer: 1,
  lovely-architecture-banner-video: 1,
  lovely-architecture-banner-before: 2,
  lovely-architecture-banner-after: 2,
  lovely-architecture-banner-ttl: 3,
  beyond-performance-before: 1,
  beyond-performance-after: 1,
  beyond-performance-container: 2,
  introduction: 2,
  introduction-desc: 1,
  introduction-headline: 1,
  introduction-video-after: 1,
  connectivity-img-after: 1,
  connectivity-svg: 1,
);
