-
  data = {
    ttl: '<span>Beyond</span><span>Performance.</span>',
    desc: 'Stream, create, and compete at the highest levels with industry-leading features and the latest hybrid architecture.',
  }

include ../../layouts/beyond-performance.pug
