-
  data = {
    ttl: '<span>Beyond</span><span>Fast.</span>',
    subtitle: 'The new NVIDIA<span>R</span> Ada Lovelace architecture significantly improves speed, efficiency, and Al-powered graphics.',
    desc: 'Ray Tracing Cores of the third generation, and Tensor Cores of the fourth generation.',
    img: 'legion-beyond-fast.png',
  }

include ../../layouts/beyond-fast.pug
