-
  data = {
    desc: 'The new NVIDIA&reg; Ada Lovelace architecture significantly improves speed, efficiency,<br/>and Al-powered graphics.',
    desc2: 'Ray Tracing Cores of the third generation, and Tensor Cores of the fourth generation.',
    img: 'legion-beyond-fast.png',
  }

include ../../layouts/beyond-fast-desc.pug
