-
  data = {
    top: [
      {
        label: 'Increase',
        ttl: 'Intel® Smart Cache<br/>(L3) and L2 cache',
        desc: 'on Intel® Core i5 Desktop<br/>processors and above'
      },
      {
        label: 'Extended Performance',
        ttl: 'hybrid<br/>architecture 2',
        desc: 'to all Intel® Core i5 Desktop<br/>processors and above'
      },
    ],
    bottom: [
      {
        ttl: 'P-core<br/>performance',
        label: 'Improved'
      },
      {
        ttl: '24 (8P+16E)<br/>processor cores',
        desc: 'with up to 32 threads',
        label: 'Up to'
      },
    ]
  }

include ../../layouts/beyond-performance-v.pug
