-
  data = {
    ttl: '<span>Hassle-free</span><span>Connectivity.</span>',
    img: 'https://bdd.capital-six.com/wp-content/uploads/2023/01/Legion-X80-Tower-5i-Graded-Power-On_00000.jpg'
  }

include ../../layouts/connectivity.pug
