-
  data = {
    desc: 'Powered by 13th Gen Intel<span>&reg;</span> Core<span>TM</span> processor, gamers will feel the thrill, savagery, and rush of a powerful machine bearing down on your adversaries.',
    video: 'legion.mp4',
    list: [
      {
        title: 'New Design.'
      },
      {
        title: 'Super Performance.'
      }
    ]
  }

include ../../layouts/headline.pug
