-
  data = {
    video: 'legion.mp4',
    img: 'assets/images/section1-laptop.png',
    list: [
      {
        ttl: 'Unlimited Power.'
      },
      {
        ttl: 'Legion Pro 7i'
      }
    ]
  }

include ../../layouts/introduction.pug
