-
  data = {
    img: 'legion-lovely-architecture.png',
    alt: 'Lovely Architecture',
    list: [
      {
        label: 'Up to',
        ttl: '32 Threads',
        desc: '16 on Performance-cores',
      },
      {
        label: 'Up to',
        ttl: '24 Cores',
        desc: '8 on Performance-cores',
      },
      {
        label: 'Up to',
        ttl: '5.8 GHz',
        desc: 'with up to 32 threads',
      },
    ]
  }

include ../../layouts/lovely-architecture.pug
