-
  data = {
    ttl: '<span>Performance<span/><span>Summary.</span>',
    video: 'legion-performance-summary.mp4',
    list: [
      {
        txt: 'Up to <span>2x</span> performance and power efficiency',
        percent: '99',
      },
      {
        txt: 'Up to <span>2x</span> AI performance',
        percent: '99',
      },
      {
        txt: 'Up to <span>2x</span> ray tracing performance',
        percent: '99',
      },
    ]
  }

include ../../layouts/performance-summary.pug
