-
  data = {
    ttl: 'Power your play.',
    list: [
      {
        to: '#',
        name: '<strong>H600</strong> Wireless<br/>Gaming Headset',
        img: 'power-your-play-1.png',
        alt: 'h600 Wireless Gaming Headset'
      },
      {
        to: '#',
        name: 'Legion <strong>M300</strong><br/>Gaming Mouse',
        img: 'power-your-play-2.png',
        alt: 'Legion M300 Gaming Mouse'
      },
      {
        to: '#',
        name: 'Legion <strong>Y27h-30</strong><br/>Monitor',
        img: 'power-your-play-1.png',
        alt: 'Legion Y27h-30 Monitor'
      },
    ]
  }

include ../../layouts/power-your-play.pug
