-
  data = {
    ttl: '<span>Two sizes to</span><span>choose from.</span>',
    desc: 'The new design of the new Legion Towers offers a sophisticated battlestation that will take your gameplay to the next level.',
    label: 'intel',
    imgLeft: 'legion-size-1.png',
    imgRight: 'legion-size-2.png',
  }

include ../../layouts/sizes.pug
