@import url('https://fonts.googleapis.com/css?family=Oswald');

@keyframes slideDown {
	0% {
	    transform: translateY(-104px);
	}
	100% {
	    transform: translateY(0px);
	}
}
@keyframes slideDown {
	0% {
	    transform: translateY(-104px);
	}
	100% {
	    transform: translateY(0px);
	}
}
@keyframes slideDown {
	0% {
	    transform: translateY(-104px);
	}
	100% {
	    transform: translateY(0px);
	}
}

body { line-height: auto; }
body .rt-block {margin-top:0; margin-bottom:0;}

.animated.slideDown {
    animation-name: slideDown;
}

.img-border-01 {border:1px solid #ddd; padding:1px; background:#fff;}
.img-border-02 {border:1px solid #ddd; padding:2px; background:#fff;}
.img-border-05 {border:1px solid #ddd; padding:5px; background:#fff;}
.img-border-10 {border:1px solid #ddd; padding:10px; background:#fff;}

.rt-lblock {padding: 0 10px; margin: 0 15px;}
.rt-logo-block #rt-logo { padding: 24px 25px 0 25px; background-position: 0 center !important; }
.alert .close { top: -8px; right: -5px; }


/*.extension-type-preset1.layout-mode-responsive #rt-header-surround.scrollheader {top:40px;}*/
.layout-mode-responsive #rt-header-surround.scrollheader {top:40px;}
#rt-topmost {position:fixed; top:0; left:0; right:0; z-index:1001; background:#025e5e; height:40px; font-size:13px; line-height: 40px; color:#02e6e6; }
	#rt-topmost a { color:#02e6e6; }
.rt-sysmod-01 h2 {font-size:18px;}
	.rt-sysmod-01 a {color: #acacac;}
	.rt-sysmod-01 img {border-radius:50%;}
	.rt-sysmod-01 img {
	  border-radius: 50%;
	  -webkit-transition: -webkit-transform .3s ease-in-out;
	          transition:         transform .3s ease-in-out;
	}
	.rt-sysmod-01 .csx01:hover img {
	  -webkit-transform: rotate(20deg);
	          transform: rotate(20deg);
	}
	.csx02 {margin-top:20px;}

body #k2Container.userView .userBlock h2 {margin-top:15px;}
body #k2Container.userView .userBlock img {margin-top:10px;}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.textSlides { background:url('../images/bg-grass.jpg') center center; color:#fff; }
	.textSlides .tsLi { text-shadow: 0 2px 1px rgba(0,0,0,0.75); }

.langSwitcher {text-align: right; margin-right:10px; float:right;}
.mod-contactus {margin-left:10px; padding-left:15px; font-size:12px; overflow-x:hidden; white-space:nowrap;}
.top-search-box {float:right; margin-right:25px; margin-left:-10px;}
	.top-search-box input {border-radius:0 !important; padding:2px 6px; font-size:12px; width:150px;}
	.top-search-box button {padding: 2px 5px 1px; }

.itemContainer[style*="width:33.3"] { text-align:center; }
.itemNavigation .button { text-transform: capitalize; padding: 5px 20px !important; font-size:13px; margin:20px 2px 0;}

.mod-news.rt-block  {padding: 0; border: 1px solid #e6e6e6; margin: 10px;}
	.mod-news .module-title .title { padding: 0 15px 0; text-align:center;}
	.mod-news ul {padding:0 !important;}
	.mod-news ul li,
	.mod-news ul.menu li { line-height: 18px !important; padding: 10px 15px !important; margin-bottom: 0 !important; border-top: 1px solid #e1e1e1 !important; border-bottom:0 !important;}
		.mod-news ul li.clearList {border-top:0 !important; padding:0 !important;}
	.mod-news ul li.lastItem {border-bottom:0 !important;}
	.mod-news .moduleItemAuthor,
	.mod-news .moduleItemDateCreated,
	.mod-news .moduleItemCategory,
	.mod-news .moduleItemReadMore { font-size:12px; }
	.mod-news_ .moduleItemTitle { line-height:14px; }
	.mod-news .modulePretext { padding:10px; margin:0; line-height:20px; border-top:1px solid #e1e1e1; }

	.mod-news .nav-header { font-size: inherit; line-height:20px; text-transform: none; padding:0; margin:0; font-weight: normal; }

	.mod-news li.hasAvatar { padding-left: 75px !important; min-height: 60px; }
	.mod-news li.hasAvatar a.k2Avatar { display:block; position: absolute; margin-left: -65px; }

.mod-item { border:1px solid #e1e1e1; margin-bottom:15px; }
.mod-item h2 { padding: 10px 15px 0; margin: 10px 15px !important;}
	.mod-item ul {margin:0; padding:0; list-style:none;}
	.mod-item li { line-height: 18px; padding:8px 15px; margin-bottom: 0; border-top: 1px solid #e1e1e1;}

.usersListing ul li {line-height:115%; margin:3px 0;}

div.k2LatestCommentsBlock ul li {margin: 0 0 10px;}
div.k2LatestCommentsBlock ul li.clearList{margin:0;padding:0;}
.rt-block.mod-content-top {margin-bottom:0; padding-bottom:0;}
	.rt-block.mod-content-top div.k2LatestCommentsBlock ul li {line-height: normal;}
	.rt-block.mod-content-top div.k2LatestCommentsBlock  .k2Avatar img {margin-bottom:5px;}

.subCategoryItems a {color:#399ccb;}
	.subCategoryItems a:hover {color:#000;}
	.subCategoryItems .fa {position:absolute; margin-top:3px; font-size:12px; color:#c3c3c3;}
	.subCategoryItems li:hover .fa {color:#666;}
	.subCategoryItems ul {list-style:none; margin:0;}
	.subCategoryItems ul li {line-height: 1.3em; margin: 2px 0; font-size: 13px;}
	.subCategoryItems ul li a {display:block; margin-left:15px;}
	
.subCategory .subCatImgCont {margin-right:10px;}

.gf-menu .item {line-height: 16px;}

.itemListSubCategories .imgSubCat, .itemListCategory .imgSubCat {position:absolute;}
	.itemListSubCategories .descSubCat, .itemListCategory .descSubCat {margin-left:170px;}

.itemAuthorBlock,
.userBlock,
body #k2Container.itemView .itemAuthorBlock h3 {line-height:125%;}
body #k2Container.itemView .itemToolbar { margin:-5px 0 10px; }

div[id*="rt-sidebar"] {margin-top: 15px;}
#rt-sidebar-a .treeStyle .module-title .title {text-align:center; background:#0f628d; color:#fff; padding-top:10px; padding-bottom:10px; margin-bottom:2px;}
#rt-sidebar-a .rt-block.box5 { border:1px solid #e6e6e6; border-radius:0; margin-bottom:10px; }
#rt-sidebar-a .rt-block.box5 h2.title {margin-top:10px; text-align: center;}
.rt-big-title .title {text-shadow: 1px 2px 0 rgba(0,0,0,0.2); font-size:32px; line-height:120%;}

#rt-breadcrumbs {background:#e5f6ff;}
#rt-breadcrumbs a, #rt-breadcrumbs span { font-size:13px; }
#rt-breadcrumbs .rt-block {margin: 0 10px;}
#rt-breadcrumbs ul li {line-height:120%;}
#rt-mainbody-surround{background:#fff !important;}

#system-message .alert { margin: 10px; }
.page-search-results .rt-search-cont {display:none;}
.rt-search-cont {text-align: center; padding:10px;}
	.rt-search-cont form,
	.component-content form#searchForm {margin:0; padding:0;}

	.rt-search-cont form input,
	.component-content form#searchForm input.inputbox {margin:2px 0 0; border-radius:0; padding: 11px; width:60%;}
		.component-content form#searchForm input.inputbox {width:200px;}
	.rt-search-cont form button, .component-content form#searchForm button {margin: 2px 0 0; border-radius: 0 !important;}

a.ba-edit-gallery-btn {display:none;}

body #k2Container.itemListView .itemListSubCategories .subCategory h2 {margin: 10px 0; padding-top:0; line-height:120%;}
body #k2Container.itemListView .itemListSubCategories .subCategory h2::before {content:none;}
body #k2Container.itemView .itemImageBlock { background:#f0f0f0; margin-bottom:30px; margin-top:-25px; }
body #k2Container.itemView .itemImage img {max-width: 560px; }
	body.menu-news #k2Container.itemView .itemImage img {max-width:600px;}
	body #k2Container.itemListView .itemListCategory h2::before {content:none;}
body #k2Container.itemListView .itemList #itemListPrimary .catItemImage img {width: auto !important;}
body #k2Container.itemListView .itemListSubCategories .subCategory img {width: 100% !important;}

body #k2Container.itemListView .itemList #itemListLeading .catItemView {border-left:0; border-right:0;}
body #k2Container.itemListView .itemList #itemListLeading .catItemCategory span,
body #k2Container.itemView .itemCategory span,
body #k2Container.userView .userItemList .userItemCategory span {width:auto;}
.catItemView.groupLinks .catItem {float:none;}
	.catItemView.groupLinks .catItemIntroText,
	.catItemView.groupLinks .catItemReadMore,
	.catItemView.groupLinks .catItemCategory,
	.catItemView.groupLinks .catItemCommentsLink,
	.catItemView.groupLinks .catItemAuthor,
	.catItemView.groupLinks .catItemLinks {display:none;}
	.catItemView.groupLinks .catItemTitle {margin:-3px 0 0; padding:0; font-size:14px;}
	.catItemView.groupLinks .catItemHeader {margin-top:0 !important;}

div.k2CategoriesListBlock ul {margin:0 !important; padding:0 !important;}
div.k2CategoriesListBlock > ul > li ul {display:none;}
div.k2CategoriesListBlock > ul li { margin: 0 0 2px; }
div.k2CategoriesListBlock > ul li a {margin: 0 0 2px; background:#f1f1f1; border-bottom:1px solid #e5e5e5; position:relative;}
	div_.k2CategoriesListBlock > ul > li li a {background: #ccc; }
	div.k2CategoriesListBlock li.parentActive > a { font-weight:700; }
	div.k2CategoriesListBlock li.parentActive a { background:#f0faff; border-bottom: 1px solid #d6effb; }
	div.k2CategoriesListBlock li li.activeCategory a { background:#d6effb; border-bottom:1px solid #c0dcea; }
	div.k2CategoriesListBlock li li li.parentActive a,
	div.k2CategoriesListBlock li li li.activeCategory a { background:#c8e9fa; border-bottom:1px solid #9bcce5; }

	div.k2CategoriesListBlock li li li li.parentActive a,
	div.k2CategoriesListBlock li li li li.activeCategory a { background:#addcf4; border-bottom:1px solid #9bcce5; color:#2d7ea7; }

div.k2CategoriesListBlock > ul a { display:block; line-height:normal; padding: 10px 30px 10px 10px;}
	div.k2CategoriesListBlock > ul > li > a { padding: 15px 30px 15px 15px; }
	div.k2CategoriesListBlock > ul > li li > a {padding-left:30px; font-size:12px; }
	div.k2CategoriesListBlock > ul > li li li > a {padding-left:45px; }
	div.k2CategoriesListBlock > ul > li li li li > a {padding-left:60px; }

div.k2CategoriesListBlock ul li.activeCategory a {font-weight:normal;}
	div.k2CategoriesListBlock ul li.parentActive > a {font-weight:bold;}
div.k2CategoriesListBlock ul li a span.catCounter {display:none;}

div.k2CategoriesListBlock ul li a span.listDown {text-align: center; position: absolute; right: 0; top:0; padding:10px 15px;}

div.itemAttachmentsBlock {margin: 15px 0; padding: 15px 0; border:0;}
div.itemAttachmentsBlock ul.itemAttachments li{ margin-left:0; padding-left:0; }
span.itemImageCaption, span.itemImageCredits {padding:0 10px 10px; line-height:16px;}

.itemBody {position:relative;}
#contAnchorWrap.fixed{position:fixed; top:65px; z-index:999;}
	#contAnchorWrap.fixed #contAnchor { position: absolute; left:0; top:0; right:0; }

#contAnchor{margin: -25px 0 65px; background:#4c4c4c; padding:15px; text-align:center;}
	#contAnchor ul {margin:0; padding:0; list-style:none;}
	#contAnchor li {display:inline-block;}
	#contAnchor a {display:block; padding: 10px 25px; background:#888888; color:#fff;}
		#contAnchor a:hover { color:#979797; }

.wrapContAnchor { padding: 20px 0; border-top:1px solid #333; }
	.wrapContAnchor h3 {font-size: 36px; text-align:center; color:#014f7b;}
	#datasheet.wrapContAnchor { background-color:#fff; }
	#specifications.wrapContAnchor { background-color: #fff; }

#_k2Container .itemFullText {border-bottom: 1px solid #333; margin-bottom:30px; padding-bottom:30px;}

.cont-search-result {padding:20px; border-bottom:1px solid #d3d3d3; }
.cont-search-result:nth-child(2n) {background:#ebf2fc;}
.cont-search-result:nth-child(2n + 1) {background:#f0f0f1;}

.product_contact_form {background:#025e5e; padding: 10px 20px;}
	.product_contact_form.style2 form { margin-bottom: 0; }
	.product_contact_form label { color:#02e6e6; }
		.product_contact_form.style2 label { color:#676767; margin-bottom:2px; line-height: 18px; }
		.product_contact_form label span { color:#ffa800 !important; }
	.product_contact_form .gcore-input-wide {width:100%;}
	.product_contact_form .gcore-input-wide input[type="text"],
	.product_contact_form .gcore-input-wide select,
	.product_contact_form .gcore-input-wide textarea {width:90%; background-color:#e3ebf3; border-radius:0;}
	.product_contact_form .gcore-input-wide select {width:94%;}
	.product_contact_form .gcore-input-wide input[type="text"]:focus,
	.product_contact_form .gcore-input-wide textarea:focus { background-color:#c1d4e5; }
	.product_contact_form #fin-captcha2 {margin-top:30px;}
	.product_contact_form h3 {color:#d6e5f2;}
		.product_contact_form.style2 h3 { color: #025e5e; font-size: 18px; margin-top:-5px; margin-bottom: 0;}

	.product_contact_form.style2 input[type="text"], .product_contact_form.style2 textarea { color: #000; padding: 5px 10px;}

.cc-center {text-align:center;}
.cc-center .gcore-line-tr .gcore-input {float:none; width:100%;}

.fp-roksprocket-showcase .layout-showcase .sprocket-features-arrows .arrow:hover { background-color:#025e5e; }

.layout-showcase .sprocket-features-arrows .arrow {top:44% !important;}
.showcase-bg-transition-top-to-bottom #rt-showcase.showcase-panel-1,
.showcase-bg-transition-left-to-right #rt-showcase.showcase-panel-1,
.showcase-bg-transition-top-to-bottom #rt-showcase.showcase-panel-2,
.showcase-bg-transition-left-to-right #rt-showcase.showcase-panel-2,
.showcase-bg-transition-top-to-bottom #rt-showcase.showcase-panel-3,
.showcase-bg-transition-left-to-right #rt-showcase.showcase-panel-3,
.showcase-bg-transition-top-to-bottom #rt-showcase.showcase-panel-4,
.showcase-bg-transition-left-to-right #rt-showcase.showcase-panel-4,
.showcase-bg-transition-top-to-bottom #rt-showcase.showcase-panel-5,
.showcase-bg-transition-left-to-right #rt-showcase.showcase-panel-5,
.showcase-bg-transition-top-to-bottom #rt-showcase.showcase-panel-6,
.showcase-bg-transition-left-to-right #rt-showcase.showcase-panel-6,
.showcase-bg-transition-top-to-bottom #rt-showcase.showcase-panel-7,
.showcase-bg-transition-left-to-right #rt-showcase.showcase-panel-7 { background-color:#41A4DD; }
.fp-roksprocket-showcase.rt-block{padding:20px 0;}
body.menu-home #rt-showcase, body.menu-home-2 #rt-showcase { background-color:#e3e3e3 !important; background-image: url(../images/bg-mainslide-left.png), url(../images/bg-mainslide-right.png) !important; background-position: left center, right center !important; background-repeat: no-repeat, no-repeat !important;}

.sfc-inner { border:1px solid #ddd; padding:10px; }

.pGallery #itemListPrimary {text-align:center !important;}
	.pGallery .catItemTitle {font-size:18px !important;}

.siteSyspex .itemList .itemContainer {margin-bottom:15px; width:100%; background:#fff;}
	.siteSyspex .itemList .itemContainer .catItemView {border:1px solid #eee !important;}
	.siteSyspex .itemList .itemContainer .catItemImageBlock {padding:15px !important; background-color:#eee; margin-bottom:15px !important;}
	.siteSyspex .itemList .itemContainer .catItemImageBlock img {padding:0 !important; margin:0 !important; border:0 !important; max-width:600px !important;}
	.siteSyspex .itemList .itemContainer .catItemImageBlock span.catItemImage {margin:0;}
	.siteSyspex .itemList .itemContainer .catItemHeader,
	.siteSyspex .itemList .itemContainer .catItemIntroText,
	.siteSyspex .itemList .itemContainer .catItemReadMore {padding: 0 15px 15px !important; margin:0 !important;}
	.siteSyspex .itemList .itemContainer .catItemReadMore {text-align:center;}
	.siteSyspex .itemList .itemContainer .catItemLinks {padding: 10px !important;}
		.siteSyspex .catItemLinks .catItemCategory,
		.siteSyspex .catItemLinks .catItemCommentsLink {float:left; margin-right:15px;}
	.siteSyspex .itemList .itemContainer .catItemIntroText p {margin:0;}

	.st-home .siteSyspex .itemList .itemContainer .catItemIntroText p { margin: 0 0 15px; }
		.st-home .siteSyspex .itemList .itemContainer .catItemIntroText p:last-child {margin-bottom:0;}

span.itemEditLink a, span.catItemEditLink a, span.userItemEditLink a {line-height: 100% !important;}
.polling_container_wrapper {width:100% !important;}
.polling_container_wrapper .answer_wrapper {display:none;}
	.polling_container_wrapper .polling_bottom_wrapper1 {text-align:center;}
	.polling_container_wrapper .polling_bottom_wrapper1 input[type="button"] {display:inline-block !important; float: none !important;}
	.polling_container_wrapper .polling_info > table tr + tr {display:none;}

body #k2Container.itemListView .itemList #itemListLeading h3 {line-height:120%;}
#rt-main-surround {min-height:340px;}
a.toolbar {color:#fff;}
form#adminForm { margin:10px;}
body #k2Container.itemView .itemAuthorLatest { width:100%; }
body #k2Container.itemView .itemAuthor {margin:0;}
div.itemHeader {margin-bottom:15px;}
.siteSyspex div.itemHeader { float:left; width: 100%; }
div.itemVideoBlock {padding:0;}
#k2ModuleBox299 li {margin-bottom:0;}
div.k2CategorySelectBlock form select {width:100%;}
div.k2SearchBlock form input.inputbox {width:90%;}

li > a.subtext > em {text-align:center !important;}

.itemBtnPanel { margin: 10px 0; }
	.itemBtnPanel a {
		font-family: 'Oswald', sans-serif;
	    display: inline-block;
	    background: #1db5b6;
	    width: 95px;
	    color: #fff;
	    text-shadow: 0 2px 1px rgba(0,0,0,0.25);
	    line-height: 18px;
	    text-align: center;
	    padding: 5px 10px 7px;
	    font-size: 16px;
	    border-radius: 8px;
	    text-transform: uppercase;
	    font-weight:bold;
	    transition: all 0.1s;
	    margin-right: 10px;
	    margin-bottom: 5px;
	    vertical-align: middle;
	}
	.itemBtnPanel a:hover {
		background: #0a999a;
	}

.img-thumbs { text-align:center; margin: 10px 0; }
	.img-thumbs .img-thumb { display: inline-block; padding: 8px; border: 1px solid #dedede; margin: 5px; }
	.img-thumbs .img-thumb.active { border-color: #bbb; }
	.img-thumbs .img-thumb:not(.active) { cursor: pointer; }
	.img-thumbs .img-thumb img { width: 60px; }

.cDescription table { width: auto !important; }

.connect-with-director {
	color: #18bdb9;
	font-weight: bold;
	font-style: italic;
	font-size: 16px;
	font-family: 'Open Sans', 'Helvetica', arial, serif;
}

.connect-with-director span {
	font-size: 13px;
}

.connect-with-director [class*="icon"] {
	    background-color: #18bdb9;
	    color: #fff;
	    width: 32px;
	    height: 32px;
	    font-size: 18px;
	    text-align: center;
	    vertical-align: middle;
	    border-radius: 100%;
	    line-height: 32px;
	    display: inline-block;
	    margin-right: 3px;
}

.connect-with-director span { font-weight: normal; }

.job-item { margin-bottom: 10px; }
.job-item span { display: block; line-height: 18px;}
.job-item .name { font-weight: bold; font-size: 16px; }
.job-item .name a { color: #000; }
.job-item .name a:hover { color :#999; }
.job-item .location { font-size: 12px; color: #999; }
.spjob-dept-item a { color: #000; }
.spjob-dept-item a:hover { color: #999; }
.spjob-dept-item a.active { font-weight: bold; }

.job-application-form { padding: 10px 20px 0; border: 1px solid #59c4c4; }
.job-application-form input[type="text"] { height: 36px; line-height: 36px; }
.job-application-form input[type="text"], .job-application-form select, .job-application-form textarea { width: 100% !important; box-sizing: border-box; }
.job-application-form [class*="gcore-input"] { display: block; float: none !important; }
.spjob-item-title { margin: -5px 0 15px; font-size: 22px !important; line-height: 22px; }

.spjob-sidebar { margin-right: 40px; }
.spjob-sidebar select { box-sizing: border-box; width: 100%; border-radius: 0 }

.featured-roles {
	padding: 0 0 5px 40px;
	/*margin-top: 75px;*/
	margin-top: -15px;
	margin-bottom: 30px;
	background: url('/images/dot-green.png') 0 repeat-y;
	/*min-height: 225px;*/
	min-height: 295px;
}

.featured-roles h3 {
	margin: 15px 0 15px; color:#757575; text-transform: uppercase; font-size: 11px !important; font-weight: bold;
}

.events-gallery ul { margin: 0; padding: 0; list-style: none; text-align: center; }
.events-gallery ul li {
	display: inline-block;
	margin: 15px;
}
.events-gallery ul li span {
	display: block;
	padding: 5px 10px;
	margin-top: -7px;
	text-align: center;
	color: #fff;
	background: #22bcb9;
	font-weight: bold;
}

.career-footer { text-align: center; }
.career-footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.career-footer li {
	display: inline-block;
	margin: 15px;
}

.career-footer li img {
	width: 200px;
}

.career-footer h3 {
	color: #505050;
	text-shadow: none;
	font-size: 30px !important;
	font-weight: normal;
	margin-top: 10px !important;
}

.career-footer .description {
	color: #505050;
	font-size: 20px;
	text-shadow: none;
	display: block;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}

.career-footer li { overflow: hidden; }

.career-footer li span {
	display: block;
	padding: 5px 10px;
	text-align: center;
	color: #fff;
	background: #22bcb9;
	font-weight: bold;
}

.career-footer li img {
	transition: all 0.2s;
}

.career-footer li img:hover {
	/*transform: scale(1.55) rotate(5deg);*/
}

.career-footer li img:active {
	/*transform: scale(1.6);*/
}

.career #rt-bottom { background-color: #43e6e3; }

.gbs3 .gcore-display-table { display: block !important; }
.gbs3 .gcore-label-left { max-width: none !important; min-width: none !important; }
.career .gbs3 label { line-height: 12px; }

.window-container { z-index: 1004 !important; }
.image-browser-root { z-index: 1003 !important; }
.pg-cv-box { display: inline-block; float: none; }
.pg-cv-box.item figure { margin: 0; }
.phocagallery-box-file, .pg-csv-box { float: none; display: inline-block; }
.pg-cv-box-mod-ri { float: none !important; display: inline-block; }

#phocagallery .pagination { margin: 0; padding: 0; height: auto;}
#phocagallery form { margin: 0; }
.pg-cv-paginaton {margin-bottom: 0;}
#phocagallery .ph-cb { display: none; }

.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; }
.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/**********MEDIA QUERIES OVERRIDE/**********/

/*Large Mode*/
@media only screen and (min-width: 1200px) {
	/*body#scrollheader.extension-type-preset1.layout-mode-responsive {padding-top:114px;}*/
	body#scrollheader.layout-mode-responsive {padding-top:114px;}
}

/*Desktop Modes*/
@media only screen and (min-width: 960px) and (max-width: 1199px) {
	/*body#scrollheader.extension-type-preset1.layout-mode-responsive {padding-top:114px;}*/
	body#scrollheader.layout-mode-responsive {padding-top:114px;}
}

/*Mobile Modes*/
@media (max-width: 767px) {
	body .rt-block {margin: 25px 0; padding: 15px 0;}
	body .rt-block.career-footer { margin-top: 0; }
	body .siteSyspex .rt-block {margin: 15px 0 10px; padding: 15px 0 10px;}
	.siteSyspex .pageK2Item #rt-mainbody-surround {background:#fff !important;}
	#rt-topmost,
	#contAnchorWrap {display:none;}
	body.menu-home #rt-showcase, body.menu-home-2 #rt-showcase {background-image: url(../images/bg-mainslide-left-767.png), url(../images/bg-mainslide-right-767.png) !important;}
	.itemListSubCategories {text-align:center;}
	.subCategoryItems .fa {display:none;}
	.subCategory .subCatImgCont {margin-right:0;}
		body #k2Container.itemListView .itemListSubCategories .subCategory img { width:33% !important; }
	.siteSyspex .itemList .itemContainer .catItemImageBlock {padding:0 !important;}
	.siteSyspex .rt-block.mod-content-top,
	.siteSyspex .rt-block.mod-poll {background:#fff; padding: 10px 15px;}
	body #k2Container.itemView .itemComments #submitCommentButton {margin-left:auto; margin-right:auto;}
	body #k2Container.itemView .itemImage img { margin:0; border:0; }
	.featured-roles {
		padding-left: 0; background-image: none; margin-top: 0;
		min-height: inherit;
	}
	.spjob-sidebar { margin-right: inherit; }

	h1 {text-align: center;}

	.rt-logo-block #rt-logo {background-position: center center !important; }
	.career-footer .description { width: inherit; }

}

/*Small Screen Mobile Modes*/
@media only screen and (max-width: 480px) {
	body.menu-home #rt-showcase, body.menu-home-2 #rt-showcase {background-image: url(../images/bg-mainslide-left-480.png), url(../images/bg-mainslide-right-480.png) !important;}
}