input,
button,
select,
textarea {
  font-weight: 600;
}

select::-ms-expand {
  display: none;
}
select {
  -webkit-appearance: none;
  appearance: none;
}
label {
  font-weight: 600;
}

.field {
  &__select {
  }
}
