.footer{
	background: #010003;
	height: 75px;
	color: #fff;
	font-size: 12px;

	&__inner{
		padding-top: 25px;
		@include max-responsive(640px){
	    padding-top: 15px;
	    text-align: center;
	  }
	}
}
