/*––––––––––––– RWD –––––––––––––*/
[class*=col]{
	float:left;
	position:relative;
	//padding-left:20px;
	@include min-responsive($md){
		//margin-left:0;
	}
	@include min-responsive($lg){
		//margin-left:20px;
	}
}
[class*=col]:first-child{margin-left:0}

.container {
	height: auto;
	margin: 0 auto;
	*zoom: 1;
	position: relative;
	//width: 1100px;
}
.col-x{width: auto;}

/*––––––––––––– grid –––––––––––––*/
.w100{width:100%}
.w75{width:75%}
.w50{width:50%}
.w25{width:25%}

.clearfix,
.row{
	&:after,
	&:before {
		display: table;
		content: "";
		line-height: 0;
	}
	&:after {
		clear: both;
	}
}
