@font-face {
    font-family: icomoon;
    src: url(../fonts/icomoon.eot?5gt1up);
    src: url(../fonts/icomoon.eot?5gt1up#iefix) format("embedded-opentype"), url(../fonts/icomoon.ttf?5gt1up) format("truetype"), url(../fonts/icomoon.woff?5gt1up) format("woff"), url(../fonts/icomoon.svg?5gt1up#icomoon) format("svg");
    font-weight: 400;
    font-style: normal
}

[class*=" icon-"],
[class^=icon-] {
    font-family: icomoon!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}


/*––––––––––––– socmed icon –––––––––––––*/
.bg-tw,
.kcm-social-footer li a:hover .ico-social.icon-tw {
    background: #5EAADE
}

.bg-fb,
.kcm-social-footer li a:hover .ico-social.icon-fb {
    background: #3B579D
}

.bg-gp,
.kcm-social-footer li a:hover .ico-social.icon-gp {
    background: #DD4B39
}

.bg-in,
.kcm-social-footer li a:hover .ico-social.icon-in {
    background: #0077B4
}

.bg-ig,
.kcm-social-footer li a:hover .ico-social.icon-ig {
    background: #3F729B
}

.bg-ws,
.kcm-social-footer li a:hover .ico-social.icon-ws {
    background: #4DBC93
}

.bg-line,
.kcm-social-footer li a:hover .ico-social.icon-line {
    background: #58D413
}

.bg-pint,
.kcm-social-footer li a:hover .ico-social.icon-pint {
    background: #CE2029
}

.bg-comment {
    background: #B6B6B6
}

.icon-link:before {
    content: "\e900"
}

.icon-path:before {
  content: "\e91c";
}
.icon-photo:before {
  content: "\e801";
}
.icon-cm:before {
  content: "\e80b";
}
.icon-ws:before {
  content: "\e80c";
}
.icon-tw:before {
  content: "\e80d";
}
.icon-fb:before {
  content: "\e80e";
}
.icon-play:before {
  content: "\e80f";
}
.icon-en:before {
  content: "\e810";
}
.icon-play-2:before {
  content: "\e811";
}
.icon-edukasi:before {
  content: "\e900";
}
.icon-home:before {
  content: "\e901";
}
.icon-female:before {
  content: "\e902";
}
.icon-health:before {
  content: "\e903";
}
.icon-otomotif:before {
  content: "\e904";
}
.icon-entertainment:before {
  content: "\e905";
}
.icon-travel:before {
  content: "\e906";
}
.icon-tekno:before {
  content: "\e907";
}
.icon-olahraga:before {
  content: "\e908";
}
.icon-bola:before {
  content: "\e909";
}
.icon-sains:before {
  content: "\e90a";
}
.icon-video:before {
  content: "\e90b";
}
.icon-i:before {
  content: "\e90c";
}
.icon-search:before {
  content: "\e90d";
}
.icon-gp:before {
  content: "\e90e";
}
.icon-al:before {
  content: "\e90f";
}
.icon-ar:before {
  content: "\e910";
}
.icon-office:before {
  content: "\e911";
}
.icon-news:before {
  content: "\e912";
}
.icon-ekonomi:before {
  content: "\e913";
}
.icon-user:before {
  content: "\e914";
}
.icon-tv:before {
  content: "\e915";
}
.icon-vik:before {
  content: "\e916";
}
.icon-user-tie:before {
  content: "\e917";
}
.icon-ktv:before {
  content: "\e918";
}
.icon-line:before {
  content: "\e919";
}
.icon-volume-low:before {
  content: "\e91a";
}
.icon-volume-medium:before {
  content: "\e91b";
}
.icon-pint:before {
  content: "\f0d2";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-ig:before {
  content: "\f16d";
}
.icon-share-alt:before {
  content: "\f1e0";
}
