//-------------------------------------------------------------------------------
  @name: Config
  @description: Config wesbite
  -------------------------------------------------------------------------------//

-
  // Suffix Title
  suffixSiteTitle = ' Sinergi untuk Indonesia - Telkom Indonesia';
  suffixSiteDescription = ' Sinergi untuk Indonesia - Telkom Indonesia';
  suffixSiteKeywords = 'Telkom Indonesia, Telkom';

  // Time Refresh
  timeRefresh = 900;

  // Site App Name
  siteAppName = 'Telkom Indonesia';

  //- holdTransitionClass
  holdTransitionClass = 'hold-transition';


  //=======================================================
  //--------------------- ASSETS --------------------------
  //=======================================================

  // CSS
  //--- CSS: Main
  cssTailwind = 'assets/css/tailwind.css';
  cssCustom = 'assets/css/custom.css';

  //--- JS
  //--- JS: Vendor
  jsVendor = 'assets/js/vendor.min.js';

  //--- JS: Main
  jsMain = 'assets/js/app.min.js?40';
