/* ==========================================================================
   Variable: Screen
   ========================================================================== */

// screen
$screen: (
  // Extra Large screen / desktop
  xl-large: 1920px,
  // Extra Large screen / desktop
  x-large: 1919px,
  // Large screen / desktop
  large: 1439px,
  // Medium screen / tablet
  medium: 991.98px,
  // Small screen / phone
  small: 767.98px,
  // Extra small screen / phone
  x-small: 575.86px,
  // Retina iPhone
  retina: 320px
);
