//-------------------------------------------------------------------------------
  @name: Headline
  -------------------------------------------------------------------------------//

//headline
section.headline
  //apple
  canvas(id="hero-lightpass")/
  =`\n`
  ///.apple
=`\n`
///.headline
