//-------------------------------------------------------------------------------
  @name: Beyond Fast Desc
  -------------------------------------------------------------------------------//

//beyond-fast-desc
section.beyond-fast-desc#beyond-fast-desc
  .beyond-fast-desc__pin
    .container
      .beyond-fast-desc__inner
        .beyond-fast-desc__layer
        .beyond-fast-desc__txt !{data.desc}
          .beyond-fast-desc__gradient-top
            =`\n`
            img(src="assets/images/dummy/gradient-top.svg", alt="gradient top")/
          .beyond-fast-desc__gradient-bottom
            =`\n`
            img(src="assets/images/dummy/gradient-bottom.svg", alt="gradient bottom")/
=`\n`
///.beyond-fast-desc
