//-------------------------------------------------------------------------------
  @name: Beyond Fast
  -------------------------------------------------------------------------------//

//beyond-fast
section.beyond-fast#beyond-fast
  .container
    .beyond-fast__inner
      .beyond-fast__head
        h2.beyond-fast__ttl !{data.ttl}
      .beyond-fast__sequences
        .beyond-fast__img
          =`\n`
          img.beyond-fast__img__el(src="https://bdd.capital-six.com/wp-content/uploads/2023/01/0-Legion-X80-Tower-5i-Graded-RGB-Interior_00000.png", alt="Beyond fast")
=`\n`
///.beyond-fast
