//-------------------------------------------------------------------------------
  @name: Beyond Performance
  -------------------------------------------------------------------------------//

//beyond-performance
section.beyond-performance#beyond-performance
  .container
    .beyond-performance__inner
      h2.beyond-performance__ttl !{data.ttl}
      p.beyond-performance__desc !{data.desc}
=`\n`
///.beyond-performance
