//-------------------------------------------------------------------------------
  @name: Footer
  -------------------------------------------------------------------------------//

//footer
footer.footer#footer
  img.footer__d(src="assets/images/dummy/footer.svg", alt="footer")/
  //- img.footer__m(src="assets/images/dummy/footer-m.svg", alt="footer")/
