//-------------------------------------------------------------------------------
  @name: Header
  -------------------------------------------------------------------------------//

//header
header.header#header
  .header__d
    img.header__d__el(src="assets/images/dummy/header.png", alt="header")/
  .header__m
    img.header__m__el(src="assets/images/dummy/header-m.svg", alt="header")/
