//-------------------------------------------------------------------------------
  @name: Introduction-desc Desc
  -------------------------------------------------------------------------------//

//introduction-desc
section.introduction-desc#introduction-desc
  .introduction-desc__pin
    .container
      .introduction-desc__inner
        .introduction-desc__layer
        .introduction-desc__txt !{data.desc}
          .introduction-desc__gradient-top
            =`\n`
            img(src="assets/images/dummy/gradient-top.svg", alt="gradient top")/
          .introduction-desc__gradient-bottom
            =`\n`
            img(src="assets/images/dummy/gradient-bottom.svg", alt="gradient bottom")/
=`\n`
///.introduction-desc
