//-------------------------------------------------------------------------------
  @name: Introduction
  -------------------------------------------------------------------------------//

//introduction
section.section#section__1
  .container
    .introduction__head
      .introduction__list.js-introduction-list
        each val, index in data.list
          .introduction__item
            h3.introduction__ttl !{val.ttl}
    .introduction__body
      .introduction__headline.js-introduction-headline
        each val, index in data.list
          .introduction__inner(data-index=(index + 1))
            h3.introduction__txt !{val.ttl}
      .introduction__video
        =`\n`
        video.introduction__video__el#vid(muted autoplay preload="auto" webkit-playsinline="")
          source(src="assets/video/introduction.mp4" type="video/mp4")
          | Your browser does not support the video tag.
=`\n`
///.introduction
