//-------------------------------------------------------------------------------
  @name: Legion Videos
  -------------------------------------------------------------------------------//

//legion-videos
section.legion-videos#legion-videos
  =`\n`
  img.legion-videos__el(src="https://bdd.capital-six.com/wp-content/uploads/2023/01/180-00000.jpg" alt="Full body")/
=`\n`
///.legion-videos
