//-------------------------------------------------------------------------------
  @name: Lovely Architecture Banner
  -------------------------------------------------------------------------------//

//lovely-architecture-banner
section.lovely-architecture-banner#lovely-architecture-banner
  .lovely-architecture-banner__video
    =`\n`
    video.lovely-architecture-banner__video__el(muted loop autoplay)
      =`\n`
      source(src="assets/video/"+data.video type="video/mp4")/
      =`\n`
      | Your browser does not support the video tag.
  h2.lovely-architecture-banner__ttl !{data.ttl}
=`\n`
///.lovely-architecture-banner
