//-------------------------------------------------------------------------------
  @name: Performance Summary
  -------------------------------------------------------------------------------//

//performance-summary
section.performance-summary#performance-summary
  .container
    .performance-summary__inner
      .performance-summary__head
        h3.performance-summary__ttl !{data.ttl}
      .performance-summary__body
        =`\n`
        //performance-summary-list
        .performance-summary__list
          each val, index in data.list
            =`\n`
            //performance-summary-item
            .performance-summary__item(data-index=(index + 1))
              p.performance-summary__desc !{val.txt}
              .performance-summary__progress
            =`\n`
            ///.performance-summary-item
        =`\n`
        ///.performance-summary-list
=`\n`
///.performance-summary
