//-------------------------------------------------------------------------------
  @name: section__6
  -------------------------------------------------------------------------------//

//section__6
section.section.section__6#section__6
    .container
        div.text-center.mb-32
            h2(class="lg:font-title-h1") Vapor Chamber
        div(class="relative lg:shadow-bottom")
            img(src="assets/images/scane6.png", alt="Legion Pro 7i")
        .inner.px-40
            div.px-24 
                p(class="font-title-h6 font-bold leading-[35px]") Legion ColdFront 5.0 - the best-in-class thermal technology along with liquid metal and brand new 3D fan blades keep your system cool.
            div.px-14 
                div.grid.grid-cols-2.mt-20 
                    div.text-center.py-12.border-r.border-white 
                        h3(class="font-title-h3") 240w
                        h5(class="font-title-h5 text-gray1") Total System TDP
                    div.text-center.py-12 
                        h3(class="font-title-h3") 0.1mm
                        h5(class="font-title-h5 text-gray1") 3D fan blades
                div.mt-10 
                    div.border-t.border-white.flex.gap-10.pt-10 
                        h3(class="font-title-h3") Larger
                        h5(class="font-title-h5 text-gray1 mt-5") intake and exhaust system

=`\n`
///section__6
