//-------------------------------------------------------------------------------
  @name: section__3
  -------------------------------------------------------------------------------//

//section__3
section.section.section__3#section__3
      div 
        img(src="assets/images/section2.png", alt="The ultimate overclocking performance machine.")
      .container
        .inner
          .section__3__text
            .section__3__text__ttl
              h3 Lenovo <br> AI Engine+
            .section__3__text__desc
              p Powered by the revolutionary <br> LA AI chip, the new Lenovo AI Engine+ is <br> smarter than ever, constantly <br> adapting and optimizing your system <br> in real-time. Experience maximum <br>performance from the momen
=`\n`
///section__3
