//-------------------------------------------------------------------------------
  @name: section__8
  -------------------------------------------------------------------------------//

//section__8
section.section.section__8#section__8
    .container
        div 
            img(src="assets/images/section8.png" alt="A brighter and faster experience")
        .inner
            div.mt-40 
                h1.font-title-h1 A brighter and <br> faster experience.
                p.font-title-h6.font-medium.my-16 An incredible detailed experience while you game, work, <br> and create with the Lenovo PureSight Gaming Display.
                div.relative(class="w-[85%]") 
                    div.grid.grid-cols-2.gap-20.relative 
                        div 
                            h3.font-title-h3 16" <br> 16:10 WQXGA
                        div
                            h3.font-title-h3 240hz
                            p.font-25 Variable Refresh Rate
                    span.block.w-full.border-b.border-white.my-14
                    span.block.bg-white.absolute.left-0.right-0.m-auto.h-full.top-0(class="w-[1px]")
                    div.grid.grid-cols-2.gap-20 
                        div
                            h3.font-title-h3 HDR and high <br> color accuracy
                        div
                            h3.font-title-h3 X-Rite Pantone 
                            p.font-25 Factory Callibration

                

=`\n`
///section__8
