//-------------------------------------------------------------------------------
  @name: section__5
  -------------------------------------------------------------------------------//

//section__5
section.section__5#section__5
    .container
        .inner
            div
                img.w-full(src="assets/images/scane5.png", alt="Intel® Thread Director")
            div.px-10.py-16.border-b.border-white
                span.font-18.tracking-normal.text-gray1 Intel® Thread Director is designed into 13th Gen Intel® Core™ processors and helps supporting operating systems to intelligently channel workloads to the right core. No user action required. See Intel.com for details.
=`\n`
///section__5
