//-------------------------------------------------------------------------------
  @name: section__1
  -------------------------------------------------------------------------------//

//section__1
section.section.section__1#section__1.relative.pb-0(class="z-[2]")
  .container
      .section__1__text.flex.flex-col.justify-center.items-center
        h3.font-title-h2 Unlimited Power.
        p.font-34.opacity-0.font-medium.text-gray1 Legion Pro 7i
      .section__1__video.inner.relative
        //- video#vid(muted autoplay preload="auto" webkit-playsinline="")
        //-   source(src="assets/video/introduction.mp4" type="video/mp4")
        //-   | Your browser does not support the video tag.
        img(src="assets/images/section1-laptop1.png" alt="Legion Pro 7i" id="section__1__video__img")
        div(class="absolute bottom-[-55px] right-0 w-[110px]")
          img(src="assets/images/section1-logointel.png", alt="")
=`\n`
///section__1
