//-------------------------------------------------------------------------------
  @name: section__7
  -------------------------------------------------------------------------------//

//section__7
section.section.section__7#section__7
    .container
        .inner
            div.px-16 
                div.grid.grid-cols-3.gap-10
                    div.pr-10.border-r.border-white 
                        p.font-25 NVIDIA® GeForce RTXTM'
                        h5.font-title-h5.mb-10 4090
                        p.font-25 Laptop GPU
                    div.pr-10.pl-10.border-r.border-white 
                        p.font-25 Up to
                        h5.font-title-h5.mb-10 175W
                        p.font-25 Max TGP
                    div.pr-10.pl-10
                        p.font-25 NVIDIA® 
                        h5.font-title-h5.mb-10 Advanced
                        p.font-25 Optimus

            div.bg-gray2.p-20.mt-10.flex.items-end
                div(class="w-[45%]")
                    img(src="assets/images/section7.png" alt="NVIDIA® GeForce RTX™ 40 Series and DLSS 3")
                div.pl-5.flex-none
                    h5.font-title-h4 NVIDIA® GeForce RTX™ <br>
                        span.font-light 40 Series and DLSS 3
                    div.mt-10
                        p.font-25.font-medium.mb-3 New Streaming Multiprocessors
                        span.font-20.text-gray1 Up to 2x performance <br> and power efficiency
                    div.mt-10
                        p.font-25.font-medium.mb-3 Fourth-Gen Tensor Cores
                        span.font-20.text-gray1 Up to 4x performance with DLSS 3 <br> vs. brute-force rendering
                    div.mt-10
                        p.font-25.font-medium.mb-3 Third-Gen RT Cores
                        span.font-20.text-gray1 Up to 2x performance <br> and power efficiency

            div.grid.grid-cols-4.mt-5.gap-5
                div.bg-gray2.px-2.py-10.text-center.flex.flex-col.gap-10
                    div
                        img(src="assets/images/section7-icon1.png" alt="Cutting-Edge Laptop GPUs" class="icon1 m-auto")
                    h5.font-25 Cutting-Edge Laptop GPUs
                    p.text-gray1.font-20 NVIDIA® Ada Lovelace architecture
                div.bg-gray2.px-2.py-10.text-center.flex.flex-col.gap-10
                    div
                        img(src="assets/images/section7-icon2.png" alt="AI-Accelerated Performance" class="icon1 m-auto")
                    h5.font-25 AI-Accelerated Performance
                    p.text-gray1.font-20 NVIDIA® DLSS 3
                div.bg-gray2.px-2.py-10.text-center.flex.flex-col.gap-10
                    div
                        img(src="assets/images/section7-icon3.png" alt="Realistic and Immersive Graphics" class="icon1 m-auto")
                    h5.font-25 Realistic and Immersive Graphics
                    p.text-gray1.font-20 Dedicated Ray Tracing Cores
                div.bg-gray2.px-2.py-10.text-center.flex.flex-col.gap-10
                    div
                        img(src="assets/images/section7-icon4.png" alt="Optimized Power and Performance" class="icon1 m-auto")
                    h5.font-25 Optimized Power and Performance
                    p.text-gray1.font-20 NVIDIA® Max-Q Technologies
                

=`\n`
///section__7
