//-------------------------------------------------------------------------------
  @name: section__4
  -------------------------------------------------------------------------------//

//section__4
section.section.section__4#section__4
    .container
        .inner
            .section__4__text 
                h3 You set the max
                ul
                    li 
                        small Intel®Core TM
                        h5 i9-13900HX 
                        p Processor
                    li 
                        small Up to
                        h5 125W
                        p CPU-only TDP (FPO)
                    li 
                        small Up to
                        h5 65W
                        p TDP

    div.relative
        div.section__4__img
        div.section__4__img.section__4__img--logointel
        .container
            .inner
                .section__4__text.section__4__text--col
                    ul 
                        li
                        li
                        li                
                            ul.section__4__text__colspec 
                                li 
                                    small Up to
                                    h5 5.8Ghz
                                    p Max Clock Speed
                                li 
                                    small Up to
                                    h5 24 Cores
                                    p 8 Performance-cores <br> 16 Efficient-cores
                                li 
                                    small Up to
                                    h5 32 Threads
                                    p 16 on Performance-cores <br> 16 on Efficient-cores
    .container
        .inner
            .section__4__text.section__4__text--2col 
                ul
                    li 
                        h5 <span> 16 </span> Efficient- <br> cores
                        p Provides multitasking <br> power to work, play, and <br> most importanty game <br>  together.
                    li 
                        h5 <span> 8 </span> Performance- <br> cores
                        p Unleashes the capability to optimize the latest games and gaming software.
            .section__4__text.section__4__text--1col
                ul.border-t.border-white.pt-20 
                    li 
                        h5.flex-none <span> Intel® Thread <br> Director </span> 
                        p(class="pl-[55px]") Keep your gaming free of interruptions by making sure background tasks don’t slow you down.

=`\n`
///section__4
