//-------------------------------------------------------------------------------
  @name: section__9
  -------------------------------------------------------------------------------//

//section__9
section.section.section__9#section__9(class="py-0")
        div.relative.shadow-top 
            img(src="assets/images/section9.png" alt="Legion TrueStrike Keyboard")
           
=`\n`
///section__9
