//-------------------------------------------------------------------------------
  @name: section__2
  -------------------------------------------------------------------------------//

//section__2
section.section.section__2#section__2
  .container
      h3.section__2__text.font-title-h2.text-center.fade-in The ultimate overclocking <br> performance machine.
=`\n`
///section__2
