//-------------------------------------------------------------------------------
  @name: section__10
  -------------------------------------------------------------------------------//

//section__10
section.section.section__10#section__10
    .container
        .inner
            h2.font-title-h2 Legion TrueStrike Keyboard
            h6.font-title-h6.mt-10 Command, control, and strike true with a 100% anti-ghosting full-sized keyboard with large arrow keys and precision touchpad.
    div.bg-gradient1
        div.relative.flex.justify-end.mt-20
            div.container.z-50.absolute.inner.left-0.right-0.m-auto
                div.flex.flex-col.gap-16.mt-16 
                    div 
                        h5.font-title-h5.mb-5 Per-key <br> RGB
                        p.font-25 Powered by <br> Legion <br> Spectrum
                    div 
                        h5.font-title-h5.mb-5 Swappable <br> Keycaps
                        p.font-25 Ceramic <br> 'WASD' keys <br> included
                    div 
                        h5.font-title-h5.mb-5 1.5mm Key <br> Travel
                        p.font-25 Soft landing <br> switches
            div.shadow-right.shadow-top.right-0(class="w-[70%]") 
                img(src="assets/images/section10.png" alt="Legion TrueStrike Keyboard" class="relative right-[-30px]")
=`\n`
///section__10
