//-------------------------------------------------------------------------------
  @name: Sizes
  -------------------------------------------------------------------------------//

//sizes
section.sizes#sizes
  .container
    .sizes__head
      h3.sizes__ttl !{data.ttl}
      p.sizes__desc !{data.desc}
  .sizes__sequences.js-sizes-sequences
    .sizes__img
      =`\n`
      img.sizes__img__el(src="https://bdd.capital-six.com/wp-content/uploads/2022/12/two-sizes0031.png", alt="Two sizes to choose from.")/
=`\n`
///.sizes
