/* ==========================================================================
   Layout: Beyond Performance V
   ========================================================================== */

.beyond-performance-v {
  $bfv: &;
  padding-top: 72px;
  padding-bottom: 64px;
  @include large {
    padding-top: 56px;
    padding-bottom: 48px;
  }
  @include medium {
    padding-top: 48px;
    padding-bottom: 32px;
  }
  @include small {
    padding-top: 40px;
    padding-bottom: 24px;
  }
  &__inner {
    position: relative;
  }
  &__sequences {
    position: relative;
    text-align: center;
  }
  &__img {
    width: 100%;
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
    @include x-large {
      max-width: 560px;
    }
    &__el {
      max-width: 680px;
      @include x-large {
        max-width: 560px;
      }
    }
  }
  &__video {
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
    @include x-large {
      max-width: 560px;
    }
    &__el {
      width: 100%;
    }
  }
  &__list {
    @include fade-in;
    width: 960px;
    margin: -200px auto 0;
    @include x-large {
      margin-top: -160px;
    }
    @include medium {
      width: 100%;
      margin-top: -120px;
    }
    @include small {
      margin-top: -80px;
    }
  }
  &__item {
    width: 100%;
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  &__col {
    &:first-child {
      flex: 0 0 54%;
      margin-right: 24px;
      @include medium {
        margin-right: 16px;
      }
      @include small {
        margin-right: 8px;
      }
    }
  }
  &__label {
    letter-spacing: -1px;
    margin-bottom: 0;
    @include font-size(label);
    @include x-large {
      @include font-size(label-b);
    }
    @include medium {
      @include font-size(label-c);
    }
    @include small {
      @include font-size(small-c);
    }
  }
  &__ttl {
    font-weight: fw(medium);
    letter-spacing: -2px;
    margin-bottom: 0;
    @include font-size(h5-b);
    @include x-large {
      @include font-size(body);
    }
    @include small {
      letter-spacing: -1px;
      @include font-size(small-a);
    }
  }
  &__desc {
    letter-spacing: -1px;
    margin-bottom: 0;
    margin-top: 4px;
    @include font-size(label);
    @include x-large {
      @include font-size(label-b);
    }
    @include medium {
      @include font-size(label-c);
    }
    @include small {
      @include font-size(small-c);
    }
  }
  .owl-carousel {
    .owl-item {
      opacity: 0;
      visibility: hidden;
      #{$bfv} {
        &__label {
          opacity: 0;
          transform: translateY(24px);
          transition: all 0.5s ease;
          transition-delay: 0s;
        }
        &__ttl {
          opacity: 0;
          transform: translateY(24px);
          transition: all 0.5s ease;
          transition-delay: 0s;
        }
        &__desc {
          opacity: 0;
          transform: translateY(24px);
          transition: all 0.5s ease;
          transition-delay: 0s;
        }
      }
      &.active {
        opacity: 1;
        visibility: visible;
        #{$bfv} {
          &__label {
            opacity: 1;
            transform: none;
            transition-delay: 0.3s;
          }
          &__ttl {
            opacity: 1;
            transform: none;
            transition-delay: 0.4s;
          }
          &__desc {
            opacity: 1;
            transform: none;
            transition-delay: 0.5s;
          }
        }
      }
    }
  }
}
