/* ==========================================================================
   Layout: Lovely Architecture
   ========================================================================== */

.lovely-architecture {
  padding-top: 240px;
  position: relative;
  @include x-large {
    padding-top: 172px;
  }
  @include large {
    padding-top: 100px;
  }
  @include medium {
    padding-top: 80px;
  }
  @include small {
    padding-top: 56px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 850px;
    z-index: zi(lovely-architecture-before);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 32%,
      rgba(16, 15, 20, 0) 100%
    );
    @include x-large {
      height: 720px;
    }
    @include large {
      height: 480px;
    }
    @include medium {
      height: 400px;
    }
    @include small {
      height: 240px;
    }
  }
  &__inner {
    position: relative;
  }
  &__img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: zi(lovely-architecture-img);
    @include fade-in;
    @include x-large {
      width: 720px;
    }
    @include large {
      width: 540px;
    }
    @include medium {
      width: 440px;
    }
    @include small {
      width: 240px;
    }
  }
  &__list {
    position: relative;
    z-index: zi(lovely-architecture-list);
    color: color(white, 0);
    padding-top: 164px;
    padding-bottom: 164px;
    @include large {
      padding-top: 80px;
      padding-bottom: 80px;
    }
    @include medium {
      padding-top: 72px;
      padding-bottom: 72px;
    }
    @include small {
      padding-top: 0;
      padding-bottom: 0;
      // padding-top: 56px;
      // padding-bottom: 56px;
    }
  }
  &__item {
    margin-bottom: 72px;
    @include fade-in;
    @include x-large {
      margin-bottom: 56px;
    }
    @include large {
      margin-bottom: 48px;
    }
    @include medium {
      margin-bottom: 40px;
    }
    @include small {
      margin-bottom: 32px;
    }
  }
  &__up-to {
    @include font-size(body);
    margin-bottom: 0;
    font-weight: fw(regular);
    letter-spacing: -2px;
    @include x-large {
      @include font-size(label);
    }
    @include large {
      @include font-size(label-b);
    }
    @include medium {
      @include font-size(label-c);
    }
    @include small {
      @include font-size(small-b);
    }
  }
  &__ttl {
    @include font-size(h4-b);
    letter-spacing: -2px;
    font-weight: fw(medium);
    margin-bottom: 0;
    @include x-large {
      @include font-size(h5);
    }
    @include large {
      @include font-size(h5-b);
    }
    @include medium {
      @include font-size(body);
    }
    @include small {
      @include font-size(label-b);
    }
  }
  &__desc {
    @include font-size(body);
    letter-spacing: -2px;
    margin-bottom: 0;
    @include x-large {
      @include font-size(label);
    }
    @include large {
      @include font-size(label-b);
    }
    @include medium {
      @include font-size(label-c);
    }
    @include small {
      @include font-size(small-b);
    }
  }
}
