/* ==========================================================================
   Layout: Performance Summary
   ========================================================================== */

.performance-summary {
  $ps: &;
  background-color: color(black, 0);
  color: color(white, 0);
  padding-top: 156px;
  padding-bottom: 172px;
  position: relative;
  @include x-large {
    padding-top: 132px;
    padding-bottom: 164px;
  }
  @include large {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @include medium {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @include small {
    padding-top: 56px;
    padding-bottom: 56px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 442px;
    bottom: 0;
    left: 5%;
    right: 5%;
    background-color: color(black, 1);
    z-index: zi(performance-summary-before);
    border-radius: 4px;
    @include x-large {
      top: 348px;
      left: 0;
      right: 0;
    }
    @include large {
      top: 268px;
    }
    @include medium {
      top: 200px;
    }
    @include small {
      top: 140px;
    }
  }
  .container {
    position: relative;
    z-index: zi(performance-summary-container);
  }
  &__inner {
    max-width: 1248px;
  }
  &__head {
    margin-bottom: 152px;
    @include x-large {
      margin-bottom: 80px;
    }
    @include large {
      margin-bottom: 64px;
    }
    @include medium {
      margin-bottom: 56px;
    }
    @include small {
      margin-bottom: 40px;
    }
  }
  &__ttl {
    letter-spacing: -3.75px;
    font-weight: fw(medium);
    margin-bottom: 0;
    @include fade-in;
    @include x-large {
      @include font-size(h3-b);
      line-height: 1;
    }
    @include large {
      @include font-size(h4);
    }
    @include medium {
      @include font-size(h5);
    }
    @include small {
      @include font-size(body);
      letter-spacing: -2px;
    }
    span {
      display: block;
    }
  }
  &__item {
    margin-bottom: 96px;
    @include x-large {
      margin-bottom: 72px;
    }
    @include large {
      margin-bottom: 64px;
    }
    @include medium {
      margin-bottom: 56px;
    }
    @include small {
      margin-bottom: 40px;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &.fade-in {
      #{$ps} {
        &__desc {
          opacity: 1;
          transform: none;
        }
        &__progress {
          transform: none;
        }
      }
    }
  }
  &__desc {
    letter-spacing: -1.13px;
    @include font-size(h6);
    transition: all 1s ease;
    opacity: 0;
    transform: translateY(80px);
    @include x-large {
      @include font-size(label);
    }
    @include large {
      @include font-size(label-b);
      transform: translateY(64px);
    }
    @include medium {
      @include font-size(label-c);
      transform: translateY(48px);
    }
    @include small {
      @include font-size(small-b);
      transform: translateY(24px);
      margin-bottom: 8px;
    }
    span {
      @include font-size(h4-b);
      letter-spacing: -1.98px;
      font-weight: fw(medium);
      @include x-large {
        @include font-size(h5);
      }
      @include large {
        @include font-size(h5-b);
      }
      @include small {
        @include font-size(label-b);
      }
    }
  }
  &__progress {
    width: 1247px;
    height: 27px;
    background: linear-gradient(
      90deg,
      rgba(49, 49, 91, 1) 0%,
      rgba(49, 49, 91, 1) 75%,
      rgba(47, 73, 107, 1) 100%
    );
    border-radius: 4px;
    transform: scaleX(0) translateY(80px);
    transform-origin: left center;
    transition: all 0.75s ease;
    @include x-large {
      transform: scaleX(0) translateY(48px);
      width: 90%;
    }
    @include large {
      height: 24px;
    }
    @include medium {
      height: 20px;
      width: 100%;
    }
    @include small {
      height: 12px;
    }
  }
}
