/* ==========================================================================
   Layout: Sizes
   ========================================================================== */

.sizes {
  padding-top: 120px;
  padding-bottom: 120px;
  @include x-large {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @include large {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @include small {
    padding-top: 56px;
    padding-bottom: 56px;
  }
  &__head {
    max-width: 950px;
    @include x-large {
      max-width: 800px;
    }
    @include medium {
      max-width: 620px;
    }
  }
  &__sequences {
    @include x-large {
      width: 980px;
      margin-left: auto;
      margin-right: auto;
    }
    @include medium {
      width: 100%;
    }
    @include small {
      margin-top: 16px;
    }
  }
  &__ttl {
    font-weight: fw(medium);
    margin-bottom: 18px;
    letter-spacing: -3.75px;
    @include fade-in;
    @include x-large {
      @include font-size(h3-b);
      line-height: 1;
    }
    @include large {
      @include font-size(h4);
    }
    @include medium {
      @include font-size(h5);
    }
    @include small {
      @include font-size(body);
      letter-spacing: -2px;
    }
    span {
      display: block;
    }
  }
  &__desc {
    margin-bottom: 0;
    color: color(grey, 2);
    @include font-size(body);
    @include fade-in;
    @include x-large {
      @include font-size(label);
    }
    @include large {
      @include font-size(label-b);
    }
    @include medium {
      @include font-size(label-c);
    }
    @include small {
      @include font-size(small-b);
    }
  }
  &__img {
    width: 100%;
    text-align: center;
    &__el {
    }
  }
}
