$font_body: 'Rubik', sans-serif;
$font_1: 'Rubik', sans-serif;
$font_2: 'Heebo', sans-serif;
$font_icon: 'icomoon';

//color
$cl_primary: #333333;
$cl_1: #3e2656;
$cl_2: #750f63;
$cl_3: #60265e;

//  warna sosial media
$cl_fb: #3b5998;
$cl_tw: #4099FF;
$cl_gp: #d34836;
$cl_wa: #43d854;

//grid bootstrap
$lg:1100px;
$md:1024px;
$sm:768px;
$ssm:640px;
$xs:360px;
$xxs:320px;

// default transisi
@mixin base_transition($t) {
	-webkit-transition: $t .2s ease;
	-moz-transition: $t .2s ease;
	-ms-transition: $t .2s ease;
	-o-transition: $t .2s ease;
	transition: $t .2s ease;
}
// border radius
@mixin border_radius($x) {
	-webkit-border-radius: $x;
	-moz-border-radius: $x;
	-ms-border-radius: $x;
	-o-border-radius: $x;
	border-radius: $x;
}
// skala
@mixin base_scale($x) {
    -ms-transform: scale($x); /* IE 9 */
    -webkit-transform: scale($x); /* Safari */
    transform: scale($x);
}
// reset style ul
@mixin reset_ul {
	margin: 0;
	padding: 0;
}
// 100%
@mixin display_full {
	width: 100%;
	height: 100%;
}
@mixin center-absolute{
	left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
}
@mixin center_img{
	width: auto;
	height: 100%;
	max-width: none;
	bottom: -9999px;
	left: -9999px;
	margin: auto;
	position: absolute;
	right: -9999px;
	top: -9999px;
}
@mixin center_img2{
	width: auto;
	height: 100%;
	max-width: none;
	bottom: -9999px;
	left: -9999px;
	margin: auto;
	position: absolute;
	right: -9999px;
	top: -9999px;

	@include max-responsive($ssm){
		width: 100%;
		height: auto;
	}
}
// untuk overflow judul pada list berita
@mixin title_overflow($height, $max-height) {
	height: $height;
	max-height: $max-height;
	overflow: hidden;
	font-family: $font_icon;
}
// height 100%
@mixin height-100{
	height: 100%;
	width: auto;
	max-width: none;
}
// media
@mixin max-responsive ($media) {
  @media (max-width: $media) { @content; }
}
@mixin min-responsive ($media) {
  @media (min-width: $media) { @content; }
}
@mixin range-responsive ($media, $media2) {
  @media (min-width: $media) and (max-width: $media2) { @content; }
}
