@charset "UTF-8";
/* --------------------------------------------------------
Kompas.com - 2016

author	: Ragil Hadianto
version	: 1.00

----------------------------------------------------------*/
#preloader {
  background: #000;
  height: 100%;
  width: 100%;
  z-index: 999999;
  position: fixed;
}

#preloader .container {
  height: auto;
}

.loading {
  width: 100px;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

.loading p {
  font-size: 12px;
  font-weight: normal;
  color: #fff;
}

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 0 auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #EDD81A;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

.sorry {
  position: fixed;
  z-index: 999999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #3a3a3a;
  display: none;
}

@media (max-width: 768px) and (orientation: landscape) {
  .sorry {
    display: block;
  }
}

.sorry__title {
  font-size: 20px;
  padding: 20px 30px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "e_r", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  line-height: 1.3;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  position: relative;
}

html, body {
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
  vertical-align: top;
  outline: 0;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

a:hover {
  text-decoration: none;
}

a:focus,
button:focus {
  outline: 0;
  outline: -webkit-focus-ring-color auto 0;
  outline-offset: 0;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
  vertical-align: top;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

table {
  border-collapse: collapse;
}

iframe {
  border: none;
  vertical-align: top;
}

li, ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li,
ul li a {
  display: inline-block;
  list-style: none;
  vertical-align: top;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input:focus::-webkit-input-placeholder,
input:focus:-moz-placeholder,
input:focus::-moz-placeholder,
input:focus:-ms-input-placeholder {
  color: transparent;
}

input[type=button],
input[type=checkbox],
input[type=radio],
input[type=reset],
input[type=submit],
label, select {
  cursor: pointer;
}

input[type=search] {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button, input[type="button"],
input[type="checkbox"],
input[type="radio"],
input[type="reset"],
input[type="submit"],
label,
select {
  cursor: pointer;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1.2;
  color: inherit;
  text-rendering: optimizelegibility;
}

h1, h2, h3 {
  line-height: 1.3;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.2857em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: .9375em;
}

h6 {
  font-size: .786em;
}

p {
  line-height: 1.3;
  margin: 3px 0 15px;
}

blockquote {
  position: relative;
  font-size: 20px;
  font-weight: 400;
  margin: 25px 40px;
}

blockquote:before, blockquote:after {
  font-family: "icomoon";
  font-size: 30px;
  line-height: 1;
  position: absolute;
}

blockquote:before {
  content: "\e901";
  left: -40px;
}

blockquote:after {
  content: "\e900";
  padding-left: 10px;
}

/*–––––––––––––LAYOUT–––––––––––––*/
[class*=col] {
  float: left;
  position: relative;
}

[class*=col]:first-child {
  margin-left: 0;
}

.col-x {
  width: auto;
}

.w100 {
  width: 100%;
}

.w75 {
  width: 75%;
}

.w50 {
  width: 50%;
}

.w25 {
  width: 25%;
}

.container {
  margin: 0 auto;
  *zoom: 1;
  position: relative;
  z-index: 1;
}

.container__full {
  width: 100%;
}

/*–––––––––––––Clearing–––––––––––––*/
.clearfix:after, .clearfix:before,
.row:after,
.row:before {
  display: table;
  content: "";
  line-height: 0;
}

.clearfix:after,
.row:after {
  clear: both;
}

.clearfix {
  clear: both;
}

@font-face {
  font-family: 'e_l';
  src: url("../fonts/e_Light.eot");
  src: url("../fonts/e_Light.eot?#iefix") format("embedded-opentype"), url("../fonts/e_Light.woff2") format("woff2"), url("../fonts/e_Light.woff") format("woff"), url("../fonts/e_Light.svg#e Light") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}

@font-face {
  font-family: 'e_r';
  src: url("../fonts/e_Regular.eot");
  src: url("../fonts/e_Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/e_Regular.woff2") format("woff2"), url("../fonts/e_Regular.woff") format("woff"), url("../fonts/e_Regular.svg#e Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}

@font-face {
  font-family: 'e_b';
  src: url("../fonts/e_Bold.eot");
  src: url("../fonts/e_Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/e_Bold.woff2") format("woff2"), url("../fonts/e_Bold.woff") format("woff"), url("../fonts/e_Bold.svg#e Bold") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}

/*–––––––––––––Utilities–––––––––––––*/
.display-table {
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.display-center {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.center {
  float: none !important;
  margin: 0 auto !important;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.top {
  display: table-cell;
  vertical-align: top;
}

.bottom {
  display: table-cell;
  vertical-align: bottom;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.invisible {
  visibility: hidden;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.affix {
  position: fixed;
}

.d_table {
  display: table;
}

.d_block {
  display: block;
}

.right {
  float: right;
}

.left {
  float: left;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.pd1 {
  padding: 10px;
}

.mt1 {
  margin-top: 10px !important;
}

.mb1 {
  margin-bottom: 10px !important;
}

.mr1 {
  margin-right: 10px !important;
}

.ml1 {
  margin-left: 10px !important;
}

.pt1 {
  padding-top: 10px !important;
}

.pb1 {
  padding-bottom: 10px !important;
}

.pr1 {
  padding-right: 10px !important;
}

.pl1 {
  padding-left: 10px !important;
}

.mt2 {
  margin-top: 20px !important;
}

.mb2 {
  margin-bottom: 20px !important;
}

.mr2 {
  margin-right: 20px !important;
}

.ml2 {
  margin-left: 20px !important;
}

.pt2 {
  padding-top: 20px !important;
}

.pb2 {
  padding-bottom: 20px !important;
}

.pr2 {
  padding-right: 20px !important;
}

.pl2 {
  padding-left: 20px !important;
}

.bolt {
  font-weight: bold;
}

.offset {
  padding: 0 !important;
}

.offset-10 {
  padding: 0 10px !important;
}

.offset-25 {
  padding: 0 25 !important;
}

.img_100 img {
  width: 100%;
}

.parallax__img {
  width: 100%;
  position: relative;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.moveLeft {
  left: -100% !important;
}

.moveRight {
  left: 0 !important;
}

.moveDown {
  top: 0 !important;
}

.moveUp {
  top: -100% !important;
}

.moveUp2 {
  top: -200% !important;
}

.z_add {
  z-index: 1002 !important;
}

.space_top {
  margin-top: 100px !important;
}

@media (max-width: 640px) {
  .space_top {
    margin-top: 50px !important;
  }
}

.space_bottom {
  margin-bottom: 100px !important;
}

@media (max-width: 640px) {
  .space_bottom {
    margin-bottom: 50px  !important;
  }
}

.parallax {
  width: 100%;
}

.parallax__bg {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 640px) {
  .parallax__bg {
    background-attachment: scroll;
  }
}

.bg__full {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg__fixed {
  height: 100%;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -3;
}

.ptb70 {
  padding: 70px 0;
}

.h100, .page__theme {
  height: 100%;
}

.absolute {
  position: absolute;
}

.abcenter {
  left: 0;
  right: 0;
  margin: 0 auto;
}

.relative {
  position: relative !important;
}

.font_b {
  font-family: "e_b", sans-serif;
  font-weight: normal;
}

.imgfill, .photo__overflow__fit img {
  width: 100%;
  height: 100%;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  -o-object-fit: cover;
  object-fit: cover;
}

.scale_nol {
  -webkit-transform: scale(0);
  transform: scale(0);
}

.triangle-right {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 100px solid red;
  border-bottom: 50px solid transparent;
}

.yellow {
  color: #EECF29;
}

.video {
  position: relative;
  width: 100%;
  height: auto;
  pointer-events: auto;
  display: none;
}

.photo {
  width: 100%;
  padding: 0;
  margin: 30px auto !important;
  overflow: hidden;
  position: relative;
}

.photo__full img {
  max-width: none;
  width: 100%;
}

.photo__overflow {
  overflow: hidden;
  height: 347px;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 640px) {
  .photo__overflow {
    height: auto;
  }
}

.photo__overflow img {
  height: 100%;
}

.photo__overflow__fit {
  overflow: hidden;
  height: 347px;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 640px) {
  .photo__overflow__fit {
    height: auto;
  }
}

.photo__overflow__fit img {
  height: 100%;
  max-width: none;
}

.point {
  text-align: left;
  width: 95%;
  margin: 0 auto;
}

.point ul {
  list-style-type: decimal;
}

.point ul li {
  list-style-type: decimal;
  display: list-item;
  margin-left: 25px;
}

.point p {
  margin: 5px 0;
}

.video__ {
  color: #fff;
  margin-bottom: 20px;
}

.video__ iframe, .video__ .Stage_player {
  width: 100%;
  height: 403px;
}

@media (max-width: 640px) {
  .video__ iframe, .video__ .Stage_player {
    height: 203px;
  }
}

.wrap_video-placeholder {
  position: relative;
  height: 0;
  overflow: hidden;
}

.wrap_video-placeholder iframe, .wrap_video-placeholder object, .wrap_video-placeholder embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ztop {
  z-index: 9999;
  position: relative;
}

.ml15 {
  opacity: 0;
}

.ml15.showb {
  opacity: 1 !important;
}

.ml15 .word {
  display: inline-block;
}

.ml12 {
  opacity: 0;
}

.ml12.showb {
  opacity: 1 !important;
}

.ml12 .letter {
  display: inline-block;
}

.caption__doc {
  z-index: 9999;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 11px;
  padding: 5px 10px;
  color: #adadad;
  background: rgba(0, 0, 0, 0.5);
  text-align: right;
  width: 300px;
}

@media (max-width: 640px) {
  .caption__doc {
    width: 100%;
  }
}

.caption__doc.polos {
  background: none;
  text-align: center;
  display: block;
  margin: 0 auto;
  right: 0;
  left: 0;
  color: #fff;
  bottom: -20px;
  width: 100%;
}

@media (max-width: 640px) {
  .caption__doc.polos {
    bottom: -55px;
  }
}

.caption__doc.relative {
  margin-top: 20px;
  position: relative;
  bottom: 0;
}

.overflow__inheret {
  overflow: inherit !important;
}

@media (max-width: 640px) {
  .overflow__inheret {
    margin-bottom: 80px !important;
  }
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
}

.page {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.page__article {
  font-weight: 300;
  line-height: 1.4;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-size: 17px;
}

@media (max-width: 640px) {
  .page__article {
    width: 100%;
    font-size: 16px;
  }
}

.page__article.textcenter {
  text-align: center;
}

.page__article__inner {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 640px) {
  .page__article__inner {
    width: 95%;
  }
}

.page__theme {
  background-image: url("../images/img_theme.png");
  position: absolute;
  top: 0;
  left: 0;
}

.page__theme__blackgradient {
  background: rgba(0, 0, 0, 0);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(46%, rgba(0, 0, 0, 0.5)), color-stop(100%, black));
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(46%, rgba(0, 0, 0, 0.5)), to(black));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 46%, black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

.page__theme__purplegradient {
  background: #a51600;
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #a51600), color-stop(36%, #d44700), color-stop(86%, #801754), color-stop(100%, #57007f));
  background: linear-gradient(45deg, #a51600 0%, #d44700 36%, #801754 86%, #57007f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a51600', endColorstr='#57007f', GradientType=1 );
}

.page__theme__greengradient {
  background: #2f9400;
  background: -webkit-gradient(left top, right top, color-stop(0%, #2f9400), color-stop(100%, #c7cc2d));
  background: -webkit-gradient(linear, left top, right top, from(#2f9400), to(#c7cc2d));
  background: linear-gradient(to right, #2f9400 0%, #c7cc2d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f9400', endColorstr='#c7cc2d', GradientType=1 );
}

.page__theme__bluegradient {
  background: #7a4ad2;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #7a4ad2), color-stop(100%, #20d5de));
  background: -webkit-gradient(linear, left top, left bottom, from(#7a4ad2), to(#20d5de));
  background: linear-gradient(to bottom, #7a4ad2 0%, #20d5de 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a4ad2', endColorstr='#20d5de', GradientType=0 );
}

.page__theme__yellowgradient {
  background: #ec4e1f;
  background: -webkit-gradient(left top, right top, color-stop(0%, #ec4e1f), color-stop(51%, #ec4e1f), color-stop(100%, #d6b656));
  background: -webkit-gradient(linear, left top, right top, from(#ec4e1f), color-stop(51%, #ec4e1f), to(#d6b656));
  background: linear-gradient(to right, #ec4e1f 0%, #ec4e1f 51%, #d6b656 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec4e1f', endColorstr='#d6b656', GradientType=1 );
}

.page__theme__icegradient {
  background: #0098f6;
  background: -webkit-gradient(left top, right top, color-stop(0%, #0098f6), color-stop(76%, #00a7aa), color-stop(100%, #00ffdd));
  background: -webkit-gradient(linear, left top, right top, from(#0098f6), color-stop(76%, #00a7aa), to(#00ffdd));
  background: linear-gradient(to right, #0098f6 0%, #00a7aa 76%, #00ffdd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0098f6', endColorstr='#00ffdd', GradientType=1 );
}

.page p {
  margin: 35px 0;
}

@media (max-width: 640px) {
  .page p {
    margin: 20px 0;
  }
}

.page p.small {
  font-size: 12px;
  margin: 10px 0;
}

.page p.italic {
  font-style: italic;
}

.page h2 {
  font-size: 45px;
}

@media (max-width: 640px) {
  .page h2 {
    font-size: 25px;
  }
}

.page h3 {
  font-size: 25px;
}

@media (max-width: 640px) {
  .page h3 {
    font-size: 20px;
  }
}

.page h4 {
  font-size: 35px;
  font-family: "e_b", sans-serif;
}

@media (max-width: 640px) {
  .page h4 {
    font-size: 20px;
  }
}

.page h5 {
  font-family: "e_b", sans-serif;
  font-size: 26px;
}

.page__intro {
  background-image: url("../images/cover.jpg");
  padding: 0;
  height: 100%;
}

.page__intro .container {
  height: 100%;
}

@media (min-width: 1500px) {
  .page__intro .container {
    width: 70%;
  }
}

@media (max-width: 640px) {
  .page__intro .container {
    padding: 0 10px;
  }
}

.page__intro__img1 {
  top: -60%;
  width: 25%;
  position: absolute;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

@media (max-width: 450px) {
  .page__intro__img1 {
    width: 45%;
  }
}

.page__intro__img1.show {
  top: 0;
}

.page__intro__title {
  font-family: "e_b", sans-serif;
  position: relative;
  top: 90px;
}

@media (max-width: 640px) {
  .page__intro__title {
    top: 40px;
  }
}

.page__intro__title--wrap {
  height: 55px;
}

@media (max-width: 640px) {
  .page__intro__title--wrap {
    height: 35px;
  }
}

.page__intro__title h3 {
  font-size: 50px;
  line-height: 1.1;
}

@media (max-width: 640px) {
  .page__intro__title h3 {
    font-size: 30px;
  }
}

.page__intro__title p {
  opacity: 0;
}

.page__intro__title p.showb {
  opacity: 1 !important;
}

.page__intro p {
  font-family: "e_b", sans-serif;
  font-size: 16px;
}

.page__2 {
  position: relative;
}

@media (max-width: 640px) {
  .page__2 {
    background-image: url("../images/page2_img2.jpg");
  }
}

@media (max-width: 640px) {
  .page__2 .container {
    padding: 0 10px;
  }
}

.page__2__title {
  background: #FFCD00;
  color: #000;
  font-size: 35px;
  text-align: center;
  padding: 10px;
  font-family: "e_b", sans-serif;
}

.page__2 .video1 {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: -2;
}

.page__2 .video1 video {
  top: 0;
  right: 0;
  height: 100%;
  background-position: center center;
  background-size: contain;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  width: 100%;
}

.page__2 .page__theme__blackgradient {
  height: 650px;
  bottom: 0;
  position: absolute;
  left: 0;
}

.page__3 {
  position: relative;
}

@media (max-width: 640px) {
  .page__3 .container {
    padding: 0 10px;
  }
}

.page__3__img1 {
  top: 40px;
  left: 10%;
  width: 10%;
}

.page__3__img2 {
  bottom: 40px;
  right: 10%;
  width: 10%;
}

.page__4 {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.page__4__img1 {
  bottom: 40px;
  left: -5%;
  width: 20%;
}

.page__4__img2 {
  top: 40px;
  right: -5%;
  width: 20%;
}

.page__4 .slideMedal {
  margin: 20px auto;
  height: 320px;
  width: 700px;
}

@media (max-width: 640px) {
  .page__4 .slideMedal {
    width: 300px;
  }
}

.page__4 .slideMedal .item {
  position: relative;
  height: 500px;
}

.page__4 .slideMedal .item .image {
  background: #FFFFFF;
  padding: 30px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 320px;
}

@media (max-width: 640px) {
  .page__4 .slideMedal .item .image {
    padding: 10px;
    height: 224px;
  }
}

.page__4 .slideMedal .item .image img {
  margin: 0 auto;
  width: 130px;
}

.page__4 .slideMedal .item .medal {
  background: #474848;
  padding: 0px 30px 20px;
  height: 220px;
}

@media (max-width: 640px) {
  .page__4 .slideMedal .item .medal {
    height: 125px;
  }
}

.page__4 .slideMedal .item .medal .wrapper {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 640px) {
  .page__4 .slideMedal .item .medal .wrapper {
    width: 100%;
  }
}

.page__4 .slideMedal .item .medal .type {
  width: 33%;
  float: left;
}

.page__4 .slideMedal .item .medal .type img {
  width: 100px;
}

.page__4 .slideMedal .item .medal .type h3 {
  margin-top: 5px;
  text-align: center;
}

.page__4 .slideMedal .item .total {
  height: 100px;
  padding: 20px;
  background: #8a0005;
  background: -webkit-gradient(left top, right top, color-stop(0%, #8a0005), color-stop(80%, #cc0007), color-stop(100%, #8a1115));
  background: -webkit-gradient(linear, left top, right top, from(#8a0005), color-stop(80%, #cc0007), to(#8a1115));
  background: linear-gradient(to right, #8a0005 0%, #cc0007 80%, #8a1115 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a0005', endColorstr='#8a1115', GradientType=1 );
}

.page__4 .slideMedal .item .total .item {
  text-align: center;
}

.page__4 .slideMedal .item .total .item .title {
  height: 40px;
}

.page__4 .slider-nav {
  margin: 20px auto;
  width: 850px;
}

@media (max-width: 640px) {
  .page__4 .slider-nav {
    width: 300px;
  }
}

.page__4 .slider-nav .slick-next {
  right: 30px;
  top: 220px;
}

@media (max-width: 640px) {
  .page__4 .slider-nav .slick-next {
    top: 50%;
    right: -5px;
  }
}

.page__4 .slider-nav .slick-prev {
  left: 30px;
  top: 220px;
}

@media (max-width: 640px) {
  .page__4 .slider-nav .slick-prev {
    top: 50%;
    left: -5px;
  }
}

.page__4 .slider-nav:before {
  content: "";
  background: white;
  height: 3px;
  width: 84%;
  position: absolute;
  left: 8%;
  margin: 0 auto;
  bottom: 7px;
}

@media (max-width: 768px) {
  .page__4 .slider-nav:before {
    width: 78%;
    left: 11%;
  }
}

.page__4 .slider-nav .item {
  position: relative;
  height: 35px;
  cursor: pointer;
  color: #ffffff;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}

.page__4 .slider-nav .item__dots {
  background: #FFFFFF;
  width: 15px;
  height: 15px;
  position: absolute;
  border-radius: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  border: 3px solid #ffffff;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.page__4 .slider-nav .item.slick-slide.slick-current.slick-active .item__dots {
  background: #038A45;
}

.page__4 .slider-nav .item:hover .item__dots, .page__4 .slider-nav .item:focus .item__dots {
  background: #038A45;
}

.page__4 .slick-slide:focus {
  outline: none !important;
}

.page__5 {
  background-image: url("../images/page5_img1.jpg");
}

.page__6 {
  background-image: url("../images/page6_img1.jpg");
}

@media (max-width: 640px) {
  .page__6 .container {
    padding: 0 10px;
  }
}

.page__6 .page__article {
  padding-bottom: 300px;
}

.page__6__img1 {
  top: -44px;
  left: -30px;
}

@media (max-width: 640px) {
  .page__6__img1 {
    left: -3px;
  }
}

.page__6__img2 {
  bottom: -35px;
  right: 0;
}

.page__7 {
  background: #231F20;
}

@media (max-width: 640px) {
  .page__7 .container {
    padding: 0 10px;
  }
}

.page__8 {
  background-image: url("../images/page8_img1.jpg");
  position: relative;
}

.page__8__img1 {
  top: -55px;
  left: -60px;
  width: 20%;
}

@media (max-width: 640px) {
  .page__8__img1 {
    top: -30px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

.page__8__img2 {
  bottom: -55px;
  right: -60px;
  width: 20%;
}

@media (max-width: 640px) {
  .page__8__img2 {
    bottom: -40px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

.page__9 {
  position: relative;
}

.page__9__img1 {
  top: 30%;
  left: -60px;
  width: 20%;
}

.page__9__img2 {
  top: 30%;
  right: -60px;
  width: 20%;
}

.page__9 .box {
  margin-top: 50px;
}

.page__9 .box > div {
  padding: 0 30px;
}

@media (max-width: 640px) {
  .page__9 .box > div {
    padding: 0 10px;
  }
}

.page__9 .box .item {
  text-align: left;
  font-size: 16px;
  margin-bottom: 50px;
}

.page__9 .box .item p {
  margin: 10px 0;
}

.page__9 .box .item__head {
  overflow: hidden;
}

.page__9 .box .item__head__right {
  padding: 10px;
}

.page__9 .box .item__head strong {
  display: block;
  font-family: "e_b", sans-serif;
  font-size: 24px;
  clear: both;
}

.page__9 .box .item__head p {
  margin: 0;
}

.page__9 .box .item__bottom strong {
  border-bottom: 1px solid #fff;
  display: block;
  clear: both;
}

.page__10 {
  background-image: url("../images/page10_img1.jpg");
  position: relative;
}

@media (max-width: 640px) {
  .page__10 {
    height: auto;
  }
}

.page__10__img1 {
  top: -55px;
  left: -60px;
  width: 20%;
}

@media (max-width: 640px) {
  .page__10__img1 {
    top: -30px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

.page__10__img2 {
  bottom: -55px;
  right: -60px;
  width: 20%;
}

@media (max-width: 640px) {
  .page__10__img2 {
    bottom: -40px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

.page__11 {
  background-image: url("../images/page11_img1.jpg");
  position: relative;
}

.page__11--plus {
  background: url("../images/page11_img1a.png") left top no-repeat, url("../images/page11_img1b.png") right bottom no-repeat, none;
  background-attachment: fixed;
  background-size: 30%;
}

.page__11__img1 {
  top: -55px;
  left: -60px;
  width: 20%;
}

@media (max-width: 640px) {
  .page__11__img1 {
    top: -30px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

.page__11__img2 {
  bottom: -55px;
  right: -60px;
  width: 20%;
}

@media (max-width: 640px) {
  .page__11__img2 {
    bottom: -40px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

.page__12 {
  background: #160020;
}

.page__13 {
  background-image: url("../images/page13_img1.jpg");
}

.page__13 .page__article {
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  margin-top: 200px;
}

.page__14 {
  background-image: url("../images/page14_img1.jpg");
}

.page__15--plus {
  background: url("../images/page15_img1b.png") left bottom no-repeat, url("../images/page15_img1.png") right top no-repeat, none;
  background-attachment: fixed;
  background-size: 30%;
}

.page__16 {
  background-image: url("../images/page16_img1.jpg");
  position: relative;
  min-height: 100%;
  height: 100%;
}

@media (max-width: 1024px) {
  .page__16 {
    height: auto;
  }
}

.page__17 {
  position: relative;
}

.page__17--plus {
  background: url("../images/page17_img1b.png") left bottom no-repeat, url("../images/page17_img1.png") right top no-repeat, none;
  background-attachment: fixed;
}

@media (max-width: 1024px) {
  .page__17--plus {
    background-size: 20%;
  }
}

.page__18 {
  background-image: url("../images/page18_img1.jpg");
  position: relative;
}

.page__19 {
  background: #e8e8e8;
  position: relative;
  height: 95%;
  color: #000;
}

@media (max-width: 640px) {
  .page__19 {
    height: auto;
  }
}

.page__19 p {
  color: #000;
}

.footer {
  background: #000;
  text-align: center;
  color: #fff;
}

.footer h3 {
  font-size: 14px;
}

.footer ul li {
  display: list-item;
  margin: 30px 0;
}

.footer small {
  display: block;
}

.scrollup {
  position: fixed;
  bottom: 14px;
  display: none;
  right: 20px;
  text-indent: -9999px;
  background: url(../images/ontop.png) no-repeat center center;
  z-index: 9999;
  background-size: 100%;
}

@media (min-width: 320px) {
  .scrollup {
    width: 25px;
    height: 25px;
  }
}

@media (min-width: 641px) {
  .scrollup {
    width: 40px;
    height: 40px;
  }
}

.scrollup--show {
  display: block;
}

@font-face {
  font-family: icomoon;
  src: url(../fonts/icomoon.eot?5gt1up);
  src: url(../fonts/icomoon.eot?5gt1up#iefix) format("embedded-opentype"), url(../fonts/icomoon.ttf?5gt1up) format("truetype"), url(../fonts/icomoon.woff?5gt1up) format("woff"), url(../fonts/icomoon.svg?5gt1up#icomoon) format("svg");
  font-weight: 400;
  font-style: normal;
}

[class*=" icon-"],
[class^=icon-] {
  font-family: icomoon !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*––––––––––––– socmed icon –––––––––––––*/
.bg-tw,
.kcm-social-footer li a:hover .ico-social.icon-tw {
  background: #5EAADE;
}

.bg-fb,
.kcm-social-footer li a:hover .ico-social.icon-fb {
  background: #3B579D;
}

.bg-gp,
.kcm-social-footer li a:hover .ico-social.icon-gp {
  background: #DD4B39;
}

.bg-in,
.kcm-social-footer li a:hover .ico-social.icon-in {
  background: #0077B4;
}

.bg-ig,
.kcm-social-footer li a:hover .ico-social.icon-ig {
  background: #3F729B;
}

.bg-pint,
.kcm-social-footer li a:hover .ico-social.icon-pint {
  background: #CE2029;
}

.bg-comment {
  background: #B6B6B6;
}

.bg-wa {
  background: #64d448;
}

.ico-social {
  font-size: 16px;
  color: #fff;
  border-radius: 16px;
  padding: 5px;
  background: #b6b6b6;
}

.icon-info:before {
  content: "\e901";
}

.icon-photo:before {
  content: "\e801";
}

.icon-gp2:before {
  content: "\e904";
}

.icon-play:before {
  content: "\e906";
}

.icon-search:before {
  content: "\e1ba";
}

.icon-zoom-in:before {
  content: "\e1bc";
}

.icon-cross:before {
  content: "\e36b";
}

.icon-gp:before {
  content: "\e493";
}

.icon-ig:before {
  content: "\e49c";
}

.icon-tw:before {
  content: "\e49d";
}

.icon-in:before {
  content: "\e4cf";
}

.icon-pint:before {
  content: "\e4d6";
}

.icon-arr-left2:before {
  content: "\e600";
}

.icon-arr-up:before {
  content: "\e601";
}

.icon-wa:before {
  content: "\e605";
}

.icon-comment2:before {
  content: "\e60a";
}

.icon-kompascom:before {
  content: "\e611";
}

.icon-arr-down:before {
  content: "\e612";
}

.icon-arr-right2:before {
  content: "\e613";
}

.icon-fb:before {
  content: "\e614";
}

.icon-link:before {
  content: "\e900";
}

.share-area ul {
  margin: 0;
  padding: 0;
}

.share-area li {
  display: inline;
  cursor: pointer;
}

.share-area li:hover {
  cursor: pointer;
}

.share-area li a {
  color: #ED1C24;
}

.share-area li a.menu-nav {
  color: #FFFFFF;
  margin-left: 15px;
}

.share-area li a.menu-nav:hover {
  text-decoration: none;
}

.share-area li a:hover {
  cursor: pointer;
  text-decoration: none;
}

.share-area {
  position: absolute;
  z-index: 2;
  float: right;
  top: 5px;
  right: 5px;
}

.share {
  z-index: 9999;
}

.share.hide {
  display: none;
}

.share--mobile {
  position: fixed;
  right: 0;
}

.share--right {
  display: inline-block;
  float: right;
}

.share__title {
  position: relative;
  color: #fff;
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}

.share__title:before {
  content: "\f1e0";
  font-family: "icomoon";
  font-size: 20px;
  line-height: 1;
}

.share--inline {
  display: inline-block;
}

.share__right {
  display: inline-block;
  float: right;
}

.share__fixed {
  position: absolute;
  bottom: 13px;
  right: 55px;
  z-index: 9;
}

.share__wrap {
  padding: 0 5px;
  margin: 0;
  display: block;
  height: 30px;
  float: right;
}

.share__wrap--float {
  position: absolute;
  top: 40px;
  right: 0;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  min-width: 130px;
  height: auto;
}

.share__wrap--float .share__link {
  color: #fff;
  background: transparent;
}

.share__wrap--float .share__link:hover {
  background: transparent;
}

.share__wrap--float .share__link--fb:hover span {
  color: #3b5998;
}

.share__wrap--float .share__link--tw:hover span {
  color: #4099FF;
}

.share__wrap--float .share__link--wa:hover span {
  color: #43d854;
}

.share__item {
  padding: 0;
  margin: 5px 2px;
  display: block;
  float: left;
}

.share__link {
  width: 32px;
  height: 32px;
  padding: 7px 5px;
  margin: 0;
  line-height: 1;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  text-align: center;
  vertical-align: middle;
}

.share__link:hover {
  color: #fff;
}

.share__link--fb {
  color: #fff;
  background: #3b5998;
}

.share__link--tw {
  color: #fff;
  background: #4099FF;
}

.share__link--wa {
  color: #fff;
  background: #43d854;
}

.share__link--fb:hover {
  color: #3b5998;
  background: #fff;
}

.share__link--tw:hover {
  color: #4099FF;
  background: #fff;
}

.share__link--wa:hover {
  color: #43d854;
  background: #fff;
}

.nav {
  position: relative;
  float: right;
  right: 50px;
}

.nav__menu {
  font-size: 22px;
  color: #fff;
  padding: 7px 10px;
  display: block;
}

.nav__wrap::before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.nav__item {
  display: block;
}

.nav__wrap--hidden {
  display: block;
  position: absolute;
  top: 46px;
  right: 0;
  z-index: 3;
}

@-webkit-keyframes moveDown {
  from {
    top: 0%;
  }
  to {
    top: 2%;
  }
}

@keyframes moveDown {
  from {
    top: 0%;
  }
  to {
    top: 2%;
  }
}

@-webkit-keyframes moveDownLong {
  0% {
    top: -200%;
    opacity: 1;
  }
  50% {
    top: 100%;
    opacity: 1;
  }
  100% {
    top: 150%;
    opacity: 0;
  }
}

@keyframes moveDownLong {
  0% {
    top: -200%;
    opacity: 1;
  }
  50% {
    top: 100%;
    opacity: 1;
  }
  100% {
    top: 150%;
    opacity: 0;
  }
}

@-webkit-keyframes moveUp {
  from {
    top: 120%;
  }
  to {
    top: 0%;
  }
}

@keyframes moveUp {
  from {
    top: 120%;
  }
  to {
    top: 0%;
  }
}

@-webkit-keyframes moveUpGround {
  from {
    bottom: -20%;
    height: 10%;
  }
  to {
    bottom: 0%;
  }
}

@keyframes moveUpGround {
  from {
    bottom: -20%;
    height: 10%;
  }
  to {
    bottom: 0%;
  }
}

@-webkit-keyframes moveLeft {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}

@keyframes moveLeft {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}

@-webkit-keyframes moveLeftb {
  from {
    left: 45%;
  }
  to {
    left: 47%;
  }
}

@keyframes moveLeftb {
  from {
    left: 45%;
  }
  to {
    left: 47%;
  }
}

@-webkit-keyframes moveRight {
  0% {
    right: 0%;
  }
  50% {
    right: 60%;
    opacity: 1;
  }
  100% {
    right: -100%;
    opacity: 0;
  }
}

@keyframes moveRight {
  0% {
    right: 0%;
  }
  50% {
    right: 60%;
    opacity: 1;
  }
  100% {
    right: -100%;
    opacity: 0;
  }
}

@-webkit-keyframes boat {
  0% {
    -webkit-transform: translateX(-15%);
            transform: translateX(-15%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes boat {
  0% {
    -webkit-transform: translateX(-15%);
            transform: translateX(-15%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes sizeIn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sizeIn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes scaled {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaled {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes sizeOut {
  0% {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
  50% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sizeOut {
  0% {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
  50% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes sizeOutHide {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes sizeOutHide {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes opacity2 {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity2 {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.scrollUp {
  top: -100%;
}

.scrollDown {
  top: 0%;
}

@media (max-width: 360px) {
  .scrollMobile {
    position: relative;
  }
}

.animation__duration {
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.animation__duration.fast {
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}

.animation__duration.fast2 {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.animation__duration.first {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.animation__duration.second {
  -webkit-animation-duration: 1.25s;
          animation-duration: 1.25s;
}

.animation__duration.third {
  -webkit-animation-duration: 1.50s;
          animation-duration: 1.50s;
}

.animation__duration.fourth {
  -webkit-animation-duration: 1.75s;
          animation-duration: 1.75s;
}

.animation__duration.long {
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.animation__duration.longer {
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
}

.animation__duration.rewind {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.animation__duration.repeat1 {
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.animation__moveDown {
  -webkit-animation-name: moveDown;
          animation-name: moveDown;
}

.animation__moveDownLong {
  -webkit-animation-name: moveDownLong;
          animation-name: moveDownLong;
}

.animation__moveUp {
  width: 100%;
  -webkit-animation-name: moveUp;
          animation-name: moveUp;
}

.animation__moveUp__ground {
  width: 100%;
  -webkit-animation-name: moveUpGround;
          animation-name: moveUpGround;
}

.animation__moveLeft {
  -webkit-animation-name: moveLeft;
          animation-name: moveLeft;
}

.animation__moveLeftb {
  -webkit-animation-name: moveLeftb;
          animation-name: moveLeftb;
}

.animation__moveRight {
  -webkit-animation-name: moveRight;
          animation-name: moveRight;
}

.animation__sizeIn {
  -webkit-animation-name: sizeIn;
          animation-name: sizeIn;
}

.animation__scaled {
  -webkit-animation-name: scaled;
          animation-name: scaled;
}

.animation__sizeOut {
  -webkit-animation-name: sizeOut;
          animation-name: sizeOut;
}

.animation__sizeOutHide {
  -webkit-animation-name: sizeOutHide;
          animation-name: sizeOutHide;
}

.animation__opacity {
  -webkit-animation-name: opacity;
          animation-name: opacity;
  display: block;
}

.animation__opacity2 {
  -webkit-animation-name: opacity;
          animation-name: opacity;
  display: block;
}

.animation__boat {
  -webkit-animation-name: boat;
          animation-name: boat;
}

.footer {
  z-index: 7;
  width: 100%;
  position: relative;
  bottom: 0;
  background: #000;
  color: #fff;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
}

.footer ul li a {
  position: relative;
  margin: 20px 10px 0;
}

.footer ul li a.kompascom {
  width: 200px;
  top: 9px;
}

.footer ul li a.bolasport {
  width: 120px;
}
/*# sourceMappingURL=styles.css.map */