.imgfillImg {
  width: 100% !important;
  height: 100% !important;
  object-position: 50% 50%;
  -o-object-fit: cover;
  object-fit: cover;

  &__top {
    object-position: 50% 0;
  }
  &__middle {
    object-position: 50% 25%;
  }
}

.text{

  &__wrap{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;

    &__1{
      -webkit-line-clamp: 1;
    }
    &__2{
      -webkit-line-clamp: 2;
    }
  }
}