//- cover
div(class="static-img static-img-cover")
        //- div(class="flex h-full items-center justify-center w-full")
        //-     div(class="container relative ")
        //-         div(class="items-center gap-10")
        //-             div(class="telkom-hub transition-all")
        //-                 img(src="assets/images/telkom-hub.png", alt="")
        //-             div(class="logo-58 absolute right-0 top-0 transition-all")
        //-                 img(src="assets/images/58-logo.png", alt="")


//- static-bg-1
div(class="static-bg static-bg-1 -z-10")
   img(src="assets/images/bg-left.png", alt="" class="bg-left h-full w-auto max-w-none absolute transition-all duration-700 left-[-100%] top-0")
   img(src="assets/images/bg-right.png", alt="" class="bg-right h-full w-auto max-w-none absolute transition-all duration-700 right-[-100%] top-0")

//- static-img-1
div(class="static-img static-img-1")
    div(class="flex h-full items-center justify-center w-full")
        div(class="container")
            div(class="logo-58 transition-all duration-700 absolute top-[150px] lg:top-[20px] left-0 right-0 w-[30%] lg:w-[300px] m-auto")
                img(src="assets/images/58-logo.png", alt="")
            h2(class="text-xl lg:text-4xl text-center mt-10 lg:mt-40 font-bold") Transformasi Telkom, <br> <span class="text-red1"> Sinergi untuk Indonesia</span>

//- static-img-1b
div(class="static-img static-img-1b")
    div(class="flex h-full w-full items-center justify-center ")
        div(class="container mt-20 lg:mt-40")
            div(class="text-sm lg:text-xl section-inner text1 mx-auto text-center bg-text1") 
                div(class="inner-text1")  
                    p(class="") Telkom Indonesia sebagai digital telco terdepan di Indonesia melalui digital connectivity, digital platform dan digital services berkomitmen hadir untuk memenuhi kebutuhan dan aktivitas seluruh lapisan masyarakat, baik personal, rumah, UMKM, korporasi hingga Pemerintahan. Dengan kekuatan digital yang dimiliki, Telkom bersinergi mendukung potensi dan mimpi besar anak bangsa untuk bergerak lebih cepat dan mewujudkan mimpi demi masa depan Indonesia yang lebih baik.

                div(class="inner-text2 hidden") 
                    p(class="") Telkom Indonesia akan terus mengikuti perkembangan teknologi dan berinovasi dengan semangat <span class="text-red1 font-bold"> Sinergi untuk Indonesia </span> membawa seluruh potensi agar selalu bergerak maju di masa depan bersama-sama untuk <br> <span class="text-red1 font-bold"> “Elevating Your Future” </span>
                
                div(class="inner-text3 hidden") 
                    p(class="") Sebagai motor utama penggerak digitalisasi, Telkom berkomitmen untuk bertransformasi menjadi digital telco dengan tiga domain bisnisnya, yaitu <span class="text-red1 font-bold"> Digital Connectivity, Digital Platform, </span> dan <span class="text-red1 font-bold"> Digital Services. </span>

//- static-img-2
div(class="static-img static-img-2 z-40")
    div(class="flex h-full items-center w-full")
        div(class="container mt-10 lg:mt-20")
            div(class="section-inner2 mx-auto")
                h3(class="font-bold text-2xl lg:text-4xl mb-1 lg:mb-5 uppercase") <span class="text-red1 ">Focus</span> 2023
                div(class="grid grid-cols-1 lg:grid-cols-6 gap-3 lg:gap-5")
                    div(class="flex items-center gap-2 col-span-2")
                        div(class=" flex-none")
                            img(src="assets/images/icon-fmc.png", alt="")
                        h5(class="font-semibold text-lg lg:text-xl font-bold lg:text-center") Fixed Mobile Convergence (FMC)
                    div(class="col-span-4 flex gap-10")
                        div(class=" items-center flex-none hidden lg:flex")
                            img(src="assets/images/line.svg", alt="")
                        
                        div(class="relative  flex items-center")
                            div(class="text-sm lg:text-xl static-img-2-desc1 elPlay") Pemisahan IndiHome adalah langkah awal implementasi Fixed Mobile Convergence (FMC) sebagai bagian dari strategi utama <span class="text-red1 font-bold ">“Five Bold Moves”</span> untuk mendukung inklusi digital melalui peningkatan keandalan konektivitas yang lebih luas dan merata bagi masyarakat.

                            div(class="text-sm lg:text-xl static-img-2-desc2 elPlay pushLeft absolute top-0 opacity-0 w-full bottom-0 flex lg:items-center") Sinergi IndiHome dan Telkomsel sebagai pemimpin pasar bisnis broadband akan memudahkan masyarakat mengakses beragam layanan digital.
