//- top
div(class="header fixed w-full top-0 left-0")
    div(class="w-full flex justify-between px-5 lg:px-8 pt-5 lg:pt-8") 
        div(class="w-[110px]")
            img(src="assets/images/bumn-logo.png", alt="Telkom Indonesia - Logo Bumn")
        div(class="w-[60px] logo-telkom" style="display:none")
            img(src="assets/images/telkom-indoensia-logo.png", alt="Telkom Indonesia - Logo")

//- bottom
div(class="footer fixed w-full bottom-0 left-0 z-[50]")
    div(class="w-full flex justify-between px-5 lg:px-8 pb-5 lg:pb-8") 
        div(class="flex items-end gap-5") 
            div(class="w-[70px] lg:w-[90px]")
                img(src="assets/images/elevating-logo.png", alt="Telkom Indonesia - Elavating Your Future")
            div(class="w-[90px] lg:w-[130px] hidden logo-bisniscom")
                img(src="assets/images/logo-bisniscom.svg", alt="Bisnis.com")

//- restart
div(class="restart fixed bottom-0 right-0 z-[999]")
    div(class="px-5 lg:px-8 pb-5 lg:pb-8") 
        a(href="index.html" class="hidden clickRestart") 
            div(class="flex gap-1 items-center") 
                div(class="flex-none")
                    img(src="assets/images/icon-restart.svg", alt="Restart")
                div(class="text-sm hidden lg:block") Restart
            

//- pin
div(class="fixed right-2 -bottom-2 lg:bottom-2 cursor-pointer w-[90px] lg:w-[111px] z-[999999] backB2b hidden")
    img(class="hidden lg:block" src="assets/images/pin-b2b.png", alt="")
    img(class="lg:hidden" src="assets/images/pin-b2b-m.png", alt="")


//- scroll guide
<div class="scroll-guide flex items-center justify-center font-semibold">
    <span class="icon-scroll"></span> scroll
</div>