extends ../templates/default.pug

//- Head
block siteHeader
  -
    siteTitle = 'Legion Pro 7i';

//- Body
block siteContent

  =`\n\n`

  //- section__1
  include ../layouts/section__1.pug

  =`\n\n`

  //- section__2
  include ../layouts/section__2.pug

  =`\n\n`

  //- section__3
  include ../layouts/section__3.pug

  =`\n\n`

  //- section__4
  include ../layouts/section__4.pug

  =`\n\n`
  
  //- section__5
  include ../layouts/section__5.pug

  =`\n\n`

  //- section__6
  include ../layouts/section__6.pug

  =`\n\n`

  //- section__7
  include ../layouts/section__7.pug

   =`\n\n`
  
  //- section__8
  include ../layouts/section__8.pug


   =`\n\n`
  
  //- section__9
  include ../layouts/section__9.pug

   =`\n\n`
  
  //- section__10
  include ../layouts/section__10.pug

 

  //- //- Sizes
  //- include home/sizes.pug

  //- =`\n\n`

  //- //- Beyond Performance
  //- include home/beyond-performance.pug

  //- =`\n\n`

  //- //- Beyond Performance Video
  //- include home/beyond-performance-v.pug

  //- =`\n\n`

  //- //- Beyond Performance
  //- //- include home/beyond-performance-spec.pug

  //- =`\n\n`

  //- //- Connectivity
  //- include home/connectivity.pug

  //- =`\n\n`

  //- //- Beyond Fast
  //- include home/beyond-fast.pug

  //- =`\n\n`

  //- //- Beyond Fast Desc
  //- include home/beyond-fast-desc.pug

  //- =`\n\n`

  //- //- Lovely Architecture Banner
  //- include home/lovely-architecture-banner.pug

  //- =`\n\n`

  //- //- Lovely Architecture
  //- include home/lovely-architecture.pug

  //- =`\n\n`

  //- //- Performance Summary
  //- include home/performance-summary.pug

  //- =`\n\n`

  //- //- Videos
  //- include ../layouts/legion-videos.pug

  //- =`\n\n`

  //- //- Power Your Play
  //- include home/power-your-play.pug

  =`\n\n`
