.header {
  .logo {
    width: 220px;
  }

  // topbar
  & > .bg__gray1 {
    @include max-responsive($md) {
      padding: 10px 20px;
    }
  }
  &__menu {
    ul {
      &.toggle.show {
        display: none;

        @include max-responsive($md) {
          display: flex;
        }
      }

      li {
      }
    }
  }

  &__open {
    position: fixed;
    top: 0;
    @extend .bg__gray5;

    & .header__menu {
      display: block;
    }
  }
}
