//- footer
div(class="footer  text-white")
    div(class="footer-inner relative min-h-[420px] flex items-center justify-center") 
        img(src="assets/images/path-footer.png", alt="" class="w-[50px] lg:w-auto absolute right-0 top-0") 
        div(class="container")
            div(class="text-center") 
                div 
                    h4(class="text-2xl font-bold mb-3 after:block after:w-[75px] after:content-[''] after:border-b-4 after:border-orange1 after:pb-3 flex justify-center items-center flex-col") Bergabung Menjadi Bagian Xpora
                    p(class="text-base") Asah <i>skill</i> kamu dan perluas usahamu dengan bergabung bersama BNI Xpora. Klik tombol dibawah untuk mendaftarkan diri.
                    div(class="flex justify-center mt-10") 
                        a(class="button px-20 lg:px-8 text-orange2 bg-white" href="#") Registrasi 
    div(class="bg-green2 py-10")
        div(class="container flex justify-center items-center text-center px-10 lg:px-0")
            div 
                p(class="font-bold text-base lg:text-xl mb-8") Media Partner:
                ul(class="grid grid-cols-3 lg:flex justify-center gap-x-10 gap-y-5 gap-x-10 lg:gap-10 items-center") 
                    li 
                        img(src="assets/images/logo-bisnisindo.svg", alt="")
                    li 
                        img(src="assets/images/Logo-Bisniscom.svg", alt="")
                    li 
                        img(src="assets/images/logo-bismud.svg", alt="")
                    li 
                        img(src="assets/images/logo-hypeabis.svg", alt="")
                    li 
                        img(src="assets/images/logo-context.svg", alt="")
                    li 
                        img(src="assets/images/logo-bisnisindoid.svg", alt="")

                small(class="mt-16 block text-xs") Copyright © 2023 – UMKM BNI