//- header
div(class="header fixed left-0 top-0 w-full py-4 lg:py-0 bg-white z-[9999] h-[65px] flex items-center")
    div(class="container mx-auto")
        div(class="grid grid-cols-12 items-center w-full relative" )
            div(class="logo flex col-span-10 lg:col-span-2")
                a(href="index.html")
                    h1 
                        img(src="assets/images/logo.svg", alt="BNI UMKM FESTIFAL" class="w-[120px] lg:w-auto") 
            div(class="col-span-8 fixed lg:relative top-0 menu bg-white w-full lg:w-auto lg:top-auto px-3 lg:px-0 right-[-100%] lg:right-[inherit] flex justify-center h-full lg:h-auto transition-all ")
                ul(class="flex flex-col lg:flex-row lg:gap-x-10 text-2xl lg:text-sm menu-inner justify-center") 
                    li(class="w-full lg:w-auto text-center")  
                        a(href="#section-home" class="active") Home  
                    li(class="w-full lg:w-auto text-center")  
                        a(href="#section-tentang") Tentang Kami  
                    li(class="w-full lg:w-auto text-center")  
                        a(href="#section-jadwal") Jadwal Acara
                    li(class="w-full lg:w-auto text-center")  
                        a(href="#section-galeri") Galeri Foto
                    li(class="w-full lg:w-auto text-center")  
                        a(href="#section-news") Berita  

            div(class="col-span-3 lg:col-span-2 flex gap-5 justify-end items-center fixed lg:relative bottom-0 left-0 right-0 w-full lg:w-auto") 
                div(class="w-full") 
                    a(class="button py-3 block flex items-center justify-center text-center text-lg" href="#") 
                        img(class="mr-2" src="assets/images/icon-regis.svg")   
                        span  Registrasi 

            div(class="menuClick hamburger hamburger--spring lg:hidden col-span-2 justify-end")
                div(class="hamburger-box")
                    div(class="hamburger-inner")            