div(class="pt-[60px]") 
    
    ='\n\n' 
    include ../scane/scane1.pug
    
    ='\n\n' 
    include ../scane/scane2.pug

    ='\n\n' 
    include ../scane/scane3.pug

    ='\n\n' 
    include ../scane/scane4.pug

    ='\n\n' 
    include ../scane/scane5.pug

    ='\n\n' 
    include ../scane/scane6.pug

    ='\n\n' 
    include ../scane/scane7.pug