.c6-disclaimer {
    padding-top: 80px;
    color: #153f74;
    background-color: #f5f5f7;
  }
  @media only screen and (max-width: 1199.98px) {
    .c6-disclaimer {
      padding-top: 72px;
    }
  }
  @media only screen and (max-width: 991.98px) {
    .c6-disclaimer {
      padding-top: 56px;
    }
  }
  @media only screen and (max-width: 767.98px) {
    .c6-disclaimer {
      padding-top: 40px;
    }
  }
  .c6-disclaimer .c6-container {
    max-width: 1495px;
  }
  @media only screen and (max-width: 1575px) {
    .c6-disclaimer .c6-container {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
  @media only screen and (max-width: 767.98px) {
    .c6-disclaimer .c6-container {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  // .c6-disclaimer__inner {
  //   padding-bottom: 56px;
  //   border-bottom: 1px solid #153f74;
  // }
  // @media only screen and (max-width: 991.98px) {
  //   .c6-disclaimer__inner {
  //     padding-bottom: 48px;
  //   }
  // }
  // @media only screen and (max-width: 767.98px) {
  //   .c6-disclaimer__inner {
  //     padding-bottom: 40px;
  //   }
  // }
  .c6-disclaimer p {
    font-size: 18px;
    line-height: 36px;
    letter-spacing: -0.45px;
    margin-bottom: 32px;
  }
  @media only screen and (max-width: 767.98px) {
    .c6-disclaimer p {
      font-size: 14px;
      line-height: 28px;
    }
  }
  .c6-disclaimer p:last-child {
    margin-bottom: 0;
  }
  