//slider utama
.slider {
    height: 532px;

    &  .relative{
        height: 532px;
        
    }

    & .slick-slide{

        .flex{
            display: flex !important;
        }
    }

    &__detail{
        height: auto;
    }
}
.slick-dotted.slick-slider{
    margin-bottom: 0;
}
.slider__dots  {

    .slick-dots {
        bottom: 40px;
        text-align: left;

        @include max-responsive($lg){
            bottom: 10px;
        }

        li{
            width: 10px;
            height: 10px;

            @include max-responsive($lg){
                margin: 0 4px;
            }
        }
        .slick-active button:before{
            @extend .bg__green;
            color: transparent;
        }
        button{            
            &::before{
                opacity: 1;
                color: transparent;
                background: #fff;
                border-radius: 50%;
                width: 12px;
                height: 12px;

                @include max-responsive($lg){
                    width: 8px;
                    height: 8px;
                }
            }
        }
    }

    &--detail{
        @include min-responsive($lg){
            display: none;
        }
    }
}


//slider
.slider__item,
.slider__promo,
.slider__product {

    .slick-list {
        padding-top: 0.5rem;
    }

    & .slick-arrow{
        @extend .bg__green;
        background-color: #4FB852;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        z-index: 9999;
        background-repeat: no-repeat;
        background-size: 15px;
        background-position: center;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        @include base_transition(all);
    }

    .slick-arrow:before{
        content: "";
    }
    .slick-next{
        background-image: url(../images/svg/arrow_right2.svg);
        right: 0;
    }
    .slick-prev{
        background-image: url(../images/svg/arrow_left2.svg);
        left: 0;
    }
}


.slider__item__dots,
.slider__dots--detail,
.slider__product__dots  {

    .slick-dots {
        bottom: -40px;
        text-align: center;

        li{
            width: 10px;
            height: 10px;
            @include max-responsive($lg){
                margin: 0 4px;
            }
        }
        .slick-active button:before{
        background-color: $color_orange !important;
            color: transparent;
        }
        button{            
            &::before{
                opacity: 1;
                color: transparent;                
                background-color: #C4C4C4;
                border-radius: 50%;
                width: 12px;
                height: 12px;
                @include max-responsive($lg){
                    width: 8px;
                    height: 8px;
                }
            }
        }
    }
}

//product
.product{

    &__list{

        @include max-responsive($lg){
            overflow-x: auto;
            grid-auto-flow: column;
        }

        &__logo{
            max-width: 50px;
            max-height: 20px;
            display: block;
            margin-top: 5px;
        }
        &__label{
            display: flex;
            align-items: center;
            height: 20px;
            padding: 0 5px;

            &__detail{
                height: auto;
                padding: 3px 10px;
            }

            &.labeltoko{
                display: none;
            }
        }

        a{
            display: block;
        }

        &__photo{
            height: 160px;
            overflow: hidden;
            text-align: center;
            img{
                max-height: 100%;
                width: auto;
            }

            @include max-responsive($lg){
                height: 130px;
            }
        }



        &.slider__promo,
        &.slider__product{


            & .slick-slide{
                margin:0 0.625rem;
            }

            & .slick-next {
                right: -10px;
            }
            & .slick-prev {
                left: -10px;
            }
        }
    }

    &__item{

        &__m{
            @include max-responsive($lg){
                width: 140px;
                margin: 0 auto;
            }

            &:last-child {
                @include max-responsive($lg){
                    margin-right: 10px
                }
            }
        }

        
        

        
        @include base_transition(all);
        position: relative;
        top: 0;
        &:hover{
            border-color: $color_gray5;
            top: -7px;
            .labeltoko{
                display: flex;
            }
        }    

        & > a{
            width: 100%
        }

        & > div{

            & > a{
                display: flex;
                justify-content: center;
            }
        }
    }

    &__label{
        height: 25px;
    }


    &__detail{

        &__brand{
            width: 150px;
            display: block;
            img{
                max-height: 50px;
            }
        }
    }
}

#menu__category{
    li{
        img{
            @include base_transition(all);
        }
        ul{
            display: none;

            li{

            }
        }
    }
}


.whatsapp__link{
    position: fixed;
    right: -41px;
    bottom: 400px;
    background-color: $color_green;
    color: #fff;
    font-size: 14px;
    display: flex;
    -ms-transform: rotate(90deg); /* IE 9 */
    transform: rotate(90deg);
    border-radius: 0px 0 6px 6px;
    padding: 5px 10px;
    box-shadow: (4px 0 4px rgba(0, 0, 0, 0.15));
    @include base_transition(all);
    z-index: 9999;
    
    &:hover{
        background-color: $color_green2;
    }

    @include max-responsive($lg){
        bottom: 70px;
    }
}


// accordion
.accordion{
  
    .inner {
      overflow: hidden;
      //display: none;
      @include min-responsive($xl){
          display: none !important;
      }
    }
    
    
    li a.toggleAccordion {
      display: flex;
    }

    &__brands,
    &__kategorimenu,
    &__submenu{

        li{
            display: block;
            width: 100%;
        }
        .inner {
            overflow: hidden;
            display: none;
            //margin-top: 10px;
            @include min-responsive($xl){
                display: block !important;
            }
            
            &.show{}
          }
    }
}
  
.sidebarLayer{
    z-index: 999;
}
.sidebar{
    @include max-responsive($lg){
        position: fixed;
        left: -300px;
        top: 0;
        width: 300px;
        padding: 0;
        z-index: 99999999;
        background: #fff;
        height: 100%;
        overflow-y: auto;

        &.active{
            left: 0;
        }
    }
}

.tampilkan{
    width: 235px;
    right: 0;
    left: 0;
    margin: 0 auto;
    position: fixed;
    z-index: 9999;
    display: none;

    &.active{
        display: block;
    }

    span{
        width: 12px;
        height: 12px;

        &.active{
            background-color: $color_green;
            border: 0;
        }
    }
}
